<div class="item" [ngClass]="nbackstyle()">
  <section>
    <table id="itemtablenotype" border="0" cellpadding="0" cellspacing="0">
      <tbody>
      <tr>
        <td id="name" [ngClass]="{'highlight': highlight}">{{item.Name}}</td>
        <td id="bigtext" class="ng-cloak">
          <span *ngIf="item.Barometer">{{item.Barometer}} hPa</span>
          <span *ngIf="item.Rain">{{item.Rain}} mm</span>
          <span *ngIf="item.Visibility != undefined || item.Radiation != undefined">{{item.Data}}</span>
          <span *ngIf="item.UVI">{{item.UVI}} UVI</span>
          <span *ngIf="item.Direction != undefined">{{item.DirectionStr}}</span>
          <span *ngIf="item.Speed"> / {{item.Speed}} {{windsign}}</span>
          <span *ngIf="!item.Speed && item.Gust"> / {{item.Gust}} {{windsign}}</span>
        </td>
        <td id="img">
          <img [src]="'images/' + image()" height="48" width="48">
        </td>
        <td id="status" class="ng-cloak">
          <span *ngIf="item.Barometer && item.ForecastStr">{{'Prediction'| translate}}: {{item.ForecastStr | translate}}</span>
          <span *ngIf="item.Barometer && item.Altitude != undefined">, Altitude: {{item.Altitude}} meter</span>
          <span *ngIf="item.Rain && item.RainRate">Rate: {{item.RainRate}} mm/h</span>
          <span *ngIf="item.UVI && item.Temp">{{'Temp'| translate}}: {{item.Temp}}&#176; {{tempsign}}</span>
          <span *ngIf="item.Direction">{{item.Direction}} {{item.DirectionStr}}</span>
          <span *ngIf="item.Direction && item.Speed">, {{'Speed'| translate}}: {{item.Speed}} {{windsign}}</span>
          <span *ngIf="item.Direction && item.Gust">, {{'Gust'| translate}}: {{item.Gust}} {{windsign}}</span>
          <br *ngIf="item.Direction">
          <span *ngIf="item.Temp && item.Chill && item.Direction">{{'Temp'| translate}}: {{item.Temp}}&#176; {{tempsign}},
          </span>
          <span *ngIf="item.Chill && item.Direction">{{'Chill'| translate}}: {{item.Chill}}&#176; {{tempsign}}</span>
        </td>
        <td id="lastupdate">{{item.LastUpdate}}</td>
        <td class="options">
          <img *ngIf="item.Favorite == 0" src="images/nofavorite.png" (click)="MakeFavorite(1)" class="lcursor" [title]="'Add to Dashboard'| translate">
          <img *ngIf="item.Favorite != 0" src="images/favorite.png" (click)="MakeFavorite(0)" class="lcursor" [title]="'Remove from Dashboard'| translate">
          &nbsp;&nbsp;
          <a class="btnsmall" (click)="ShowLog()">{{'Log'| translate}}</a>&nbsp;

          <span *dzHasPermission="'Admin'">
            <a class="btnsmall" (click)="EditDevice()">{{'Edit'| translate}}</a>&nbsp;
            <a [routerLink]="['/Devices', item.idx, 'Notifications']" [ngClass]="{'btnsmall-sel': item.Notifications=='true', 'btnsmall': item.Notifications!='true'}">{{'Notifications'| translate}}</a>&nbsp;

            <a *ngIf="item.forecast_url" class="btnsmall" [routerLink]="['/Weather', 'Forecast', item.idx]">{{'Forecast'| translate}}</a>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </section>
</div>
