<div #popup id="rgbw_popup" class="ui-popup ui-body-b ui-overlay-shadow ui-corner-all pop" [ngStyle]="style" [style.display]="display ? 'block' : 'none'">
  <div class="ui-close" (click)="CloseRGBWPopup()"></div>
  <div id="rgbw_popup_colour">
    <span>{{'Color'| translate}}</span>:<br>
    <table class="display" border="0" cellpadding="0" cellspacing="0">
      <tr id="PopupLedColor">
        <td>
          <table id="ledtable" class="display" border="0" cellpadding="0" cellspacing="0">
            <tr id="ColorMode">
              <td>
                <a><img src="images/RGB48.png" class="lcursor pickermodergb unselected" height="48" width="48"></a>
                <a><img src="images/RGB48_Sel.png" class="lcursor pickermodergb selected" height="48" width="48"></a>
                <a><img src="images/Coltemp48.png" class="lcursor pickermodetemp unselected" height="48" width="48"></a>
                <a><img src="images/Coltemp48_Sel.png" class="lcursor pickermodetemp selected" height="48" width="48"></a>
                <a><img src="images/White48.png" class="lcursor pickermodewhite unselected" height="48" width="48"></a>
                <a><img src="images/White48_Sel.png" class="lcursor pickermodewhite selected" height="48" width="48"></a>
                <a><img src="images/Customw48.png" class="lcursor pickermodecustomw unselected" height="48" width="48"></a>
                <a><img src="images/Customw48_Sel.png" class="lcursor pickermodecustomw selected" height="48" width="48"></a>
                <a><img src="images/Customww48.png" class="lcursor pickermodecustomww unselected" height="48" width="48"></a>
                <a><img src="images/Customww48_Sel.png" class="lcursor pickermodecustomww selected" height="48" width="48"></a>
              </td>
            </tr>
            <tr>
              <td align="left" style="width:200px">
                <input type="text" id="popup_picker" data-wheelcolorpicker="" data-wcp-layout="block" data-wcp-sliders="wvkl" />
                <div class="btn-group">
                  <button *ngIf="item.DimmerType == 'rel'" (click)="BrightUp()" id="popup_bright_up" class="btn btn-small" type="button">
                    Brightness Up
                  </button>
                  <button *ngIf="item.DimmerType == 'rel'" (click)="BrightDown()" id="popup_bright_down" class="btn btn-small" type="button">
                    Brightness Down
                  </button>
                </div>
                <div class="btn-group">
                  <button *ngIf="item.DimmerType == 'rel' && ledType.bHasTemperature" (click)="Warmer()" id="popup_warmer" class="btn btn-small" type="button">
                    Warmer White
                  </button>
                  <button *ngIf="item.DimmerType == 'rel' && ledType.bHasTemperature" (click)="Cooler()" id="popup_colder" class="btn btn-small" type="button">
                    Colder White
                  </button>
                </div>
              </td>
              <td align="left" style="vertical-align: center;">
                <a id="popup_switch_on" (click)="SwitchLightPopup('On')"><img src="images/Push48_On.png" class="lcursor" height="48" width="48"></a><br>
                <a id="popup_switch_off" (click)="SwitchLightPopup('Off')"><img src="images/Push48_Off.png" class="lcursor" height="48" width="48"></a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!--
        <span>{{'Brightness'| translate}}</span>:<br>
			<div style="width:90%; left: 14px; bottom: 11px;" class="dimslider" id="slider" data-idx="popupslider" data-type="norm" data-maxlevel="100" data-isprotected="0" data-svalue="33"></div>
      <br><br>
    -->
  </div>
</div>
