<div ng-app="domoticz" ng-controller="myCtrl">
	First Name: <input type="text" ng-model="firstName"><br>
	Last Name: <input type="text" ng-model="lastName"><br>
	<br/>
	Full Name: {{firstName + " " + lastName}}
	<br/><br/>
	<div class="chartcontainer" style="width: 400px;"></div>
</div>

<script>

var app = angular.module(['myApp'], []);
app.controller('myCtrl', function($scope, $element, $rootScope, $location, $http, $interval, livesocket) {

	$scope.$firstName = '';
	$scope.$lastName = '';
	
	$scope.chartDefinition = {
		chart: {
			type: 'gauge',
			plotBackgroundColor: null,
			plotBackgroundImage: null,
			plotBorderWidth: 0,
			plotShadow: false,
			height: '80%'
		},
		title: {
			text: 'Speedometer'
		},
		pane: {
			startAngle: -90,
			endAngle: 89.9,
			background: null,
			center: ['50%', '75%'],
			size: '110%'
		},
		// the value axis
		yAxis: {
			min: 0,
			max: 200,
			tickPixelInterval: 72,
			tickPosition: 'inside',
			tickColor: Highcharts.defaultOptions.chart.backgroundColor || '#FFFFFF',
			tickLength: 20,
			tickWidth: 2,
			minorTickInterval: null,
			labels: {
				distance: 20,
				style: {
					fontSize: '14px'
				}
			},
			lineWidth: 0,
			plotBands: [{
				from: 0,
				to: 120,
				color: '#55BF3B', // green
				thickness: 20
			}, {
				from: 120,
				to: 160,
				color: '#DDDF0D', // yellow
				thickness: 20
			}, {
				from: 160,
				to: 200,
				color: '#DF5353', // red
				thickness: 20
			}]
		},
		series: [{
			name: 'Speed',
			data: [ 100 ],
			tooltip: {
				valueSuffix: ' km/h'
			},
			dataLabels: {
				format: '{y} km/h',
				borderWidth: 0,
				color: (
					Highcharts.defaultOptions.title &&
					Highcharts.defaultOptions.title.style &&
					Highcharts.defaultOptions.title.style.color
				) || '#333333',
				style: {
					fontSize: '16px'
				}
			},
			dial: {
				radius: '80%',
				backgroundColor: 'gray',
				baseWidth: 12,
				baseLength: '0%',
				rearLength: '0%'
			},
			pivot: {
				backgroundColor: 'gray',
				radius: 6
			}

		}]
	};

	init();
	
	function init() {
		$scope.firstName = "John";
		$scope.lastName = "Doe";
		
		const self = this;

		$scope.myChart = $element.find('.chartcontainer').highcharts($scope.chartDefinition).highcharts();
		
		$scope.mytimer = $interval(function () { $scope.RandomNeedle(); }, 1000);
	}

	$scope.RandomNeedle = function () {
		let chart = $scope.myChart;
		
		if (chart && !chart.renderer.forExport) {
			const point = $scope.myChart.series[0].points[0];
			let newVal = 100 + Math.round((Math.random() - 0.5) * 40);
			point.update(newVal);
		}
	}
	
	$scope.$on('$destroy', function () {
		//stop timers and cleanup here
		if (typeof $scope.mytimer !== "undefined") {
			$interval.cancel($scope.mytimer);
			$scope.mytimer = undefined;
		}
	});
});
</script>
