<div class="chart noselect">
    <div class="chart-title-center">
        <div class="chart-title-container">
            <h2 ng-bind="chartTitle"></h2>
        </div>
    </div>
    <div class="chartarea">
        <div class="zoom-buttons-container">
            <button class="zoom-button" ng-class="{'zoom-button-active': resolution === 60}" ng-click="setResolution(60)" ng-bind="resolutionLabel(60)" ng-show="priceResolution < 60"></button>
            <button class="zoom-button" ng-class="{'zoom-button-active': resolution < 60}" ng-click="setResolution(priceResolution)" ng-bind="resolutionLabel(priceResolution)" ng-show="priceResolution < 60"></button>
            <button class="zoom-button" ng-class="{'zoom-button-active': zoomType === 'all'}" ng-click="setZoomType('all')" ng-bind="zoomLabel('All')"></button>
            <button class="zoom-button" ng-class="{'zoom-button-active': zoomType === '1d'}" ng-click="setZoomType('1d')" ng-bind="zoomLabel('1d')"></button>
            <button class="zoom-button" ng-class="{'zoom-button-active': zoomType === 'today'}" ng-click="setZoomType('today')" ng-bind="zoomLabel('Day')"></button>
        </div>
        <div class="chartcontainer"></div>
    </div>
</div>
