<div class="chart">
    <h2 ng-bind="chartTitle"></h2>
    <div class="chartarea">
        <button class="zoom-1 zoom-button" ng-click="zoomDays(1*7)" ng-bind="zoomLabel('1w')"></button>
        <button class="zoom-2 zoom-button" ng-click="zoomDays(2*7)" ng-bind="zoomLabel('2w')"></button>
        <button class="zoom-3 zoom-button" ng-click="zoomDays(1*30)" ng-bind="zoomLabel('1M')"></button>
        <button class="zoom-4 zoom-button" ng-click="zoomDays(3*30)" ng-bind="zoomLabel('3M')"></button>
        <button class="zoom-5 zoom-reset" ng-click="zoomreset()" ng-bind="zoomLabel('Reset')"></button>
        <div class="chartcontainer"></div>
    </div>
</div>