<div class="chart noselect">
    <div class="chart-title-center">
        <div class="chart-title-container" ng-class="{clickable: chartTitleToggling}">
            <h2 ng-bind-html="chartTitle"></h2>
        </div>
    </div>
    <div class="chartarea">
        <div class="zoom-buttons-container">
            <button class="zoom-button" ng-class="{'zoom-button-active': groupingBy === 'year'}" ng-click="groupBy('year')" ng-bind="groupByLabel('y')"></button>
            <button class="zoom-button" ng-class="{'zoom-button-active': groupingBy === 'quarter'}" ng-click="groupBy('quarter')" ng-bind="groupByLabel('q')"></button>
            <button class="zoom-button" ng-class="{'zoom-button-active': groupingBy === 'month'}" ng-click="groupBy('month')" ng-bind="groupByLabel('m')"></button>
            <button class="zoom-button" ng-if="luxScaleAvailable" ng-class="{'zoom-button-active': !luxScaleLogarithmic}" ng-click="setLuxScale(false)" ng-bind="'Linear' | translate"></button>
            <button class="zoom-button" ng-if="luxScaleAvailable" ng-class="{'zoom-button-active': luxScaleLogarithmic}" ng-click="setLuxScale(true)" ng-bind="'Logarithmic' | translate"></button>
        </div>
        <div class="chartcontainer"></div>
    </div>
</div>
