<counter-current-conditions
        device="::$ctrl.device">
</counter-current-conditions>
<counter-day-chart
        class="device-log-chart"
        device="::$ctrl.device"></counter-day-chart>

<counter-hour-chart
		ng-if="$ctrl.subtype=='p1Energy'"
        class="device-log-chart"
        device="::$ctrl.device"></counter-hour-chart>

<counter-month-chart
        class="device-log-chart"
        device="::$ctrl.device"></counter-month-chart>

<counter-year-chart
        class="device-log-chart device-log-chart_lg"
        device="::$ctrl.device"></counter-year-chart>

<div ng-if="::$ctrl.subtype=='energy-used' || $ctrl.subtype=='energy-generated' || $ctrl.subtype=='p1Energy' || $ctrl.subtype=='gas' || $ctrl.subtype=='water'"
     class="device-log-chart"
     style="height: auto;">
    <counter-calendar-heatmap-chart
            subtype="::$ctrl.subtype"
            device="::$ctrl.device">
    </counter-calendar-heatmap-chart>
</div>

<counter-weekly-heatmap-chart
        ng-if="::$ctrl.subtype=='energy-used' || $ctrl.subtype=='energy-generated' || $ctrl.subtype=='p1Energy' || $ctrl.subtype=='instantAndCounter'"
        class="device-log-chart"
        device="::$ctrl.device">
</counter-weekly-heatmap-chart>

<counter-cumulative-chart
        ng-if="::$ctrl.subtype=='energy-used' || $ctrl.subtype=='energy-generated' || $ctrl.subtype=='p1Energy' || $ctrl.subtype=='gas' || $ctrl.subtype=='water'"
        class="device-log-chart"
        subtype="::$ctrl.subtype"
        device="::$ctrl.device">
</counter-cumulative-chart>

<counter-stat-chart
		ng-if="::$ctrl.subtype=='energy-used' || $ctrl.subtype=='energy-generated' || $ctrl.subtype=='p1Energy' || $ctrl.subtype=='instantAndCounter'"
        class="device-log-chart"
        device="::$ctrl.device"></counter-stat-chart>

<counter-compare-chart
        ng-if="::$ctrl.subtype=='energy-used' || $ctrl.subtype=='gas' || $ctrl.subtype=='water' || $ctrl.subtype=='counter' || $ctrl.subtype=='energy-generated' || $ctrl.subtype=='time' || $ctrl.subtype=='p1Energy' || $ctrl.subtype=='instantAndCounter'"
        class="device-log-chart"
        device="::$ctrl.device"></counter-compare-chart>
