<div class="container js-device-logs">
    <table class="bannav" id="bannav" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td>
                <a class="btnstylerev" back-button>{{ ::'Back' | translate }}</a>
            </td>
            <td align="right" ng-if="::vm.isReportAvailable()">
                <a class="btnstyle" ng-href="#/Devices/{{ ::vm.deviceIdx }}/Report">{{ ::'Report' | translate }}</a>
            </td>
        </tr>
    </table>

    <h2 class="page-header">{{ ::vm.pageName }}</h2>

    <device-text-log ng-if="::vm.isTextLog()" device-idx="::vm.deviceIdx" />
    <device-light-log ng-if="::vm.isLightLog()" device-idx="::vm.deviceIdx" />
    <device-temperature-log ng-if="::vm.isTemperatureLog()" device="::vm.device" />
    <device-graph-log ng-if="::vm.isGraphLog()" device="::vm.device" />

    <div class="js-device-log-content"></div>
</div>
