<div class="dd-html-widget">
    <div class="dd-html-widget-title dd-stat-label"
         ng-if="ctrl.widgetDef.config.title"
         ng-bind="ctrl.widgetDef.config.title"></div>
    <iframe class="dd-html-widget-frame"
            dd-html-frame="ctrl.iframeDoc"
            dd-html-sandbox="ctrl.sandboxValue"
            frameborder="0"
            ng-show="ctrl.widgetDef.config.html"></iframe>
    <div ng-if="!ctrl.widgetDef.config.html" class="dd-html-widget-empty">
        <i class="fa-solid fa-code"></i>
        <p>Configure this widget to add HTML content</p>
    </div>
</div>
