<div class="dd-stat-card">
    <!-- Unconfigured state -->
    <div ng-if="!ctrl.widgetDef.config.deviceIdx" class="dd-chart-unconfigured">
        <i class="fa-solid fa-droplet"></i>
        <p>Select a water device in settings</p>
    </div>

    <!-- Loaded state -->
    <div ng-if="ctrl.widgetDef.config.deviceIdx">
        <div class="dd-stat-label" ng-bind="ctrl.title"></div>

        <a ng-if="ctrl.counterToday !== null" class="dd-stat-link"
           ng-href="#/Devices/{{ctrl.widgetDef.config.deviceIdx}}/Log">
            <div class="dd-stat-value dd-energy-water">
                <i class="fa-solid fa-droplet"></i> {{ctrl.counterToday}}
            </div>
        </a>
        <div ng-if="ctrl.counterToday === null" class="dd-stat-value">
            &mdash;
        </div>

        <div ng-if="ctrl.counterTotal !== null" class="dd-stat-sub">
            {{'Year' | translate}}: {{ctrl.counterTotal}}
        </div>

        <div ng-if="ctrl.price !== null"
             class="dd-stat-sub dd-energy-price"
             style="font-weight: bold; margin-top: 4px;">
            {{ctrl.price | number:2}} {{$root.config.CurrencySign}}
        </div>
    </div>
</div>
