<div class="dd-forecast">
    <div class="dd-forecast-header">{{ ctrl.title || 'Weather Forecast' }}</div>
    <div class="dd-forecast-grid">
        <div class="dd-forecast-day" ng-repeat="day in ctrl.days track by day.dateStr">
            <div class="dd-forecast-dayname">{{ day.dayName }}</div>
            <i class="fa {{ day.icon }}" ng-style="{'color': 'var(' + day.tokenColor + ')'}"></i>
            <div class="dd-forecast-temps">{{ day.tempMax }}° / {{ day.tempMin }}°</div>
            <div class="dd-forecast-precip" ng-if="ctrl.showPrecip">{{ day.precip }}mm</div>
            <div class="dd-forecast-wind" ng-if="ctrl.showWind">{{ day.wind }}km/h</div>
        </div>
    </div>
    <div ng-if="ctrl.error" class="dd-forecast-error">{{ ctrl.error }}</div>
</div>
