<!-- 
  Light Widget Template - Example Implementation
  
  This template shows how to convert jQuery-generated HTML
  to Angular template with data binding.
-->
<div class="item" ng-class="ctrl.getBackgroundClass()">
    <section>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <!-- Device Name -->
                <td id="name" class="item-name" data-search="{{item.searchText}}">
                    {{item.Name}}
                </td>
                
                <!-- Status Text -->
                <td id="bigtext">
                    {{ctrl.getStatusText()}}
                    
                    <!-- Camera Stream Link (if applicable) -->
                    <a ng-if="item.UsedByCamera" 
                       ng-click="ctrl.showCameraStream()"
                       title="Stream Video">
                        <img src="images/webcam.png" height="16" width="16">
                    </a>
                </td>
                
                <!-- Device Image/Icon -->
                <td id="img">
                    <img ng-src="images/{{ctrl.getDeviceImage()}}" 
                         height="48" 
                         width="48"
                         ng-click="ctrl.toggleDevice()"
                         class="lcursor"
                         title="Toggle Device">
                </td>
                
                <!-- Dimmer Slider (if dimmer) -->
                <td id="slider" ng-if="ctrl.isDimmer()">
                    <input type="range" 
                           min="0" 
                           max="100" 
                           ng-model="item.Level"
                           ng-change="ctrl.dimDevice(item.Level)"
                           class="dimmer-slider">
                    <span>{{item.Level}}%</span>
                </td>
                
                <!-- Color Picker (if supports color) -->
                <td id="color" ng-if="ctrl.supportsColor()">
                    <input type="color" 
                           ng-model="item.Color"
                           ng-change="ctrl.setColor(item.Color)">
                </td>
                
                <!-- Additional Status Info -->
                <td id="status">
                    <span ng-if="item.Protected" class="protected-icon" title="Protected">
                        <i class="fa fa-lock"></i>
                    </span>
                    <span ng-if="item.BatteryLevel" title="Battery: {{item.BatteryLevel}}%">
                        <i class="fa fa-battery" 
                           ng-class="{'fa-battery-full': item.BatteryLevel > 75,
                                     'fa-battery-half': item.BatteryLevel > 25 && item.BatteryLevel <= 75,
                                     'fa-battery-low': item.BatteryLevel <= 25}">
                        </i>
                    </span>
                </td>
                
                <!-- Last Update Time -->
                <td id="lastupdate">
                    {{item.LastUpdate}}
                </td>
                
                <!-- Action Buttons -->
                <td class="options">
                    <!-- Favorite Toggle -->
                    <img ng-src="images/{{item.Favorite ? 'favorite' : 'nofavorite'}}.png"
                         ng-click="ctrl.toggleFavorite()"
                         class="lcursor"
                         title="Toggle Favorite"
                         height="16"
                         width="16">
                    
                    <!-- Log Button -->
                    <a class="btnsmall" 
                       ng-click="ctrl.showLog()"
                       title="View Log">
                        Log
                    </a>
                    
                    <!-- Edit Button -->
                    <a class="btnsmall" 
                       ng-click="ctrl.editDevice()"
                       title="Edit Device">
                        Edit
                    </a>
                    
                    <!-- Timer Button (if applicable) -->
                    <a class="btnsmall" 
                       ng-if="item.Timers"
                       ng-click="ctrl.showTimers()"
                       title="Timers">
                        Timers
                    </a>
                </td>
            </tr>
        </table>
    </section>
</div>
