<div class="item span4 itemBlock" ng-class="ctrl.getBackgroundClass()" id="{{ctrl.device.idx}}">
    <section>
        <table ng-attr-id="{{ctrl.getTableId()}}" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td id="name" class="item-name" data-idx="{{ctrl.device.idx}}" data-desc="{{ctrl.device.Description}}" data-search="{{ctrl.searchText}}">{{ctrl.device.Name}}</td>
                <td id="bigtext">
                    <span>{{ctrl.getStatusText()}}</span>
                    <a ng-if="ctrl.device.UsedByCamera" ng-click="ctrl.showCameraStream()" class="lcursor">
                        <i class="dz-icon-glyph dz-icon-16 fa-solid fa-video" title="Stream Video"></i>
                    </a>
                    <i ng-if="ctrl.isAdmin && ctrl.isRFY()" class="dz-icon-glyph dz-icon-16 fa-solid fa-sliders lcursor" title="Setup" ng-click="ctrl.showRFYSetup($event)"></i>&nbsp;
                </td>
                <td id="img">
                    <!-- Evohome -->
                    <div ng-if="ctrl.isEvohome()" ng-class="ctrl.device.Status == 'Auto' ? 'evoimgnorm' : 'evoimg'" data-i18n="[title]Quick Actions">
                        <img ng-src="images/evohome/{{ctrl.device.Status}}.png" class="lcursor" ng-click="ctrl.showEvohomeModal()" height="48" width="48">
                    </div>

                    <!-- Blinds - Open button -->
                    <img ng-if="ctrl.isBlinds() && !ctrl.isEvohome()" ng-src="images/{{ctrl.device.TypeImg}}open48{{ctrl.isBlindsOpen() ? 'sel' : ''}}.png" ng-click="ctrl.switchLight('Open')" class="lcursor dz-classic-only" height="48" width="48" data-i18n="[title]Open Blinds">
                    <i ng-if="ctrl.isBlinds() && !ctrl.isEvohome()" class="fa-solid fa-chevron-up dz-icon-glyph dz-icon-48 dz-blind-glyph dz-glyph-only lcursor" ng-class="{'dz-icon--off': !ctrl.isBlindsOpen()}" ng-click="ctrl.switchLight('Open')" title="{{:: 'Open Blinds' | translate}}"></i>

                    <!-- Media Player main icon -->
                    <dz-device-icon ng-if="ctrl.isMediaPlayer()" class="dz-icon-48"
                                    device="ctrl.device"
                                    is-active="ctrl.isMediaPlayerActive()"
                                    fallback-src="ctrl.getMediaPlayerIcon()"
                                    ng-click="ctrl.switchLight(ctrl.isMediaPlayerActive() ? 'Off' : 'On')"
                                    ng-class="{'lcursor': !ctrl.isMediaPlayerDisconnected()}"></dz-device-icon>

                    <!-- All other devices: single toggling icon -->
                    <div ng-if="!ctrl.isBlinds() && !ctrl.isEvohome() && !ctrl.isMediaPlayer()" style="position: relative; display: inline-block;">
                        <dz-device-icon class="dz-icon-48"
                                        device="ctrl.device"
                                        is-active="ctrl.iconState()"
                                        fallback-src="ctrl.getDeviceIcon()"
                                        ng-click="ctrl.deviceIconClick($event)"
                                        ng-class="{'lcursor': ctrl.isClickable()}"></dz-device-icon>
                    </div>
                </td>

                <!-- Blinds stop button (td#img2) -->
                <td ng-if="ctrl.isBlinds() && ctrl.hasStopButton()" id="img2">
                    <img ng-src="images/{{ctrl.device.TypeImg}}stop.png" ng-click="ctrl.switchLight('Stop')" class="lcursor dz-classic-only" height="48" width="24" data-i18n="[title]Stop Blinds">
                    <i class="fa-solid fa-stop dz-icon-glyph dz-icon-48 dz-blind-glyph dz-blind-glyph-stop dz-glyph-only lcursor" ng-click="ctrl.switchLight('Stop')" title="{{:: 'Stop Blinds' | translate}}"></i>
                </td>

                <!-- Blinds close button -->
                <td ng-if="ctrl.isBlinds()" ng-attr-id="{{ctrl.hasStopButton() ? 'img3' : 'img2'}}">
                    <img ng-src="images/{{ctrl.device.TypeImg}}48{{ctrl.isBlindsOpen() ? '' : 'sel'}}.png" ng-click="ctrl.switchLight('Close')" class="lcursor dz-classic-only" height="48" width="48" data-i18n="[title]Close Blinds">
                    <i class="fa-solid fa-chevron-down dz-icon-glyph dz-icon-48 dz-blind-glyph dz-glyph-only lcursor" ng-class="{'dz-icon--off': ctrl.isBlindsOpen()}" ng-click="ctrl.switchLight('Close')" title="{{:: 'Close Blinds' | translate}}"></i>
                </td>

                <!-- Media Player remote icon (img2) -->
                <td ng-if="ctrl.isMediaPlayer()" id="img2">
                    <img ng-if="ctrl.isMediaPlayerActive()"
                         src="images/remote48.png"
                         ng-click="ctrl.showMediaRemote()"
                         class="lcursor" height="48" width="48">
                    <img ng-if="!ctrl.isMediaPlayerActive()"
                         src="images/remote48.png"
                         style="opacity:0.4" height="48" width="48">
                </td>

                <!-- Status column -->
                <td id="status"></td>

                <td id="lastupdate"><span data-i18n="Last Seen" style="font-style: italic">Last Seen</span>: {{ctrl.device.LastUpdate}}</td>
                <td id="type">
                    {{ctrl.getTypeSubTypeText()}}
                    <!-- Dimmer slider for regular dimmers -->
                    <span ng-if="ctrl.isDimmer() && !ctrl.isBlinds() && ctrl.device.DimmerType != 'rel'"><br><br><div style="margin-left:60px; margin-bottom:10px; visibility:hidden;" class="dimslider dimslidernorm" data-idx="{{ctrl.device.idx}}" data-type="norm" data-maxlevel="{{ctrl.device.MaxDimLevel}}" data-isprotected="{{ctrl.device.Protected}}" data-svalue="{{ctrl.device.LevelInt}}" data-isled="{{ctrl.isRGB()}}" data-disabled="{{!ctrl.isClickable()}}"></div></span>
                    <!-- Blinds Percentage slider -->
                    <span ng-if="ctrl.device.SwitchType == 'Blinds Percentage'"><br><div style="margin-left:108px; margin-top:7px; margin-bottom:10px; visibility:hidden;" class="dimslider dimsmall" data-idx="{{ctrl.device.idx}}" data-type="blinds" data-maxlevel="{{ctrl.device.MaxDimLevel}}" data-isprotected="{{ctrl.device.Protected}}" data-svalue="{{ctrl.device.LevelInt}}"></div></span>
                    <!-- Blinds % + Stop slider -->
                    <span ng-if="ctrl.device.SwitchType == 'Blinds % + Stop'"><br><div style="margin-left:132px; margin-top:12px; margin-bottom:10px; visibility:hidden;" class="dimslider dimsmall3" data-idx="{{ctrl.device.idx}}" data-type="blinds" data-maxlevel="{{ctrl.device.MaxDimLevel}}" data-isprotected="{{ctrl.device.Protected}}" data-svalue="{{ctrl.device.LevelInt}}"></div></span>
                    <!-- Selector buttons (SelectorStyle 0) -->
                    <span ng-if="ctrl.isSelector() && ctrl.device.SelectorStyle === 0"><br><div class="btn-group selectorlevelbuttons" style="display: block; margin-top: 4px;">
                        <button ng-repeat="level in ctrl.selectorLevels track by level.value" type="button" class="btn btn-small" ng-class="{'btn-selected': level.isActive, 'btn-default': !level.isActive}" ng-click="ctrl.setSelectorLevel(level.value, level.name)">
                            {{level.name}}
                        </button>
                    </div></span>
                    <!-- Selector dropdown (SelectorStyle 1) -->
                    <span ng-if="ctrl.isSelector() && ctrl.device.SelectorStyle === 1"><br><div class="selectorlevels" style="margin-top: 0.4em;">
                        <select id="selector{{ctrl.device.idx}}" data-idx="{{ctrl.device.idx}}" data-isprotected="{{ctrl.device.Protected}}" data-level="{{ctrl.device.LevelInt}}" data-levelnames="{{ctrl.device.LevelNames}}" data-selectorstyle="{{ctrl.device.SelectorStyle}}" data-leveloffhidden="{{ctrl.device.LevelOffHidden}}" data-levelactions="{{ctrl.device.LevelActions}}" ng-model="ctrl.selectorLevel" ng-change="ctrl.onSelectorChange()" ng-options="level.value as level.name for level in ctrl.getSelectorLevels()" ng-init="ctrl.initSelectorLevel()"></select>
                    </div></span>
                </td>
                <td class="options">
                    <span ng-if="ctrl.device.Favorite == 0"><i class="dz-icon-glyph dz-icon-16 fa-regular fa-star lcursor" title="Add to Dashboard" ng-click="ctrl.makeFavorite(1)"></i>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span ng-if="ctrl.device.Favorite != 0"><i class="dz-icon-glyph dz-icon-16 fa-solid fa-star lcursor" title="Remove from Dashboard" ng-click="ctrl.makeFavorite(0)"></i>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <a class="btnsmall" ng-href="{{ctrl.getGraphLogLink()}}" data-i18n="Log">Log</a>
                    <a ng-if="ctrl.isAdmin" class="btnsmall" ng-click="ctrl.editDevice()" data-i18n="Edit">Edit</a>
                    <a ng-if="ctrl.isAdmin && ctrl.hasTimers()" class="btnsmall-sel" ng-href="{{ctrl.getTimerLink()}}" data-i18n="Timers">Timers</a>
                    <a ng-if="ctrl.isAdmin && !ctrl.hasTimers()" class="btnsmall" ng-href="{{ctrl.getTimerLink()}}" data-i18n="Timers">Timers</a>
                    <a ng-if="ctrl.isAdmin && ctrl.isSmokeSensor() && ctrl.isSmokeActive()" id="resetbtn" class="btnsmall-sel" ng-click="ctrl.resetSmokeAlarm()" data-i18n="Reset">Reset</a>
                    <a ng-if="ctrl.isAdmin && ctrl.isSmokeSensor() && !ctrl.isSmokeActive()" id="resetbtn" class="btnsmall-dis" ng-click="ctrl.resetSmokeAlarm()" data-i18n="Reset">Reset</a>
                    <a ng-if="ctrl.isAdmin && ctrl.hasNotifications()" class="btnsmall-sel" ng-href="{{ctrl.getNotificationLink()}}" data-i18n="Notifications">Notifications</a>
                    <a ng-if="ctrl.isAdmin && !ctrl.hasNotifications()" class="btnsmall" ng-href="{{ctrl.getNotificationLink()}}" data-i18n="Notifications">Notifications</a>
                </td>
            </tr>
        </table>
    </section>
</div>
