<div ng-class="ctrl.getSpanClass()">
	<div class="item itemBlock" ng-class="ctrl.getBackgroundClass()" id="{{ctrl.scene.idx}}">
		<table ng-attr-id="{{ctrl.isScene() ? 'itemtablesmall' : 'itemtablesmalldoubleicon'}}" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td id="name" ng-bind="ctrl.scene.Name" class="item-name" data-idx="{{ctrl.scene.idx}}" data-desc="{{ctrl.scene.Description}}"></td>
				<td id="bigtext" class="ng-cloak">{{ctrl.getStatusText()}}</td>
				<!-- Scene: single Activate button (5-column layout) -->
				<td ng-if="ctrl.isScene()" id="img1">
					<img src="images/Push48_On.png" ng-click="ctrl.switchOn()" class="lcursor" height="40" width="40" data-i18n="[title]Activate" title="Activate">
				</td>
				<!-- Group: On push button (6-column layout, td 3 of 6) -->
				<td ng-if="ctrl.isGroup()" id="img1">
					<img src="images/Push48_On.png" ng-click="ctrl.switchOn()" class="lcursor" ng-class="{'transimg': ctrl.isOn()}" height="40" width="40" data-i18n="[title]Turn On" title="Turn On">
				</td>
				<!-- Group: Off push button (6-column layout, td 4 of 6) -->
				<td ng-if="ctrl.isGroup()" id="img2">
					<img src="images/Push48_Off.png" ng-click="ctrl.switchOff()" class="lcursor" ng-class="{'transimg': ctrl.scene.Status === 'Off' || ctrl.scene.Status === 'Group Off'}" height="40" width="40" data-i18n="[title]Turn Off" title="Turn Off">
				</td>
				<td id="status" class="ng-cloak">
					<span ng-if="ctrl.isScene()" data-i18n="Scene">Scene</span>
					<span ng-if="ctrl.isGroup() && ctrl.isOn()">
						<span data-i18n="Group">::Group</span>: <span data-i18n="On">::On</span>
					</span>
					<span ng-if="ctrl.isGroup() && !ctrl.isOn() && ctrl.scene.Status !== 'Mixed'">
						<span data-i18n="Group">::Group</span>: <span data-i18n="Off">::Off</span>
					</span>
					<span ng-if="ctrl.isGroup() && ctrl.scene.Status === 'Mixed'">
						<span data-i18n="Group">::Group</span>: <span data-i18n="Mixed">::Mixed</span>
					</span>
				</td>
				<td id="lastupdate">{{ctrl.scene.LastUpdate}}</td>
			</tr>
		</table>
	</div>
</div>
