<div ng-class="ctrl.getSpanClass()">
	<div class="item itemBlock" ng-class="ctrl.getBackgroundClass()" id="{{ctrl.scene.idx}}">
		<table ng-attr-id="{{ctrl.isScene() ? 'itemtablesmall' : 'itemtablesmalldoubleicon'}}" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td id="name" ng-bind="ctrl.scene.Name" class="item-name" data-idx="{{ctrl.scene.idx}}" data-desc="{{ctrl.scene.Description}}" data-search="{{ctrl.searchText}}"></td>
				<td id="bigtext" class="ng-cloak">{{ctrl.getStatusText()}}</td>
				<!-- Scene: single Activate button (5-column layout) -->
				<td ng-if="ctrl.isScene()" id="img1">
					<i class="dz-icon-glyph dz-icon-48 lcursor fa-solid fa-play dz-scene-run" ng-click="ctrl.switchOn()" title="Activate"></i>
				</td>
				<!-- Group: On push button (6-column layout, td 3 of 6) -->
				<td ng-if="ctrl.isGroup()" id="img1">
					<i class="dz-icon-glyph dz-icon-48 lcursor fa-solid fa-power-off dz-scene-on" ng-click="ctrl.switchOn()" ng-class="{'transimg': ctrl.isOn()}" title="Turn On"></i>
				</td>
				<!-- Group: Off push button (6-column layout, td 4 of 6) -->
				<td ng-if="ctrl.isGroup()" id="img2">
					<i class="dz-icon-glyph dz-icon-48 lcursor fa-solid fa-power-off dz-scene-off" ng-click="ctrl.switchOff()" ng-class="{'transimg': ctrl.scene.Status === 'Off' || ctrl.scene.Status === 'Group Off'}" title="Turn Off"></i>
				</td>
				<td id="status" class="ng-cloak">
					<span ng-if="ctrl.isScene()" data-i18n="Scene">Scene</span>
					<span ng-if="ctrl.isGroup() && ctrl.isOn()">
						<span data-i18n="Group">::Group</span>: <span data-i18n="On">::On</span>
					</span>
					<span ng-if="ctrl.isGroup() && !ctrl.isOn() && ctrl.scene.Status !== 'Mixed'">
						<span data-i18n="Group">::Group</span>: <span data-i18n="Off">::Off</span>
					</span>
					<span ng-if="ctrl.isGroup() && ctrl.scene.Status === 'Mixed'">
						<span data-i18n="Group">::Group</span>: <span data-i18n="Mixed">::Mixed</span>
					</span>
				</td>
				<td id="lastupdate"><span data-i18n="Last Seen" style="font-style: italic">Last Seen</span>: {{ctrl.scene.LastUpdate}}</td>
			</tr>
		</table>
	</div>
</div>
