<div class="item" ng-class="ctrl.getBackgroundClass()">
    <section>
        <table class="itemtablerowsmall">
            <tr>
                <!-- Device Icon -->
                <td class="img">
                    <img ng-if="!ctrl.isSetpoint() && ctrl.device.Type != 'Radiator 1'"
                         ng-src="{{ctrl.getDeviceIcon()}}"
                         title="{{ctrl.device.Name}}"
                         height="48"
                         width="48">
                    <img ng-if="ctrl.isSetpoint() || ctrl.device.Type == 'Radiator 1'"
                         ng-src="{{ctrl.getDeviceIcon()}}"
                         title="{{ctrl.device.Name}}"
                         class="lcursor"
                         ng-click="ctrl.showSetpointPopup($event)"
                         height="48"
                         width="48">
                </td>

                <!-- Device Name -->
                <td class="name">
                    <a ng-href="#/Devices/{{ctrl.device.idx}}/Log">{{ctrl.device.Name}}</a>
                </td>

                <!-- Big Text - Main Value with Trend -->
                <td class="bigtext">
                    <img ng-show="ctrl.displayTrend(ctrl.device.trend)" height="12"
                         ng-src="images/arrow_{{ctrl.trendState(ctrl.device.trend)}}.png">
                    <span class="blabel" ng-bind-html="ctrl.getBigText()"></span>
                </td>

                <!-- Status Text -->
                <td class="status">
                    <span ng-bind-html="ctrl.getStatusText()"></span>
                </td>

                <!-- Last Update -->
                <td class="lastupdate">
                    <span>{{ctrl.device.LastUpdate}}</span>
                </td>
            </tr>
        </table>
    </section>
</div>
