<div class="item" ng-class="ctrl.getBackgroundClass()">
    <section>
        <table class="itemtablerowsmall">
            <tr>
                <!-- Device Icon -->
                <td class="img">
                    <dz-device-icon ng-if="!ctrl.isSetpoint() && ctrl.device.Type != 'Radiator 1'"
                                    class="dz-icon-48"
                                    device="ctrl.device"
                                    fallback-src="ctrl.getDeviceIcon()"
                                    use-glyph="!ctrl.isValueDrivenIcon()"
                                    title="{{ctrl.device.Name}}"></dz-device-icon>
                    <dz-device-icon ng-if="ctrl.isSetpoint() || ctrl.device.Type == 'Radiator 1'"
                                    class="dz-icon-48 lcursor"
                                    device="ctrl.device"
                                    fallback-src="ctrl.getDeviceIcon()"
                                    use-glyph="!ctrl.isValueDrivenIcon()"
                                    title="{{ctrl.device.Name}}"
                                    ng-click="ctrl.showSetpointPopup($event)"></dz-device-icon>
                </td>

                <!-- Device Name -->
                <td class="name">
                    <a ng-href="#/Devices/{{ctrl.device.idx}}/Log">{{ctrl.device.Name}}</a>
                </td>

                <!-- Value Text (bigtext + status stacked) -->
                <td class="bigtext">
                    <i class="dz-icon-glyph dz-icon-12" ng-class="ctrl.getTrendIcon()"
                       ng-show="ctrl.displayTrend(ctrl.device.trend)"></i>
                    <span ng-bind-html="ctrl.getMobileText()"></span>
                </td>

                <!-- Last Update -->
                <td class="lastupdate">
                    <span data-i18n="Last Seen" style="font-style: italic">Last Seen</span>: <span>{{ctrl.device.LastUpdate}}</span>
                </td>
            </tr>
        </table>
    </section>
</div>
