<div ng-class="ctrl.getSpanClass()">
    <div class="item itemBlock" ng-class="ctrl.getBackgroundClass()" id="{{ctrl.device.idx}}">
        <table id="itemtablesmall" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <!-- Device Name -->
                <td id="name" ng-bind="ctrl.device.Name" class="item-name"
                    data-idx="{{ctrl.device.idx}}"
                    data-desc="{{ctrl.device.Description}}"
                    data-search="{{ctrl.searchText}}">
                </td>

                <!-- Big Text - Main Value -->
                <td id="bigtext" class="ng-cloak">
                    <img ng-show="ctrl.displayTrend(ctrl.device.trend)" height="12"
                         ng-src="images/arrow_{{ctrl.trendState(ctrl.device.trend)}}.png">
                    <span ng-bind-html="ctrl.getBigText()"></span>
                </td>

                <!-- Device Icon -->
                <td id="img" ng-hide="ctrl.isText()">
                    <a ng-if="!ctrl.isSetpoint() && ctrl.device.Type != 'Radiator 1'"
                       ng-href="{{ctrl.getGraphLogLink()}}">
                        <img ng-src="{{ctrl.getDeviceIcon()}}" height="40" width="40" class="lcursor">
                    </a>
                    <img ng-if="ctrl.isSetpoint() || ctrl.device.Type == 'Radiator 1'"
                         ng-src="{{ctrl.getDeviceIcon()}}" height="40" width="40"
                         class="lcursor" ng-click="ctrl.showSetpointPopup($event)">
                </td>

                <!-- Status Text -->
                <td id="status" class="ng-cloak">
                    <span ng-bind-html="ctrl.getStatusText()"></span>
                </td>

                <!-- Last Update -->
                <td id="lastupdate" ng-class="{'lastupdate-spaced': ctrl.isText()}">
                    <dz-bar value="ctrl.barNumVal" ranges="ctrl.barRanges"></dz-bar>
                    <span data-i18n="Last Seen" style="font-style: italic">Last Seen</span>: {{ctrl.device.LastUpdate}}
                </td>

            </tr>
        </table>
    </div>
</div>
