<div class="item span4 itemBlock" ng-class="ctrl.getBackgroundClass()" id="{{ctrl.device.idx}}">
    <section>
        <table id="itemtable" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td id="name" class="item-name" data-idx="{{ctrl.device.idx}}" data-desc="{{ctrl.device.Description}}" data-search="{{ctrl.searchText}}">{{ctrl.device.Name}}</td>
                <td id="bigtext">{{ctrl.getBigText()}}</td>
                <td id="img">
                    <a ng-if="ctrl.device.SubType === 'Sound Level'"
                       ng-href="#/Devices/{{ctrl.device.idx}}/Log">
                        <img ng-src="{{ctrl.getDeviceIcon()}}" class="lcursor" height="48" width="48">
                    </a>
                    <img ng-if="!ctrl.isSetpoint() && ctrl.device.Type !== 'Radiator 1' && ctrl.device.SubType !== 'Sound Level'"
                         ng-src="{{ctrl.getDeviceIcon()}}" height="48" width="48">
                    <img ng-if="ctrl.isSetpoint() || ctrl.device.Type === 'Radiator 1'"
                         ng-src="{{ctrl.getDeviceIcon()}}" class="lcursor"
                         ng-click="ctrl.showSetpointPopup($event)" height="48" width="48">
                </td>
                <td id="status" ng-bind-html="ctrl.getStatusText()"></td>
                <td id="lastupdate"><span data-i18n="Last Seen" style="font-style: italic">Last Seen</span>: {{ctrl.device.LastUpdate}}</td>
                <td id="type">{{ctrl.getTypeSubTypeText()}}</td>
                <td class="options">
                    <span ng-show="ctrl.device.Favorite == 0"><img src="images/nofavorite.png" data-i18n="[title]Add to Dashboard" ng-click="ctrl.makeFavorite(1)" class="lcursor">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span ng-show="ctrl.device.Favorite != 0"><img src="images/favorite.png" data-i18n="[title]Remove from Dashboard" ng-click="ctrl.makeFavorite(0)" class="lcursor">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <a ng-if="ctrl.hasLogLink()" class="btnsmall" ng-href="{{ctrl.getGraphLogLink()}}" data-i18n="Log">Log</a>
                    <a ng-if="ctrl.isAdmin" class="btnsmall" ng-click="ctrl.editDevice()" data-i18n="Edit">Edit</a>
                    <a ng-if="ctrl.isAdmin && ctrl.hasTimerSupport() && ctrl.hasTimers()" class="btnsmall-sel" ng-href="{{ctrl.getTimerLink()}}" data-i18n="Timers">Timers</a>
                    <a ng-if="ctrl.isAdmin && ctrl.hasTimerSupport() && !ctrl.hasTimers()" class="btnsmall" ng-href="{{ctrl.getTimerLink()}}" data-i18n="Timers">Timers</a>
                    <a ng-if="ctrl.isAdmin && ctrl.showNotifications() && ctrl.hasNotifications()" class="btnsmall-sel" ng-href="{{ctrl.getNotificationLink()}}" data-i18n="Notifications">Notifications</a>
                    <a ng-if="ctrl.isAdmin && ctrl.showNotifications() && !ctrl.hasNotifications()" class="btnsmall" ng-href="{{ctrl.getNotificationLink()}}" data-i18n="Notifications">Notifications</a>
                </td>
            </tr>
        </table>
    </section>
</div>
