/*****************************************************************/
/* 5grid 0.3.2 by n33.co | MIT+GPLv2 license licensed            */
/* core-fluid.css: Fluid                                         */
/*****************************************************************/

/*********************/
/* Fluid             */
/*********************/

	.\35 grid-layout {
		width: 100%;
	}