/*****************************************************************/
/* 5grid 0.3.2 by n33.co | MIT+GPLv2 license licensed            */
/* mobileUI-flat.css: Flat mobile UI theme                       */
/*****************************************************************/

#mobileUI-site-titlebar {
	text-align: center;
	background: #444;
	color: #fff;
	line-height: 46px !important;
}

#mobileUI-site-nav-opener {
	width: 45px;
	height: 44px;
	color: #fff;
	text-align: center;
	line-height: 44px;
	font-size: 0.8em;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.15);
}

#mobileUI-site-nav-opener:active {
	background: rgba(0,0,0,0.4);
}

#mobileUI-site-nav {
	background: #272727;
	color: #fff;
}

	#mobileUI-site-nav a {
		display: block;
		color: #fff;
		padding: 0.75em;
		text-decoration: none;
		border-top: solid 1px rgba(255,255,255,0.1);
	}
	
	#mobileUI-site-nav a:first-child {
		border-top: 0;
	}

	#mobileUI-site-nav a:last-child {
		border-bottom: 0;
	}