<div id="dialog-editweatherdevice">
    <form>
        <label for="name">Name: </label>
        <input type="text" id="devicename" style="width: 250px; padding: .4em;" class="text ui-widget-content ui-corner-all" />
    </form>
</div>
<div id="dialog-editvisibilitydevice">
    <form>
        <table class="display" id="edittable" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="right" style="width:60px"><label>Name: </label></td>
          <td><input type="text" id="devicename" style="width: 250px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
        <tr>
        <tr>
          <td align="right" style="width:60px"><label>Display: </label></td>
          <td>
			<select id="combometertype" style="width:150px" class="combobox ui-corner-all">
				<option value="0">Kilometers</option>
				<option value="1">Miles</option>
			</select>
		  </td>
        <tr>
		</table>
    </form>
</div>
<div id="dialog-editraindevice">
    <form>
        <table class="display" id="edittable" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="right" style="width:60px"><label for="devicename">Name: </label></td>
          <td><input type="text" id="devicename" style="width: 250px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
        <tr>
        <tr>
          <td align="right" style="width:60px"><label for="multiply">Multiply: </label></td>
          <td><input type="text" id="multiply" style="width: 60px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
        <tr>
		</table>
    </form>
</div>
<div id="dialog-editbarodevice">
    <form>
        <table class="display" id="edittable" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="right" style="width:60px"><label for="devicename">Name: </label></td>
          <td><input type="text" id="devicename" style="width: 250px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
        <tr>
        <tr>
          <td align="right" style="width:60px"><label for="adjustment">Adjustment: </label></td>
          <td><input type="text" id="adjustment" style="width: 60px; padding: .2em;" class="text ui-widget-content ui-corner-all" /> hPa</td>
        <tr>
				</table>
    </form>
</div>
<div id="weathercontent">
</div>
