[submodule "extern/jsoncpp"]
	path = extern/jsoncpp
	url = https://github.com/domoticz/jsoncpp
	ignore = dirty
[submodule "extern/mosquitto"]
	path = extern/mosquitto
	url = https://github.com/eclipse/mosquitto.git
	ignore = dirty
[submodule "extern/sqlite-amalgamation"]
	path = extern/sqlite-amalgamation
	url = https://github.com/azadkuh/sqlite-amalgamation.git
	ignore = dirty
[submodule "minizip"]
	path = extern/minizip
	url = https://github.com/domoticz/minizip.git
	ignore = dirty
[submodule "extern/fmtlib"]
	path = extern/fmtlib
	url = https://github.com/fmtlib/fmt.git
	ignore = dirty
[submodule "extern/jwtcpp"]
	path = extern/jwtcpp
	url = https://github.com/Thalhammer/jwt-cpp
	ignore = dirty
[submodule "extern/mdns_cpp"]
	path = extern/mdns_cpp
	url = https://github.com/kiddigital/mdns_cpp
	ignore = dirty
