*.orig
msbuild
*.db
*.db_*
*.db-*
*.bak
appversion.h
appversion.h.txt
Makefile
CMakeFiles
*.cmake
*.a
*.exp
*.idb
*.log
*.obj
*.pdb
*.tlog
CMakeCache.txt
domoticz
domoticztester
!scripts/logrotate/domoticz
stdafx.h.gch
.DS_Store
.AppleDouble
Config/OZW_Log.txt
Config/zwscene.xml
backups/
build/
domocookie.txt
domoticz.exe
nohup.out
/Config/zwcfg_*.xml
/makebetarob
/plugins/manifest.xml
install_manifest.txt
.project
.cproject
.settings/
/dzVents/runtime/tests/luacov.stats.out
/dzVents/runtime/tests/luacov.report.out
/scripts/dzVents/domoticzData.lua
/scripts/dzVents/data/
/scripts/dzVents/generated_scripts/
/scripts/dzVents/scripts/
.idea/
/.idea_/
/www/images/floorplans/*.png
/www/images/floorplans/*.jpg
.vscode
sqlite3_config.h
/extern/
/node_modules/
/domoticz.iml
__pycache__
/.vs/
