*.orig
msbuild
domoticz.db
appversion.h
appversion.h.txt
Makefile
CMakeFiles
*.cmake
*.a
CMakeCache.txt
domoticz
stdafx.h.gch
.DS_Store
Config/OZW_Log.txt
Config/zwscene.xml
backups/
domocookie.txt
domoticz.exe
