branches:
  except:
    - /^[0-9]/

language: cpp

cache:
  - apt

sources:
  - jammy

# What to install before the build
before_install:
  - sudo apt-get update
  - eval "${MATRIX_EVAL}"
  # Domoticz needs the full history to be able to calculate the version string
  - git fetch --unshallow
  # OpenZWave
  - git clone https://github.com/OpenZWave/open-zwave.git open-zwave-read-only

# Build matrix definition
matrix:
  include:
  # Linux x86_64
  - os: linux
    dist: jammy
    sudo: required
    compiler: gcc
    env:
          - TARGET_ARCHITECTURE=x86_64
          #- MATRIX_EVAL="CC=gcc-8 && CXX=g++-8"
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - gcc
          - g++
          - curl
          - libcurl4-gnutls-dev
          - libusb-dev
          - zlib1g-dev
          - libssl-dev
          - libudev-dev
          - git
          - cmake
          - libboost-all-dev
          - libdigest-sha-perl
          - python3-dev
          - liblua5.3-dev
          - libcereal-dev
          - uthash-dev
    script:
      - (cd open-zwave-read-only; make)

# What to do with the build artifacts
# - Upload to the Domoticz file server
before_deploy:
  - tar czf domoticz_${TRAVIS_OS_NAME}_${TARGET_ARCHITECTURE}.tgz domoticz History.txt License.txt domoticz.sh server_cert.pem updatebeta updaterelease www/ scripts/ Config/ dzVents/
  - shasum -a 256 domoticz_${TRAVIS_OS_NAME}_${TARGET_ARCHITECTURE}.tgz > domoticz_${TRAVIS_OS_NAME}_${TARGET_ARCHITECTURE}.tgz.sha256sum
  - cp appversion.h.txt version_${TRAVIS_OS_NAME}_${TARGET_ARCHITECTURE}.h
  - cp History.txt history_${TRAVIS_OS_NAME}_${TARGET_ARCHITECTURE}.txt
deploy:
  skip_cleanup: true
  provider: script
  script: curl -T "{domoticz_${TRAVIS_OS_NAME}_${TARGET_ARCHITECTURE}.tgz,domoticz_${TRAVIS_OS_NAME}_${TARGET_ARCHITECTURE}.tgz.sha256sum,version_${TRAVIS_OS_NAME}_${TARGET_ARCHITECTURE}.h,history_${TRAVIS_OS_NAME}_${TARGET_ARCHITECTURE}.txt,History.txt}" --retry 3 -s -S -k -u "$FTP_USER:$FTP_PASSWORD" "ftps://$FTP_HOST/beta/"
  on:
    branch: development
    repo: domoticz/domoticz
