# Created by .ignore support plugin (hsz.mobi)
/domoticzData.lua
scripts/*.lua
data/*.lua
generated_scripts/*.lua
!/runtime/tests/data/README.md
/runtime/tests/data/__data_global_data.lua
/runtime/tests/data/__data_script1.lua
/runtime/tests/data/__data_script_group1.lua
/runtime/tests/data/__data_script_scene1.lua
