<h2>{{'Day'| translate}}</h2>
<dz-smart-day-graph [idx]="device.idx" [switchtype]="device.SwitchTypeVal"></dz-smart-day-graph>
<br>
<h2>{{'Week'| translate}}</h2>
<dz-smart-week-graph [idx]="device.idx" [switchtype]="device.SwitchTypeVal"></dz-smart-week-graph>
<br>
<h2>{{'Month'| translate}}</h2>
<dz-smart-month-graph [idx]="device.idx" [switchtype]="device.SwitchTypeVal"></dz-smart-month-graph>
<br>
<h2>{{'Year'| translate}}</h2>
<dz-smart-year-graph [idx]="device.idx" [switchtype]="device.SwitchTypeVal"></dz-smart-year-graph>
