<div id="dialog-add-edit-floorplan">
  <table border="0" cellpadding="0" cellspacing="20" width="100%">
    <tr>
      <td style="width:25%"><label for="floorplanname">{{'Name'| translate}}</label>:</td>
      <td><input type="text" id="floorplanname" name="floorplanname" [(ngModel)]="floorplanname" style="width: 200px; padding: .2em;"
                 class="text ui-widget-content ui-corner-all"/></td>
    </tr>
    <tr>
      <td style="width:25%"><label for="scalefactor">{{'Icon Scale'| translate}}</label>:</td>
      <td><input type="text" id="scalefactor" name="scalefactor" [(ngModel)]="scalefactor" style="width: 60px; padding: .2em;"
                 class="text ui-widget-content ui-corner-all"/></td>
    </tr>
    <tr id="imagerow" *ngIf="!editMode">
      <td style="width:25%"><label for="imagefile">{{'Image file'| translate}}</label>:</td>
      <td><input type="file" id="imagefile" name="imagefile" [(ngModel)]="imagefile" (change)="onFileChange($event)" accept=".jpg, .jpeg, .png, .svg"/></td>
    </tr>
  </table>
</div>
