<div id="dialog-editenergydevice" [title]="'Edit Device'| translate">
  <form>
    <table class="display" id="energytable" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td align="right" style="width:120px">
          <label>Idx: </label>
        </td>
        <td>
          <span id="deviceidx">{{item.idx}}</span>
        </td>
      </tr>
      <tr>
        <td align="right">
          <label for="devicename"><span>{{'Name'| translate}}</span>: </label>
        </td>
        <td>
          <input type="text" id="devicename" name="devicename" [(ngModel)]="item.Name"
                 style="width: 250px; padding: .4em;"
                 class="text ui-widget-content ui-corner-all"/>
        </td>
      </tr>
      <tr>
        <td align="right">
          <label for="devicedescription"><span>{{'Description'| translate}}</span>: </label>
        </td>
        <td>
          <textarea id="devicedescription" name="devicedescription" [(ngModel)]="item.Description" rows="4"
                    style="width: 356px; padding: .2em;"
                    class="text ui-widget-content ui-corner-all"></textarea>
        </td>
      </tr>
      <tr>
        <td align="right">
          <label for="combometertype"><span>{{'Type'| translate}}</span>: </label>
        </td>
        <td>
          <select id="combometertype" name="combometertype" [(ngModel)]="item.SwitchTypeVal" style="width:150px"
                  class="combobox ui-corner-all">
            <option [ngValue]="0">{{'Usage'| translate}}</option>
            <option [ngValue]="4">{{'Return'| translate}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td align="right">
          <label for="EnergyMeterMode"><span>{{'Energy read'| translate}}</span>: </label>
        </td>
        <td>
          <input type="radio" name="EnergyMeterMode" id="EnergyMeterMode2" value="1" [(ngModel)]="item.EnergyMeterMode">
          &nbsp;&nbsp;<span>{{'Computed'| translate}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|
          <input type="radio" name="EnergyMeterMode" id="EnergyMeterMode1" value="0" [(ngModel)]="item.EnergyMeterMode">
          &nbsp;&nbsp;<span>{{'From device'| translate}}</span>
        </td>
      </tr>
    </table>
  </form>
</div>
