<table class="display" id="scenedevicestable" border="0" cellpadding="0" cellspacing="0" width="100%" #table>
    <thead>
      <tr valign="middle">
        <th align="left">{{'Name'| translate}}</th>
        <th align="right" width="100" id="CommandHeader">{{(item.Type == 'Scene' ? 'Command' : 'State') | translate}}</th>
        <th align="right" width="70">{{'Level'| translate}}</th>
        <th align="center" width="90">{{'On Delay'| translate}}</th>
        <th align="center" width="90">{{'Off Delay'| translate}}</th>
        <th align="center" width="40">{{'Order'| translate}}</th>
      </tr>
    </thead>
  </table>
