<div id="dialog-findlatlong">

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>

  <form>
    <table class="display" id="latlongtable" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td align="right" style="vertical-align:top">
          <label for="address">Address: </label>
        </td>
        <td>
          <input type="text" id="address" name="address" [(ngModel)]="address" style="width: 300px; padding: .2em;"
                 class="text ui-widget-content ui-corner-all"/><br>
          (Example: Streetname Number City Country)
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button id="getlatlong" (click)="getLatLong()">GetLatLong</button>
        </td>
      </tr>
      <tr id="georow" *ngIf="displayGeorow">
        <td align="right">
          <label for="latitude">Latitude: </label>
        </td>
        <td>
          <input type="text" id="latitude" name="latitude" [(ngModel)]="latitude" style="width: 90px; padding: .2em;"
                 class="text ui-widget-content ui-corner-all"/>
          <img id="geodetect" (click)="detect()" src="images/location.png" class="lcursor unselected" height="24"
               width="24">
        </td>
      </tr>
      <tr>
        <td align="right">
          <label for="longitude">Longitude: </label>
        </td>
        <td>
          <input type="text" id="longitude" name="longitude" [(ngModel)]="longitude" style="width: 90px; padding: .2em;"
                 class="text ui-widget-content ui-corner-all"/>
        </td>
      </tr>
    </table>
  </form>
</div>
