<div id="hardwarecontent" class="container">

  <table class="bannav" id="bannav" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
      <tr>
        <td>
          <a class="btnstylerev" routerLink="/Hardware">{{'Back'| translate}}</a>
        </td>
      </tr>
    </tbody>
  </table>

  <div style="text-align:center;">
    <h2><span>{{'Device'| translate}}</span>: {{hardware?.Name}}</h2>
  </div>

  <div id="sbfspot" style="text-align: center;" *ngIf="hardware">
    <form id="sbfspot">
      <br>
      <div style="text-align: center;">
        <button class="btn btn-warning" id="btnimportolddata" (click)="ImportOldData()">Import old Month Data</button>
        <br><br>
        <p>
          You can retreive old month records by running SBFSpot/SMASpot with commandline parameter -v -amXX,<br>
          where XX is the amount of months you would like to retreive, for example:<br>
          <b>./SBFSpot -v -am12</b> , this will retreive up to 2 years from now.<br><br>
          This process can take a while, when pressing the above button, please wait until the dashboard is shown
          again!.
        </p>
        <input type="hidden" id="idx" name="idx" [value]="hardware.idx">
      </div>
    </form>
  </div>

</div>
