<div class="container">
	<div class="page-header-small page-header-with-button">
		<h1 data-i18n="Roomplan">Roomplan</h1>
        <div><a class="btnstyle3" back-button><i class="fa fa-reply" title="Back"></i>&nbsp;<span data-i18n="Back"></span></a></div>
	</div>

	<page-loading-indicator ng-hide="::$ctrl.plans"></page-loading-indicator>

	<div ng-if="::$ctrl.plans">
		<section>
			<div class="btn-panel align-right">
				<button class="btn btn-default" data-i18n="Add Plan" ng-click="$ctrl.addPlan()"></button>
			</div>

			<room-plans-table plans="$ctrl.plans" on-update="$ctrl.refreshPlans()" on-select="$ctrl.selectPlan(plan)"></room-plans-table>
		</section>

		<section ng-show="$ctrl.selectedPlan">
        	<div class="page-header-small">
                <h3 data-i18n="Devices">Devices</h3>
            </div>

			<div class="btn-panel align-right">
				<button class="btn btn-default" data-i18n="Add" ng-click="$ctrl.addDeviceToPlan()"></button>
				<button	class="btn btn-default" data-i18n="Clear" ng-click="$ctrl.removeAllDevicesFromPlan()"></button>
			</div>

			<room-plan-devices-table
					plan-id="$ctrl.selectedPlan.idx"
					devices="$ctrl.planDevices"
					on-update="$ctrl.refreshPlanDevices()"></room-plan-devices-table>
		</section>
	</div>
</div>

<script type="text/ng-template" id="app/plans/roomPlanAddModal.html">
	<div class="modal-header">
		<h3 class="modal-title" data-i18n="Add New Plan"></h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" name="modalForm">
			<div class="control-group">
				<div>
					<label class="control-label" for="new-plan-name" data-i18n="Name"></label>:
					<input type="text"
						   id="new-plan-name"
						   class="form-control"
						   required
						   minlength="1"
						   maxlength="100"
						   ng-model="$ctrl.planName">
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button"
				class="btn btn-primary"
				data-i18n="Add"
				ng-disabled="modalForm.$invalid || $ctrl.isSaving"
				ng-click="$ctrl.add()"></button>

		<button type="button"
				class="btn btn-default"
				data-i18n="Cancel"
				ng-click="$dismiss()"></button>
	</div>
</script>

<script type="text/ng-template" id="app/plans/roomPlanEditModal.html">
	<div class="modal-header">
		<h3 class="modal-title" data-i18n="Edit Plan"></h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" name="modalForm">
			<div class="control-group">
				<div class="controls">
					<label for="plan-name" data-i18n="Name"></label>:
					<input type="text"
						   id="plan-name"
						   class="form-control"
						   required
						   minlength="1"
						   maxlength="100"
						   ng-model="$ctrl.planName">
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button"
				class="btn btn-primary"
				data-i18n="Update"
				ng-disabled="modalForm.$invalid || $ctrl.isSaving"
				ng-click="$ctrl.update()"></button>

		<button type="button"
				class="btn btn-default"
				data-i18n="Cancel"
				ng-click="$dismiss()"></button>
	</div>
</script>

<script type="text/ng-template" id="app/plans/roomPlanDeviceSelectorModal.html">
	<div class="modal-header">
		<h3 class="modal-title" data-i18n="Select Device"></h3>
	</div>
	<div class="modal-body">
		<page-loading-indicator ng-hide="::$ctrl.devices"></page-loading-indicator>
		<room-plan-device-selector
				ng-if="::$ctrl.devices"
				devices="::$ctrl.devices"
				on-select="$ctrl.selectDevice(device)"></room-plan-device-selector>
	</div>
	<div class="modal-footer">
		<button type="button"
				class="btn btn-primary"
				data-i18n="Add"
				ng-disabled="!$ctrl.selectedDevice"
				ng-click="$close($ctrl.selectedDevice)"></button>

		<button type="button"
				class="btn btn-default"
				data-i18n="Cancel"
				ng-click="$dismiss()"></button>
	</div>
</script>

<script type="text/ng-template" id="app/plans/roomPlanDeviceSelector.html">
	<div class="device-selector">
		<section class="device-selector__section device-selector__section_hardware">
			<h2 data-i18n="Hardware"></h2>
			<div class="list-group list-group-sm device-selector-group ">
				<a href="javascript:void(0)"
				   class="list-group-item list-group-item-action"
				   ng-class="{'active': item === $ctrl.hardwareFilter}"
				   ng-click="$ctrl.filterByHardware(item)"
				   ng-repeat="item in $ctrl.hardwareItems track by item"
				>
					{{ item }}
				</a>
			</div>
		</section>

		<section class="device-selector__section device-selector__section_devices">
			<room-plans-device-selector-table
					class="device-selector-group"
					devices="$ctrl.filteredDevices"
					on-select="$ctrl.selectDevice(value)"></room-plans-device-selector-table>
		</section>
	</div>
</script>
