/*
	Untitled: A responsive HTML5 website template by HTML5Templates.com
	Released for free under the Creative Commons Attribution 3.0 license (html5templates.com/license)
	Visit http://html5templates.com for more great templates or follow us on Twitter @HTML5T
*/

@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Satisfy.eot');
  src: local('Satisfy'), url('fonts/Satisfy.eot') format('truetype');
}
@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Abel.eot');
  src: local('Abel'), local('Abel-Regular'), url('fonts/Abel.eot') format('truetype');
} 
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  src: url('fonts/Oswald-Light.eot');
  src: local('Oswald Light'), local('Oswald-Light'), url('fonts/Oswald-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  src: url('fonts/Oswald-Regular.eot');
  src: local('Oswald Regular'), local('Oswald-Regular'), url('fonts/Oswald-Regular.ttf') format('truetype');
} 
/*********************************************************************************/
/* Global                                                                        */
/*********************************************************************************/
* {
margin:0;
padding:0; 
}

html, body {
	height: 99%;
}

body {
	background: #202020 url(images/img01.jpg) repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #525252;
}

h2 {
	margin: 0em;
	padding: 0em;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-transform: none;
	font-size: 1.5em;
	font-weight: 200;
	color: #CCCCCC;
}

h1, h3 {
	margin: 0em;
	padding: 0em;
	font-family: Arial, Helvetica, sans-serif;
}

p {
	line-height: 170%;
}

a {
	color: #43A4D3;
}

strong {
	font-weight: 700;
	color: #2A2A2A;
}

#wrap {
min-height:100%; 
margin:0 auto;
}
#wrap:before { /* Opera and IE8 "redraw" bug fix */
content:"";
float:left;
height:100%;
margin-top:-999em;
}
* html #wrap { /* IE6 workaround */
height:100%; 
}

/* Copyright */

#copyright {
  height:16px;
  margin:-16px auto 0; /* negative margin-top equals height of #foot */
	border-top: 1px solid #303030;
	text-align: center;
}

#copyright p {
	font-family: 'Abel', sans-serif;
	font-size: 1.125em;
	color: #6A6A6A;
}

#copyright a {
	color: #838383;
}

#copyright a:hover {
	text-decoration: none;
}

#disimg
{
  opacity:0.3;
  filter:alpha(opacity=30); /* For IE8 and earlier */
}

#notification{
    z-index:1005;
    background-color:#204060;
    border-width: 2px 2px 2px 2px;
    border-color: #5FA0FF;
    border-style: solid;
    border-radius: 10px;
}

#notification p{
    font-size:18px;
    color:white;
    margin: 11px;
    text-align:center;
    text-decoration: none;
    text-transform: none;
    font-weight:bold;
}

/* Button Style */

.button-style a {
	display: block;
	width: 11.250em;
	height: 2.40em;
	margin-top: 1.875em;
	background: url(images/img03.jpg) repeat;
	line-height: 3.125em;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	font-family: 'Oswald', sans-serif;
	font-size: 1.125em;
	font-weight: 200;
	color: #FFFFFF;
	outline: none;
	cursor: pointer;
}

.button-style-sel a {
	display: block;
	width: 11.250em;
	height: 2.40em;
	margin-top: 1.875em;
	background: url(images/img03s.jpg) repeat;
	line-height: 3.125em;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	font-family: 'Oswald', sans-serif;
	font-size: 1.125em;
	font-weight: 200;
	color: #FFFFFF;
	outline: none;
	cursor: pointer;
}

#topnav {
	overflow: hidden;
	padding: 0em 0em 1em 0em;
	background: #FFFFFF;
}

/* Button Style 2 */

.button-style2 a {
	display: inline-block;
	height: 2.60em;
	margin-top: 1.25em;
	padding: 0em 2.25em 0em 1.25em;
	background: url(images/img03.jpg) repeat right top;
	border-radius: 5px;
	line-height: 2.60em;
	text-decoration: none;
	text-transform: none;
	font-size: 1em;
	color: #FFFFFF;
	outline: none;
	cursor: pointer;
}

.button-style2-sel a {
	display: inline-block;
	height: 2.60em;
	margin-top: 1.25em;
	padding: 0em 2.25em 0em 1.25em;
	background: url(images/img03s.jpg) repeat right top;
	border-radius: 5px;
	line-height: 2.60em;
	text-decoration: none;
	text-transform: none;
	font-size: 1em;
	color: #FFFFFF;
	outline: none;
	cursor: pointer;
}

.btnstyle {
	display: inline-block;
	height: 2.60em;
	margin-top: 1.25em;
	padding: 0em 2.25em 0em 0.5em;
	background: url(images/img03.jpg) repeat right top;
	border-radius: 5px;
	line-height: 2.60em;
	text-decoration: none;
	text-transform: none;
	font-size: 1em;
	color: #FFFFFF;
	outline: none;
	cursor: pointer;
}

.btnstyle-sel {
	display: inline-block;
	height: 2.60em;
	margin-top: 1.25em;
	padding: 0em 2.25em 0em 0.5em;
	background: url(images/img03s.jpg) repeat right top;
	border-radius: 5px;
	line-height: 2.60em;
	text-decoration: none;
	text-transform: none;
	font-size: 1em;
	color: #FFFFFF;
	outline: none;
	cursor: pointer;
}

.btnstylerev {
	display: inline-block;
	height: 2.60em;
	margin-top: 1.25em;
	padding: 0em 0.5em 0em 2.0em;
	background: url(images/img03r.jpg) repeat left top;
	border-radius: 5px;
	line-height: 2.60em;
	text-decoration: none;
	text-transform: none;
	font-size: 1em;
	color: #FFFFFF;
	outline: none;
	cursor: pointer;
}

.btnstyle3 {
	display: inline-block;
	height: 2.00em;
	margin-top: 0.25em;
	padding: 0em 1.25em 0em 1.25em;
	background: url(images/img03b.jpg) repeat right top;
	border-radius: 5px;
	line-height: 2.00em;
	text-decoration: none;
	text-transform: none;
	font-size: 1em;
	color: #FFFFFF;
	outline: none;
	cursor: pointer;
}

.btnstyle3-dis {
	display: inline-block;
	height: 2.00em;
	margin-top: 0.25em;
	padding: 0em 1.25em 0em 1.25em;
	background: url(images/img03bd.png) repeat right top;
	border-radius: 5px;
	line-height: 2.00em;
	text-decoration: none;
	text-transform: none;
	font-size: 1em;
	color: #FFFFFF;
	outline: none;
	cursor: pointer;
}

.btnstyle3-sel {
	display: inline-block;
	height: 2.00em;
	margin-top: 1.25em;
	padding: 0em 1.25em 0em 1.25em;
	background: url(images/img03bs.jpg) repeat right top;
	border-radius: 5px;
	line-height: 2.00em;
	text-decoration: none;
	text-transform: none;
	font-size: 1em;
	color: #FFFFFF;
	outline: none;
	cursor: pointer;
}

.btnsmall {
	display: inline-block;
	height: 1.60em;
	padding: 0em 0.6em 0em 0.6em;
	background: url(images/img03b.jpg) repeat right top;
	border-radius: 5px;
	line-height: 1.60em;
	text-decoration: none;
	text-transform: none;
	font-size: 1em;
	color: #FFFFFF;
	outline: none;
	cursor: pointer;
}

.btnsmall-sel {
	display: inline-block;
	height: 1.60em;
	padding: 0em 0.6em 0em 0.6em;
	background: url(images/img03bs.jpg) repeat right top;
	border-radius: 5px;
	line-height: 1.60em;
	text-decoration: none;
	text-transform: none;
	font-size: 1em;
	color: #FFFFFF;
	outline: none;
	cursor: pointer;
}

/* Hover state*/
.btnsmall:hover{
	color: #FFFF00;
}


/** LIST STYLE 1 */

ul.style1 {
	margin: 0em;
	list-style: none;
}

ul.style1 li {
	padding: 0.94em 0em;
	border-top: 1px solid #E6E6E6;
}

ul.style1 a {
	display: block;
	padding: 0em 0em 0em 1.87em;
	background: url(images/img10.png) no-repeat left top;
	text-decoration: none;
	color: #525252;
}

ul.style1 a:hover {
	text-decoration: underline;
}

ul.style1 .first {
	border-top: 0;
}

/** LIST STYLE 2 */

ul.style2 {
	margin: 0em;
	padding: 0em;
	list-style: none;
}

ul.style2 li {
	padding: 1.25em 0em 2.5em 0em;
	border-top: 1px solid #E6E6E6;
}

ul.style2 a {
	text-decoration: none;
	color: #525252;
}

ul.style2 a:hover {
	text-decoration: underline;
}

ul.style2 .date {
	display: inline-block;
	margin: 0em 0em 1.56em 0em;
	padding: 0.35em 0.63em;
	background: url(images/img06.png) repeat;
	border-radius: 5px;
	letter-spacing: 0.06em;
	line-height: none;
	text-transform: none;
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
	color: #FFFFFF;
}

ul.style2 .date a {
	color: #FFFFFF;
}

ul.style2 img {
	float: left;
	margin-right: 1.5em;
}

ul.style2 .first {
	border-top: 0;
}

/** LIST STYLE 3 */

ul.style3 {
	margin: 0em;
	padding: 0em;
	list-style: none;
}

ul.style3 li {
	padding: 1.25em 0em 1.56em 0em;
}

ul.style3 a {
	display: block;
	text-decoration: none;
	color: #C18062;
}

ul.style3 a:hover {
	text-decoration: underline;
}

ul.style3 .date {
}

ul.style3 .date b {
}

ul.style3 .date a {
	color: #FFFFFF;
}

ul.style3 .date a:hover {
	text-decoration: none;
}

ul.style3 .first {
	padding-top: 0em;
	background: none;
}

/** LIST STYLE 4 */

ul.style4 {
	margin: 0em;
	padding: 0em;
	list-style: none;
}

ul.style4 li {
	padding: 0.94em 0em 0.94em 0em;
	border-top: 1px solid #742F0E;
}

ul.style4 a {
	display: block;
	padding: 0em 0em 0em 1.87em;
	background: url(images/img10.png) no-repeat left top;
	text-decoration: none;
	color: #C18062;
}

ul.style4 a:hover {
	text-decoration: underline;
}

ul.style4 li {
	border-top: 0;
}

/** LIST STYLE 5 */

ul.style5 {
	overflow: hidden;
	margin: 0em 0em 1em 0em;
	padding: 0em;
	list-style: none;
}

ul.style5 li {
	float: left;
	padding: 0.25em 0.25em;
	line-height: 0;
}

ul.style5 a {
}



/** LIST STYLE 6 */

ul.style6 {
	margin: 0em;
	padding: 0em;
	list-style: none;
}


ul.style6 h3 {
	margin: 0em;
	padding: 0em 0em 0.63em 0em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1em;
	color: #A0A09F;
}

ul.style6 p {
	font-style: italic;
	font-size: 0.87em;
}

ul.style6 li {
	padding: 1.25em 0em 1.25em 0em;
	border-top: 1px solid #303030;
	line-height: 170%;
}

ul.style6 a {
	display: block;
	padding: 0em;
	text-decoration: none;
	color: #737373;
}

ul.style6 a:hover {
	text-decoration: underline;
}

ul.style6 .first {
	padding-top: 0em;
	border-top: 0;
}



.balloon {
	padding: 1.87em;
	background: url(images/img08.jpg) repeat left top;
	border-radius: 5px;
	line-height: 180%;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2em;
	font-style: italic;
}

.ballon-bgbtm {
	height: 1.87em;
	background: url(images/img09.png) no-repeat right top;
}

body table#itemtable,
body table#itemtable tbody{
	display: block;
	width: 100%;
}
body table#itemtable tbody tr{
	display: block;
	
	width: 96%;
	padding: 5px 5px 5px 5px;
	margin: 2px 100% 5px 0;
	
	border-style: none;
  border-radius: 5px;

	color: #0D161F;
	background-color: #F1F5FA;
	
	font-family: Arial, Helvetica, sans-serif;
}


body table#itemtable thead{
	display: none;
}

body table#itemtable tr > *{
	display: block;
	padding: 0;
	margin: 0;
}

/* I am using the :first-child as a way to style each column by itself*/
/* First column */
body table#itemtable tr td:first-child{
	height: 1.2em;
	padding: 0 .5em 0 .5em;
	margin-bottom: 5px;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	white-space: nowrap;
	
	border-width: 1px 1px 1px 1px;
	border-color: #2B5074;
	border-style: solid;
  border-radius: 5px;
	
	color: #0D161F;
	background-color: #D4E1EE;
}

/* Second column */
body table#itemtable tr td:first-child + td{ 
	border-color: #2B5074;  
	border-style: none;  
	border-width: 1px; 
	
	float: left;
	margin: 0 10px 10px 0;
}

body table#itemtable tr td:first-child + td img{
	display: block;
}

/* Third column */
body table#itemtable tr td:first-child + td + td{
	font-size: 90%;
	font-weight: bold;
}

body table#itemtable tr td:first-child + td + td:before{
	content: "Status: ";
	font-style: italic;
	font-size: 90%;
}

/* Fourth column */
body table#itemtable tr td:first-child + td + td + td{
	font-size: 80%;
}
body table#itemtable tr td:first-child + td + td + td:before{
	content: "Last Seen: ";
	font-style: italic;
}

/* Fifth column */
body table#itemtable tr td:first-child + td + td + td + td{
	font-size: 80%;
}
body table#itemtable tr td:first-child + td + td + td + td:before{
	content: "Type: ";
	font-style: italic;
}

/* Sixth column (bottom text)*/
body table#itemtable tr td:first-child + td + td + td + td + td{
	font-size: 90%;
	clear: both;
	padding: 0 5% 0 5%;
	line-height: 130%;
}

/* Hover state*/
body table#itemtable tbody tr:hover{
	border-color: #2B2C74;
	background-color: #F2F1FA;
}
body table#itemtable tr:hover td:first-child{
	border-color: #2B2C74;
	color: #0D0D1F;
	background-color: #D4D5EE;
}

/* Item Table Small */
body table#itemtablesmall,
body table#itemtablesmall tbody{
	display: block;
	width: 100%;
}
body table#itemtablesmall tbody tr{
	display: block;
	
	width: 96%;
	height: 66px;
	padding: 5px 5px 5px 5px;
	margin: 2px 100% 5px 0;
	
	border-style: none;
  border-radius: 5px;

	color: #0D161F;
	background-color: #F1F5FA;
	
	font-family: Arial, Helvetica, sans-serif;
}

body table#itemtablesmall thead{
	display: none;
}

body table#itemtablesmall tr > *{
	display: block;
	padding: 0;
	margin: 0;
}

/* I am using the :first-child as a way to style each column by itself*/
/* First column */
body table#itemtablesmall tr td:first-child{
	height: 1.2em;
	padding: 0 .5em 0 .5em;
	margin-bottom: 5px;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	white-space: nowrap;
	
	border-width: 1px 1px 1px 1px;
	border-color: #2B5074;
	border-style: solid;
  border-radius: 5px;
	
	color: #0D161F;
	background-color: #D4E1EE;
}

/* Second column */
body table#itemtablesmall tr td:first-child + td{ 
	border-color: #2B5074;  
	border-style: none;  
	border-width: 1px; 
	
	float: left;
	margin: 0 10px 10px 0;
}

body table#itemtablesmall tr td:first-child + td img{
	display: block;
}

/* Third column */
body table#itemtablesmall tr td:first-child + td + td{
	font-size: 90%;
	font-weight: bold;
}

body table#itemtablesmall tr td:first-child + td + td:before{
	content: "";
	font-style: italic;
	font-size: 90%;
}

/* Fourth column */
body table#itemtablesmall tr td:first-child + td + td + td{
	margin-top: 2px;
	font-size: 80%;
}
body table#itemtablesmall tr td:first-child + td + td + td:before{
	content: "Last Seen: ";
	font-style: italic;
}

/* Hover state*/
body table#itemtablesmall tbody tr:hover{
	border-color: #2B2C74;
	background-color: #F2F1FA;
}
body table#itemtablesmall tr:hover td:first-child{
	border-color: #2B2C74;
	color: #0D0D1F;
	background-color: #D4D5EE;
}

/* Mobile Dashboard items */
table.mobileitem {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
		border-style: none;
		background-color: #FFFFFF;
    width: 100%;
}

.mobileitem {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
		color: #000;
}

.mobileitem tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.mobileitem td, .mobileitem th {
    border-left: 0px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 6px;
    text-align: left;    
}

.mobileitem th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    border-top: none;
		text-shadow: 0 1px 0 rgba(255,255,255,.5); 
		font-weight: bold;
}

.mobileitem td:first-child, .mobileitem th:first-child {
    border-left: none;
}

.mobileitem td:last-child {
	font-weight: bold;
  text-align: right;
}

.mobileitem th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.mobileitem th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.mobileitem th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.mobileitem tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.mobileitem tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.borderbot {
	border-bottom: 0.04em solid rgba(255,255,255,.1);
}

.dimslider {
	z-index:1;
	border-width: 1px;
	border-style: solid;
	border-color: #333 #333 #777 #333;
	border-radius: 25px;
	width: 100%;
	margin-top: 0.5em;
	position: absolute;
	height: 13px;
	background-color: #8e8d8d;
	background: url('images/bg-track.png') repeat top left;
    box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5), 
    				  0 1px 0 0px rgba(250, 250, 250, .5);
}

.dimslider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background: url('images/handle.png') no-repeat 50% 50%;
	font-weight: bold;
	color: #1C94C4;
	border-style: none;
	outline: none;
	top: -7px;
	margin-left: -12px;
}

.dimslider .ui-slider-range {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #11AAFD 0%, #0199E0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#11AAFD), color-stop(100%,#0199E0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #11AAFD 0%,#0199E0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #11AAFD 0%,#0199E0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #11AAFD 0%,#0199E0 100%); /* IE10+ */
	background: linear-gradient(top,  #11AAFD 0%,#0199E0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11AAFD', endColorstr='#0199E0',GradientType=0 ); /* IE6-9 */
	position: absolute;
	border: 0;
	top: 0;
	height: 100%;
	border-radius: 25px;
}
