<div>
    <dz-back-to-top></dz-back-to-top>

    <div id="utilitycontent" class="container">

      <table class="bannav" id="bannav" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td>
            <a class="btnstylerev" routerLink="/Utility">{{'Back'| translate}}</a>
          </td>
        </tr>
      </table>
      <br>

      <div style="text-align:center;">
        <h2>{{device?.Name}}</h2>
      </div>

      <h2>{{'Day'| translate}}</h2>
      <dz-fan-day-graph [idx]="idx"></dz-fan-day-graph>
      <br>
      <h2>{{'Month'| translate}}</h2>
      <dz-fan-month-graph [idx]="idx"></dz-fan-month-graph>
      <br>
      <h2>{{'Year'| translate}}</h2>
      <dz-fan-year-graph [idx]="idx"></dz-fan-year-graph>

    </div>

  </div>
