<div class="page-header-small">
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td>
        <h1>{{'Nodes'| translate}}</h1>
      </td>
    </tr>
  </table>
</div>
<table class="display" id="nodestable" border="0" cellpadding="0" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th width="70" align="center">{{'ID'| translate}}</th>
      <th width="150" align="left">{{'Name'| translate}}</th>
      <th align="left">{{'Mac Address'| translate}}</th>
    </tr>
  </thead>
</table>
<input type="hidden" id="idx" name="idx" [value]="hardware.idx">
<table id="updelclr" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td>
      <a class="btnstyle3-dis" id="nodeupdate" (click)="WOLUpdateNode()">{{'Update'| translate}}</a>&nbsp;&nbsp;&nbsp;
      <a class="btnstyle3-dis" id="nodedelete" (click)="WOLDeleteNode()">{{'Delete'| translate}}</a>
    </td>
    <td align="right">
      <a class="btnstyle3" id="nodelistrefresh" (click)="WOLClearNodes()">{{'Clear'| translate}}</a>
    </td>
  </tr>
</table>
<br>
<table class="display" id="nodeparamstable" border="0" cellpadding="0" cellspacing="20">
  <tr>
    <td align="right" style="width:110px"><label for="nodename"><span>{{'Name'| translate}}</span>:</label></td>
    <td><input type="text" id="nodename" name="nodename" [(ngModel)]="nodename" style="width: 250px; padding: .2em;"
        class="text ui-widget-content ui-corner-all" /></td>
  </tr>
  <tr>
    <td align="right" style="width:110px"><label for="nodemac"><span>{{'Mac Address'| translate}}</span>:</label>
    </td>
    <td><input type="text" id="nodemac" name="nodemac" [(ngModel)]="nodemac" style="width: 150px; padding: .2em;"
        class="text ui-widget-content ui-corner-all" /></td>
  </tr>
  <tr>
    <td></td>
    <td><a class="btnstyle3" (click)="AddWOLNode()">{{'Add'| translate}}</a></td>
  </tr>
</table>
