<table class="display" border="0" cellpadding="0" cellspacing="0" width="100%" #table>
  <thead>
    <tr valign="middle">
      <th width="40" align="center"></th>
      <th align="left"></th>
      <th width="60" align="center"></th>
      <th width="60" align="center"></th>
    </tr>
  </thead>
</table>

{{ 'Level name' | translate}}:
<input type="text" [(ngModel)]="newLevelName">

<button type="button" class="btnstyle3" (click)="addLevel()" [disabled]="!isAddLevelAvailable()">{{ 'Add' | translate}}</button>

<dz-device-level-rename-modal (rename)="onRenameModal($event)"></dz-device-level-rename-modal>
