/*
// Origin:
// Modern CSS3 Calculator without images.
// by @jofelipe_
// www.jonathanfelipe.com.br
//
// tweaked to a security panel by GizMoCuz
// enhanced and optimized by DukeBox
// converted back to css by Hexagon
*/

/* "reset.less" */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* "font.css" */
@font-face {
    font-family: 'Digital';
    src: url('../font/Digital.eot');
    src: url('../font/Digital.eot?#iefix') format('embedded-opentype'),
         url('../font/Digital.woff') format('woff'),
         url('../font/Digital.ttf') format('truetype'),
         url('../font/Digital.svg#../font/Digital-7Italic') format('svg');
}
@font-face {
    font-family: 'Audiowide';
    src: url('../font/Audiowide.eot');
    src: url('../font/Audiowide.eot?#iefix') format('embedded-opentype'),
         url('../font/Audiowide.woff') format('woff'),
         url('../font/Audiowide.ttf') format('truetype'),
         url('../font/Audiowide.svg#../font/Audiowide-7Italic') format('svg');
}

/* "style.less" */
body { 
	background: url('../img/bg.jpg') repeat;
}

.clear { clear: both; height: 0 }

.keypad-header .title {
	margin-top: 10px;
	margin-bottom: 10px;
	font: 14px 'Audiowide';
}

.main-border {
	width: 468px;
	padding: 6px;
	border-radius: 40px;
	position: absolute;
	left: 50%;
	top: 50%; 
	margin-left: -237px;
	margin-top: -314px;
	background-image: linear-gradient(right bottom, #363636 27%, #808080 64%, #3b3b3b 82%);
	background-image: -o-linear-gradient(right bottom, #363636 27%, #808080 64%, #3b3b3b 82%);
	background-image: -moz-linear-gradient(right bottom, #363636 27%, #808080 64%, #3b3b3b 82%);
	background-image: -webkit-linear-gradient(right bottom, #363636 27%, #808080 64%, #3b3b3b 82%);
	background-image: -ms-linear-gradient(right bottom, #363636 27%, #808080 64%, #3b3b3b 82%);
	background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0.27, #363636), color-stop(0.64, #808080), color-stop(0.82, #3b3b3b));
}

#keypad {
	width: 438px;
	border-radius: 35px;
	padding: 15px;
	background: #e0e0e0; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #e0e0e0 0%, #b2b2b2 45%, #e0e0e0 80%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#e0e0e0), color-stop(45%,#b2b2b2), color-stop(80%, #e0e0e0), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #e0e0e0 0%, #b2b2b2 45%, #e0e0e0 80%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #e0e0e0 0%, #b2b2b2 45%, #e0e0e0 80%, #e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #e0e0e0 0%, #b2b2b2 45%, #e0e0e0 80%, #e5e5e5 100%); /* IE10+ */
	background: linear-gradient(135deg, #e0e0e0 0%, #b2b2b2 45%, #e0e0e0 80%, #e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#e5e5e5', GradientType=1); /* IE6-9 */
}

.title { 
	margin-bottom: 10px;
	color: rgba(139, 137, 137, .95);
	font: 20px 'Audiowide';
	text-align: center;
    text-transform: uppercase;
}

input[type="text"] {
	background: #499bea;
	background: -moz-linear-gradient(top,  #499bea 0%, #207ce5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #499bea), color-stop(100%, #207ce5));
	background: -webkit-linear-gradient(top, #499bea 0%, #207ce5 100%);
	background: -o-linear-gradient(top, #499bea 0%, #207ce5 100%);
	background: -ms-linear-gradient(top, #499bea 0%, #207ce5 100%);
	background: linear-gradient(to bottom, #499bea 0%, #207ce5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 );
	border-radius: 16px;
	padding: 2px 10px 0;
	width: 418px;
	height: 92px;
	border: 0;
	margin-bottom: 20px;
	font: 64px 'Digital', sans-serif;
	color: rgba(255, 255, 255, .75);
	text-align: center;
	-webkit-font-smoothing: none;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-font-smoothing: antialiased;
}
.keypad-keys {
	overflow: hidden;
}
.keypad-keys	li {
	display: block;
	float: left;
	cursor: pointer;
	width: 32px;
	background: #757575;
	text-align: center;
	white-space: nowrap;
	background: -moz-radial-gradient(center, ellipse cover, #757575 0%, #494949 47%, #383838 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #757575), color-stop(47%, #494949), color-stop(100%, #383838));
	background: -webkit-radial-gradient(center, ellipse cover, #757575 0%,#494949 47%,#383838 100%);
	background: -o-radial-gradient(center, ellipse cover, #757575 0%, #494949 47%, #383838 100%);
	background: -ms-radial-gradient(center, ellipse cover, #757575 0%, #494949 47%, #383838 100%);
	background: radial-gradient(ellipse at center, #757575 0%, #494949 47%, #383838 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#383838', GradientType=1);
	margin: 0 15px 15px 0;
	border-radius: 16px;
	font: 32px/32px 'Audiowide';
	color: #ffffff;
	padding: 20px;
}
.keypad-keys	li:hover {
	background: #939393;
	background: -moz-radial-gradient(center, ellipse cover, #939393 0%, #606060 47%, #191919 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #939393), color-stop(47%, #606060), color-stop(100%, #191919));
	background: -webkit-radial-gradient(center, ellipse cover, #939393 0%, #606060 47%, #191919 100%);
	background: -o-radial-gradient(center, ellipse cover, #939393 0%, #606060 47%, #191919 100%);
	background: -ms-radial-gradient(center, ellipse cover, #939393 0%, #606060 47%, #191919 100%);
	background: radial-gradient(ellipse at center, #939393 0%, #606060 47%, #191919 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#939393', endColorstr='#191919', GradientType=1);
}
.keypad-keys	li:nth-child(4n+4) { 
	margin-right: 0;
}
.keypad-keys	li.arm {
	width: 137px;
	font-size: 26px;
	background: #d83a5f;
	background: -moz-radial-gradient(center, ellipse cover, #d83a5f 0%, #c50330 44%, #aa0028 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #d83a5f), color-stop(44%, #c50330), color-stop(100%, #aa0028));
	background: -webkit-radial-gradient(center, ellipse cover, #d83a5f 0%, #c50330 44%, #aa0028 100%);
	background: -o-radial-gradient(center, ellipse cover, #d83a5f 0%, #c50330 44%, #aa0028 100%);
	background: -ms-radial-gradient(center, ellipse cover, #d83a5f 0%, #c50330 44%, #aa0028 100%);
	background: radial-gradient(ellipse at center, #d83a5f 0%, #c50330 44%, #aa0028 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d83a5f', endColorstr='#aa0028', GradientType=1);
}
.keypad-keys	li.arm:hover {
	background: #d83a5f;
	background: -moz-radial-gradient(center, ellipse cover, #d83a5f 0%, #d80330 44%, #aa0028 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #d83a5f), color-stop(44%, #d80330), color-stop(100%, #aa0028));
	background: -webkit-radial-gradient(center, ellipse cover, #d83a5f 0%, #d80330 44%, #aa0028 100%);
	background: -o-radial-gradient(center, ellipse cover, #d83a5f 0%, #d80330 44%, #aa0028 100%);
	background: -ms-radial-gradient(center, ellipse cover, #d83a5f 0%, #d80330 44%, #aa0028 100%);
	background: radial-gradient(ellipse at center, #d83a5f 0%, #d80330 44%, #aa0028 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d83a5f', endColorstr='#aa0028', GradientType=1);
}
.keypad-keys li.disarm {
	width: 137px;
	font-size: 26px;
	background: #1ea803;
	background: -moz-radial-gradient(center, ellipse cover, #1ea803 0%, #028f22 44%, #006d19 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #1ea803), color-stop(44%, #028f22), color-stop(100%, #006d19));
	background: -webkit-radial-gradient(center, ellipse cover, #1ea803 0%, #028f22 44%, #006d19 100%);
	background: -o-radial-gradient(center, ellipse cover,  #1ea803 0%, #028f22 44%, #006d19 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #1ea803 0%, #028f22 44%, #006d19 100%);
	background: radial-gradient(ellipse at center, #1ea803 0%, #028f22 44%, #006d19 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1ea803', endColorstr='#006d19', GradientType=1);
}
.keypad-keys	li.disarm:hover {
background: #1ea803;
background: -moz-radial-gradient(center, ellipse cover, #1ea803 0%, #029722 44%, #006d19 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #1ea803), color-stop(44%, #029722), color-stop(100%, #006d19));
background: -webkit-radial-gradient(center, ellipse cover, #1ea803 0%, #029722 44%, #006d19 100%);
background: -o-radial-gradient(center, ellipse cover,  #1ea803 0%, #029722 44%, #006d19 100%);
background: -ms-radial-gradient(center, ellipse cover,  #1ea803 0%, #029722 44%, #006d19 100%);
background: radial-gradient(ellipse at center, #1ea803 0%, #029722 44%, #006d19 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1ea803', endColorstr='#006d19', GradientType=1);
}
.keypad-keys	li.disabled {
	width: 137px;
	font-size: 26px;
	background: #cedce7;
	background: -moz-radial-gradient(center, ellipse cover, #cedce7 0%, #596a72 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #cedce7), color-stop(100%, #596a72));
	background: -webkit-radial-gradient(center, ellipse cover, #cedce7 0%, #596a72 100%);
	background: -o-radial-gradient(center, ellipse cover, #cedce7 0%, #596a72 100%);
	background: -ms-radial-gradient(center, ellipse cover, #cedce7 0%, #596a72 100%);
	background: radial-gradient(ellipse at center, #cedce7 0%, #596a72 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cedce7', endColorstr='#596a72', GradientType=1);
}
.keypad-keys li.cancel {
	width: 137px;
	font-size: 26px;
	background: #00b7ea;
	background: -moz-radial-gradient(center, ellipse cover, #00b7ea 0%, #30a9ea 44%, #009ec3 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #00b7ea), color-stop(44%, #30a9ea), color-stop(100%, #009ec3));
	background: -webkit-radial-gradient(center, ellipse cover, #00b7ea 0%, #30a9ea 44%, #009ec3 100%);
	background: -o-radial-gradient(center, ellipse cover, #00b7ea 0%, #30a9ea 44%, #009ec3 100%);
	background: -ms-radial-gradient(center, ellipse cover, #00b7ea 0%, #30a9ea 44%, #009ec3 100%);
	background: radial-gradient(ellipse at center, #00b7ea 0%, #30a9ea 44%, #009ec3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b7ea', endColorstr='#009ec3', GradientType=1);
}
.keypad-keys li.cancel:hover {
		background: #00b7ea;
		background: -moz-radial-gradient(center, ellipse cover, #00b7ea 0%, #34b3ea 44%, #009ec3 100%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #00b7ea), color-stop(44%, #34b3ea), color-stop(100%, #009ec3));
		background: -webkit-radial-gradient(center, ellipse cover, #00b7ea 0%, #34b3ea 44%, #009ec3 100%);
		background: -o-radial-gradient(center, ellipse cover, #00b7ea 0%, #34b3ea 44%, #009ec3 100%);
		background: -ms-radial-gradient(center, ellipse cover, #00b7ea 0%, #34b3ea 44%, #009ec3 100%);
		background: radial-gradient(ellipse at center, #00b7ea 0%, #34b3ea 44%, #009ec3 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b7ea', endColorstr='#009ec3', GradientType=1);
	}
