<div class="db2-stat-card">
    <!-- Unconfigured state -->
    <div ng-if="!ctrl.widgetDef.config.deviceIdx" class="db2-chart-unconfigured">
        <i class="fa-solid fa-solar-panel"></i>
        <p>Select a device in settings</p>
    </div>

    <!-- Loaded state -->
    <div ng-if="ctrl.widgetDef.config.deviceIdx">
        <div class="db2-stat-label" ng-bind="ctrl.title"></div>

        <div ng-if="ctrl.usageWatt !== null"
             class="db2-stat-value"
             ng-class="ctrl.colorClass()">
            <i class="fa fa-bolt"></i> {{ctrl.usageWatt}} W
        </div>
        <div ng-if="ctrl.usageWatt === null" class="db2-stat-value">
            &mdash;
        </div>

        <div ng-if="ctrl.counterToday !== null" class="db2-stat-sub">
            Today: {{ctrl.counterToday}}
        </div>
    </div>
</div>
