<div class="db2-sysstat">
    <div class="db2-sysstat-row">
        <i class="fa-solid fa-server"></i>
        <span class="db2-sysstat-label">Domoticz</span>
        <span class="db2-sysstat-value db2-sysstat-running">Running</span>
    </div>
    <div class="db2-sysstat-row" ng-show="ctrl.version">
        <i class="fa-solid fa-circle-info"></i>
        <span class="db2-sysstat-label">Version</span>
        <span class="db2-sysstat-value" ng-bind="ctrl.version"></span>
    </div>
    <div class="db2-sysstat-row" ng-show="ctrl.hardwareCount !== null">
        <i class="fa-solid fa-wrench"></i>
        <span class="db2-sysstat-label">Hardware</span>
        <span class="db2-sysstat-value">{{ ctrl.hardwareCount }} active</span>
    </div>
    <div class="db2-sysstat-row" ng-show="ctrl.deviceCount !== null">
        <i class="fa-solid fa-border-all"></i>
        <span class="db2-sysstat-label">Devices</span>
        <span class="db2-sysstat-value" ng-bind="ctrl.deviceCount"></span>
    </div>
</div>
