@import url("../../css/legacy.css"); /* Don't remove this line! */
@import url("common.css");

/*
Default Simple Gray theme for Domoticz
*/
body {
background: linear-gradient(to bottom, #606c88 0%, #3f4c6b 100%) fixed;
}

#copyright p {
	font-family: 'Abel', sans-serif;
	font-size: 1.125em;
	color: #AAAAAA;
}

#copyright a {
	color: #A3A4D3;
	text-decoration: none;
}

.warning-text {
	color: yellow;
}