<div class="modal fade" tabindex="-1" role="dialog" #modal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title">{{ 'Edit selector action' | translate }}</h3>
      </div>
      <div class="modal-body">
        <table class="display" id="paramstable2" border="0" cellpadding="0" cellspacing="20">
          <tr valign="top">
            <td align="right" style="width:120px">
              <span class="help-block" for="selectoraction">{{ 'Action' | translate }}: </span>
            </td>
            <td>
              <input type="text" id="selectoraction" name="selectoraction" class="form-control" size="50" maxlength="500"
                pattern="^(http|https|script):\/\/.+" [(ngModel)]="action" #input="ngModel" />
              <br>
              <span class="help-block">{{ '(Should start with http://, https:// or script://)' | translate}}</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" type="button" (click)="close()" [disabled]="input.invalid">{{ 'Save' | translate }}
        </button>
        <button class="btn btn-default" type="button" (click)="dismiss()">{{ 'Cancel' | translate }}</button>
      </div>

    </div>
  </div>
</div>
