/*  RESETS THAT CAN HOPEFULLY BE REMOVED SOON  */

body table#itemtable tr td:first-child + td{
    font-size:115%;
}

#utilitycontent table:first-of-type{
margin-bottom:20px;
}

/* GENERAL STYLING AND RESETS */

* {box-sizing: border-box}

html, body {height:100%}
#main-view{padding-top:20px}

.row-fluid [class^="span"]{
    box-sizing: border-box;
    padding: 20px;
    margin-bottom:15px;
    margin-top:5px
}


div.divider [class^="span"]{
    margin-bottom:1em;
    padding:0;
}

td{
    box-sizing: border-box;
}

td:before {
    font-style: normal;
}

.row {
    clear: both;
}

button{
    background-color:#999;
    padding:5px;
    color:#fff;
    border-radius:5px;
    border:none;
}

label{white-space:nowrap}
textarea{width:100%}
select{
    min-width:120px; 
    padding:5px 0;
}

textarea, input, select {
    box-sizing: border-box;
    padding:5px;
}



.span6 textarea, .span6 input.text, .span6 select{
    width:100%!important;
}

#settingscontent select,
#settingscontent input.text,
#settingscontent .ui-widget-content{
    min-width: 120px;
    width:calc(100% - 75px)!important;
    padding:5px!important;
}

#settingscontent td:not(:first-of-type){width:auto!important;}

td br{display:none;}

br{   content: "A" !important;
    /*display: block !important;*/
    margin-bottom: 1.5em !important;
}

#zwavenodesqueried ~ #configuration br{   content: "A" !important;
    display: block !important;
    margin-bottom: 1.5em !important;
}

p {margin:5px 0!important}

#IMain{
    background-color:#ccc;
    width:100%!important;
    border-bottom: 39px solid #ccc;
    border-top: 10px solid #ccc;
    margin-top: -35px!important;
}

tr.odd{
    background-color:#f2f4FF;
}

.row_selected{
    text-decoration: underline;
    color:white;
}

.row_selected td{
    box-shadow: 1px 1px 3px rgba(50,50,50,0.2);
}

#active_systems input:not(:first-of-type){
    margin-left:10px;
}

.btnstyle3{
    background: #46b1d9;
    background: -moz-linear-gradient(top, #46b1d9 0%, #3d9bc9 50%, #2e8cbc 51%, #2571ab 100%);
    background: -webkit-linear-gradient(top, #46b1d9 0%,#3d9bc9 50%,#2e8cbc 51%,#2571ab 100%);
    background: linear-gradient(to bottom, #46b1d9 0%,#3d9bc9 50%,#2e8cbc 51%,#2571ab 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46b1d9', endColorstr='#2571ab',GradientType=0 );
}


/* HEADER CONTENT*/

@media only screen and (max-width: 640px) {
    #timesun div {display:none}
    }

#temptophtm .bannav{
    /*position:relative; 
    top:-20px*/
    width:auto;
    margin-bottom:1em;
}

#temptophtm td:last-of-type span{
    top: 2px;
    background-color: #eee;
    padding: 2px 10px 1px 10px;
    right: -11px;
    position: relative;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
}

#temptophtm td:last-of-type select{width:100px!important;}

#timesun {height:0!important}
#timesun div {
    color:#aaa;
    z-index:100;
    position:absolute;
    left:20px;
    bottom:0;
}


/*  LOGO & MAIN NAVIGATION  */

.brand img {
    height: 30px;
    width: 30px;
}

.brand h1 {
    font-size: 1em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    margin-top: -30px;
    margin-left: 26px
}

#appversion {
    display: none;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle{
    background-color:#ccc;
}

#appnavbar a:hover,
#appnavbar li:hover{
    background-color:#ccc;
    background-image:none;
    color:#666
}

.dropdown-submenu > a:after {
    border-left-color: #0066cc;
    margin-right: 0px;
}

.navbar .nav .current_page_item > a {
    background-color: white!important;
    color: #999!important;
    background-image:none!important;
    border:none!important;
}

.navbar .nav .dropdown-menu {
    background-color: #eee;
    background-image: none;
    border-color: #ddd;
}

.navbar .nav .dropdown-menu li a {
    background-color: #eee;
}

.navbar .nav li a {
    background-color: #ddd;
    background-image: none;
    border: none;
    color: #666;
    font-weight: normal;
}

.navbar .nav li a:hover{
    background-color: #ccc;
    background-image:none;
    border: none!important;
    text-shadow: none;
    -webkit-transition: .2s; /* Safari */
    transition: .2s;
}

#appnavbar li a {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    text-shadow:none;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    box-shadow: none;
    padding: 10px 0 0 0;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a{
    text-shadow: none;
}

.navbar .brand{ 
    margin-left:0;
}

.navbar .nav{
    margin:0;
}


/*  SUB-NAVIGATION  */

#timesun + td {margin-bottom:1em}

#bannav, .bannav {
    width: auto;
    margin-bottom:1em;
}

#bannav td{
    width:auto!important;
}

#bannav td a{
    margin-right:10px;
}

#bannav td:last-of-type a{
    margin-right:0;
}

.sub-tabs-apply {
/*    position:absolute;
    bottom:60px;
    left:10%;*/
    border-radius:5px!important;
    border:none!important;
}

.sub-tabs > li > a{
    cursor:pointer;
}


/*  FLOORPLAN */

#BulletGroup{
    background-color: rgba(0,0,0,0.5)!important; 
    transition: all 1s ease-out;
}
#BulletGroup:hover{
    background-color: rgba(0,0,0,1)!important;
}

#floorplancontent #BulletGroup .bullet, 
#floorplancontent #BulletGroup .bulletSelected{
    width:30px;
    height:30px;
}

#floorplancontent #BulletGroup:hover #BulletImages{
    padding-top:10px;
}


/*  HEADERS  */

#dashcontent h2:first-of-type{
    margin-top:0!important;
}

#holder h1, #holder h2, #holder h3 {
    clear: both;
    padding-bottom:10px;
    margin: 20px 0 10px 0;
}


/*  ITEMS */

body .span3  table > tbody > tr,
body .span4  table > tbody > tr{
    padding:0!important;
    margin:0 0 0 0!important;
    width:100%!important;
    width:100%!important;
    /*position: relative!important;*/
    border-style: none;
    box-sizing: border-box;
    top:0;
    left:0;
}

.divider > .span3  table > tbody > tr,
.divider > .span4  table > tbody > tr{
    height: 130px;
    overflow:hidden;
}

#dashcontent table > tbody > tr{
    margin-bottom:40px;
    overflow:visible;
}

body #dashcontent table > tbody > tr{
    height: auto;
}


/* ITEM CONTENT */

#img, #img1, #img2, #img3{
    float:right!important;
    margin: 0!important;
    position: relative;
    height:0;
    overflow:visible;
}

#img, #img1 {

    top:-35px;
    right:7px;
    z-index:1;
}

#img2 {
    top:-35px;
    right: 47px;
    z-index:1;
}

#img3 {
    top:-35px;
    right: 87px;
    background-color:#D4E1EE;
}

#img img, 
#img1 img, 
#img2 img, 
#img3 img{
    height:30px;
    width:30px;
}

#dashcontent #img, 
#dashcontent #img1, 
#dashcontent #img2, 
#dashcontent #img3{
    top: -48px;
}    
    
#dashcontent #img img, 
#dashcontent #img1 img, 
#dashcontent #img2 img, 
#dashcontent #img3 img{
    height:40px;
    width:40px;
}

#dashcontent .span3 #img2{right:47px}
#dashcontent .span3 #img3{right:87px}
#dashcontent .span4 #img2{right:52px}
#dashcontent .span4 #img3{right:97px}

.span3 td:last-of-type .lcursor,
.span4 td:last-of-type .lcursor
/*#itemtabledoubleicon td:last-of-type .lcursor, 
#itemtable td:last-of-type .lcursor, #itemtablenotype td:last-of-type .lcursor, 
#itemtablenostatus td:last-of-type .lcursor*/ {
    position: relative;
    top: -33px;
    left: 13px;
    border-radius: 5px;
}


#dashcontent #lastupdate,  
#dashcontent #type{
    display: none;
}

#dashcontent td > div.dimslider{
    position:relative;
    margin:0 0 0 0!important;
    overflow:visible;
    box-sizing: border-box;
}


#name {
    width: 100%;
    height: 40px!important;
    font-size: 100%!important;
    border-style: none!important;
    border-width:0!important;
    color: #444!important;
    overflow: hidden;
    box-sizing: border-box;
    padding: 14px 5px 9px 35px!important;
    text-transform: uppercase;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
    margin:0!important;
    cursor: move;
}

#dashcontent #name {
    align-items: center;
    padding: 21px 0 0 20px!important;
    height:55px!important;
}

#bigtext{
    color: #444 !important;
    font-size: 115%;
    font-weight: normal;
    white-space: nowrap;
    line-height: 100%;
    text-align: right;
    overflow: visible;
    position: relative;
    top: -27px;
    right: 40px;
    /*width: 25%;*/
    margin:0!important;
    height:0;
}

#scenecontent #bigtext, 
#itemtablenostatus #bigtext,
#lightcontent #bigtext,
#dashcontent #itemtablesmalldoubleicon #bigtext,
#dashcontent #itemtabletrippleicon #bigtext{
    display: none;
}

#dashcontent #bigtext{
    top: -35px;
    right: 55px;
}

#bigtext span{
    background-color: #D4E1EE;
    padding: 3px 10px 3px 3px;
}
#dashcontent #bigtext span{
    background-color: #D4E1EE;
    padding: 0;
}

#lastupdate {
    color: #777;
    font-style: normal;
    white-space: nowrap;
    position: relative;
    top: 35px;
    left:20px;
    width: 45%;
    margin:0!important;
    height:0;
}

#lastupdate:before {
    font-style: normal!important;
}

#status {
    color: #777;
    white-space: nowrap;
    overflow: visible;
    position: relative;
    top: 60px;
    left: 20px;
    width: 90%;
    margin:0!important;
    font-style: normal!important;
    font-size:80%!important;
    line-height: 1.4em;
    height:0;
}

#dashcontent #status{
    display:none;
}

.span3 table > tbody> tr > td:last-of-type,
.span4 table > tbody> tr > td:last-of-type{
    position:relative;
    padding:0!important;
    margin:0!important;
    white-space: nowrap;
}

.span3 table > tbody> tr > td:last-of-type a,
.span4 table > tbody> tr > td:last-of-type a{
    position:relative;
    left:-16px;
}

#dashcontent > table:first-of-type{
    display:none;
}

.span4 td:last-of-type a, 
.span4 td:last-of-type div{
    font-size:12px;
}


#type:before {
    font-style: normal!important;
}

#type {
    color: #777;
    white-space: nowrap;
    text-indent: 184px;
    position: relative;
    top: 35px;
    left: 0px;
    width: 100%;
    height:0;
}


.span3 #type > .dimslider,
.span4 #type > .dimslider {
    position: relative;
    margin: 0!important;
    top: 15px;
    left: 20px;
    width: 90%!important;
    width: calc(100% - 40px)!important;
}

#dashcontent #type > .dimslider,
#dashcontent #type > .dimslider {
    position: relative;
    margin: 10px 0 0 0!important;
    top: 0px;
    left: 20px;
    width: 90%!important;
    width: calc(100% - 40px)!important;
}

.btn-primary{
    text-shadow:none;
    text-decoration: none
}

a.btnsmall {
    margin-bottom: 10px;
    padding:7px;
}

a.btnstyle, a.btnstylerev {
    font-family: "Lato", sans-serif;
    font-size: 110%;
    background-color: #777;
    margin-right: 10px;
    background-image:none;
    padding: 0px 10px 0 10px;
    background: #46b1d9;
    background: -moz-linear-gradient(top, #46b1d9 0%, #3d9bc9 50%, #2e8cbc 51%, #2571ab 100%);
    background: -webkit-linear-gradient(top, #46b1d9 0%,#3d9bc9 50%,#2e8cbc 51%,#2571ab 100%);
    background: linear-gradient(to bottom, #46b1d9 0%,#3d9bc9 50%,#2e8cbc 51%,#2571ab 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46b1d9', endColorstr='#2571ab',GradientType=0 );  
}

a.btnstyle:last-of-type, a.btnstylerev:last-of-type{
    margin-right:0;
}

div.container {
    border-style: none;
}

div.navbar-inner {
    border-style: none;
}

p.ng-binding {
    color: #ccc;
    font-size: 12px;
    padding-top: 2px
}

/* this is a fix for a lack of proper span tags */
#protectiontable, 
#loghistory table, 
#notifications>table, 
#metercounters table, 
#othersettings table, 
#floorplans table, 
#settingscontent #ActiveTabs {
    padding-left: 20px;
    margin-bottom:10px;
}
#hardwarecontent #configuration{ padding:20px;}

#restoredatabase center {
    text-align: left;
}

.bannercontent {
    padding-bottom: 50px;
}


/*  FOOTER  */

#copyright {
    background-color: #f1f1f1;
    margin-top: 10px;
    border: none;
    height:auto;
}

#copyright p {
    color: #ccc;
    font-size:90%;
    margin: 0 10px 0 0;
    text-align: right;
    margin:0!important;
    padding-right:20px;
}

#copyright a, #copyright a:visited {
    color: #ccc;
}

.page-header-small {border:none!important; margin-top:0!important}



/*  SETTINGS  */

#settingscontent {
    margin-bottom:80px;
}

/* something to iron out */
/*
#settingscontent #othersettings > h2,
#settingscontent #floorplans > h2,
#settingscontent #metercounters > h2,
#settingscontent #notifications > h2,
#settingscontent #loghistory > h2,
#settingscontent #system > h2 {
    background-color:#e0e;
    color: #666;
    padding:10px 20px;
    margin-top:20px;
    margin-bottom:0;
}
*/

.tab-content{overflow:visible}

#settingscontent .sub-tabs {
    border-bottom:1px solid #ddd;
}

#tabs a:not(.sub-tabs-apply) {
    background-color:#ddd;
    margin-top:2px;
}

#tabs .active a{
    background-color:#fff;
}

#settingscontent span{
    display:inline-block;
    padding-top:5px;
    padding-bottom:5px;
}

/* tof, maar plakt dingen ook horizontaal aan elkaar
.row-fluid{
    display:flex;
    flex-wrap: wrap;
    align-items: stretch;
}*/

#settingscontent #ActiveTabs h2{
    color: #666;
}

#savetable{
    background-color:#ccc;
}

#acceptnewhardwaretable td:first-of-type{
    position:relative;
}

#acceptnewhardwaretable td:first-child button{
    width:50%;
    margin: 10px 50% 10px 0;
}

#protectiontable, 
#loghistory table, 
#notifications>table, 
#metercounters table, 
#othersettings table, 
#floorplans table, 
#settingscontent #ActiveTabs,
#emailtable,
#hardwarecontent > div:not(.page-header-small):not(.bannav):not(#bannav), 
#hardwarecontent > table:not(.page-header-small):not(.bannav):not(#bannav),
#hardwarecontent #ipnodeparamstable,
#nodeparamstable,
#utilitycontent #notificationparamstable,
#plancontent #activeparamstable,
#usercontent #userparamstable, #cameracontent #activeparamstable, #hardwarecontent #hardwareparamstable, 
#lightcontent #paramstable:not(:nth-of-type(1)):not(:nth-of-type(2)), 
#scenecontent #paramstable:not(:nth-of-type(1)):not(:nth-of-type(2)), 
#weathercontent #notificationparamstable ,#lightcontent #timerparamstable, 
#tempnotifications #notificationparamstable, #lightcontent #notificationparamstable, 
#scenecontent #timerparamstable,
#notificationtable:not(.dataTable),
#notifications>table, 
#paramstable,#fibaromain #uservariablesedittable,
#customlog, #timerparamstable,
#linkparamstable, #influxremote,
#linkhttpparamstable, #httpremote,
#linkgooglepubsubparamstable, #googlepubsubremote,
#fibaromain #linkparamstable, #fibaromain #fibaroremote,
#userparamstable,#activeparamstable, #lightcontent paramstable, 
#scenecontent #paramstable, 
#notificationparamstable, #hardwareparamstable
{
    background-color:#eee;
    border-top: 20px solid #eee;
    border-bottom:20px solid #eee;
}

#updelclr, #delclractive, #delclr, #delclractive {
    box-sizing: border-box;
    padding:10px; background-color:#eee;
}

#devicescontent .bannav td{width:auto!important}
    
#hardwarecontent #s0metertype {background-color:#eee}
#hardwarecontent #s0metertype h2{color:#555;background-color:#ddd;width:50%;padding:10px}
#hardwarecontent #s0metertype button{margin:20px}

#hardwarecontent #limitform {background-color:#eee;padding:20px}
    
#scenecontent > table:first-of-type{
    width:auto;
    margin-bottom:1em;
}

#scenecontent #combodevice a{
/*    position:relative;
    left:-394px;
    top: 140px;*/
}


/* ICONS PAGE */
#iconsman > h3{
    font-size:2em
}

#iconsmain > div.row{
    margin-left:0!important;
}


/*  SLIDERS */

.dimslider,
.ui-slider-range{
    z-index:0!important;
}

.dimslider .ui-slider-range{
    background-color: #73b6ca;
    background: linear-gradient(top, #73b6ca 0%,#63b6ca 100%);
    background: -moz-linear-gradient(top, #73b6ca 0%, #73b6ca 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#73b6ca), color-stop(100%,#73b6ca));
    background: -webkit-linear-gradient(top, #73b6ca 0%,#73b6ca 100%);
    background: -o-linear-gradient(top, #73b6ca 0%,#73b6ca 100%);
    background: -ms-linear-gradient(top, #73b6ca 0%,#73b6ca 100%);
    background: linear-gradient(top, #73b6ca 0%,#73b6ca 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73b6ca', endColorstr='#73b6ca',GradientType=0 );
}

.dimslider .ui-slider-handle{
    width:40px;
    height:40px;
    top:-15px;
    margin-left:-20px;
}


/*  USER VARIABLES */

#uservariablesedittable{
    background-color:#eee;
    border-top:10px solid #eee;
    margin-bottom:60px
}


/*  DATA TABLE  */

table.dataTable{
    background-color: #666;
    color: #fff!important;
    border: none!important;
    border-left:none!important;
    border-right:none!important;
}

table.display td{padding:5px;}

table.dataTable thead th{
    padding: 5px;
    text-align:left;
}

table.dataTable thead th img{
    background-color: rgba(250,250,250,0.5);
    margin-top:2px;
    padding:3px;
    box-sizing: content-box;
    border-radius:3px;
    vertical-align: top;
}
table.dataTable thead th img:hover{
    background-color:rgba(0,0,0,0.4);
    box-shadow: 1px 1px 1px rgba(250,250,250,0.1);
}

table.display thead th div.DataTables_sort_wrapper{
    padding-right:0;
    text-align:left;
    white-space: nowrap;    
}

table.display thead th div.DataTables_sort_wrapper .ui-icon{
    border-radius:50%;
    background-color:#eee;
    padding:2px 2px 2px 0;
}

table.display thead th div.DataTables_sort_wrapper span{
    display:inline-block;
    margin: 0 0 0 5px;
    position:relative;
    top:3px;
}
table.display thead th div.DataTables_sort_wrapper span:hover{background-color:rgba(0,0,0,0.4)}

table.dataTable tbody img{
    vertical-align: middle;
}

.dataTables_wrapper .ui-toolbar{
    padding: 10px 10px 5px 10px;
}

.dataTables_paginate{
    margin-right:0!important
}

.dataTables_filter input{
    height:10px;
    margin-left:10px;
}


/*  POPUP  */

#rgbw_popup{
    left:50%!important;
}


/*  SELECTORLEVELS  */

.selectorlevels{
    font-style:normal;
    margin: 0!important;
    text-indent:0!important;
}    

.divider .span4 .selectorlevels{
    border-top:7px solid transparent;
}

#dashcontent .selectorlevels{
    margin-top:0!important;
    border-top:none;
}

.selectorlevels .ui-buttonset{
    margin-right:0;
    position:relative;
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
.divider .selectorlevels .ui-buttonset{
    height:36px;
}

.selectorlevels .ui-buttonset .ui-button{
    border: none;
    overflow:hidden;
    margin:0;
    border-radius: 0;
    text-shadow:none;
    font-style: normal;
    background-image:none;
    border-color:transparent!important;
    font-weight:normal;
    margin-right:0; /* newly added */
    flex: 1 1 25%;
    height:auto;
    align-self:stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px -0.5px 2px 0.5px rgba(50, 50, 50, 0.1);
}

.selectorlevels .ui-buttonset .ui-button span{
    padding:1px 5px;
}

.selectorlevels  .ui-state-active{
    background-color:#73b6ca;
    color:#fff;
    box-shadow: inset 0px 1px 2px 1px rgba(50,50,50,0.2);
}

#dashcontent .selectorlevels label .ui-button-text{
    padding:0;
}

.span3 .selectorlevels .ui-selectmenu-button,
.span4 .selectorlevels .ui-selectmenu-button{
    left:20px;
    top:5px;
    width:calc(100% - 40px)!important;
}

#dashcontent .selectorlevels .ui-selectmenu-button,
#dashcontent .selectorlevels .ui-selectmenu-button{
    left:0px;
    top:0;
    width:100%!important;
    border:0;
    box-shadow: 1px -0.5px 2px 0.5px rgba(50, 50, 50, 0.1);
    color:#333;
}

#dashcontent .selectorlevels .ui-selectmenu-button span{    
    background-color: #D4E1EE;
}

#dashcontent .selectorlevels .ui-selectmenu-button span.ui-selectmenu-text{
    text-align:center;
    padding: 3px!important;
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#dashcontent .selectorlevels .ui-selectmenu-button span.ui-selectmenu-text {
    font-weight: normal;
    text-align: center;
    padding: 3px;
}

#dashcontent .selectorlevels .ui-buttonset .ui-button{
    flex-grow: 1;
    flex-shrink: 1;
}


/* UI & BOOTSTRAP */

#dashcontent .selectorlevels .state-default{
    color:#666;
}

.ui-widget-content {
    background-color: #fff;
    background-image: none!important;
    border-color: #999;
    color: #333;
    margin-left:0!important;
}

#settingscontent .ui-widget-content{
    min-width:210px;
    width:calc(100% - 65px);
}

.ui-slider-handle{
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.ui-draggable-dragging > section{
    -webkit-box-shadow: 7px 7px 25px 5px rgba(50, 50, 50, 0.48);
    -moz-box-shadow:    7px 7px 25px 5px rgba(50, 50, 50, 0.48);
    box-shadow:         7px 7px 25px 5px rgba(50, 50, 50, 0.48);
}

.ui-toolbar, div.dataTables_wrapper .ui-widget-header{
    color:#666;
    background-color:#ccc;
}

.ui-toolbar {
    background-color:#ccc;
    background-image:none;
    border:none;
}

.ui-state-default, .ui-widget-header, .ui-state-disabled{
    background-image:none;
    color:#666;
}

.ui-state-default{
    background-color:#ddd;
    color:#444;
    border:none;
    /*border-right: 2px solid #ccc;*/
    border-top:none;
    border-bottom:none;
    text-shadow: none!important;
}

.ui-state-hover{
    background-color:#43A4D3;
}

.ui-dialog-titlebar{
    color:#fff;
}

.ui-dialog{
    height:auto;
    transition:visibility 0.5s linear 0.5s, opacity 0.5s linear;
    /*opacity: 0;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.8); */
    transition: all 2s ease-in-out;
}


/* BACKSTAGE HARDWARE PAGES */

#holder #notification{
    background-color:#333;
    padding:20px    
}

#utilitycontent {margin-top:30px}


/* LOG */

#customlog #devicecontainer{
    background-color:#ccc;
}

#logcontent table td:last-of-type{
    vertical-align: middle;
    background-color: #fff;
    float: right;
    padding: 5px 12px;
}

#logcontent div.log {
    background-color:#fff;
    border:5px solid #fff;
    background: -moz-linear-gradient(top, #999 0%, #fff 50%);
    background: -webkit-linear-gradient(top, #999 0%,#fff 50%);
    background: linear-gradient(to bottom, #999 0%,#fff 50%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999', endColorstr='#fff',GradientType=0 );
    background-attachment: fixed;
}


/* SETTINGS */

#settingscontent .span6 tr:first-of-type{
    border-top: none;
}

#settingscontent .span6 td{
    padding:5px;
    vertical-align: middle; 
}

#settingscontent .span6 td:first-of-type{
    min-width:80px; 
    text-align:left!important;
}

#settingscontent .span6 td span{
    padding-top:0;
}

/* temporary fix for use of tables in odd places */
#fibaromain > table > tbody > tr > td {display:block;}
#fibaromain > table > tbody > tr > td > table {margin-bottom:20px}
#influxmain > table > tbody > tr > td {display:block;}
#influxmain > table > tbody > tr > td > table {margin-bottom:20px}
#googlepubsubmain > table > tbody > tr > td {display:block;}
#googlepubsubmain > table > tbody > tr > td > table {margin-bottom:20px}
#httpmain > table > tbody > tr > td {display:block;}
#httpmain > table > tbody > tr > td > table {margin-bottom:20px}

#fibaromain #uservariablesedittable td{
    display:table-cell;
}

#divprogress span{
    font-size:130%;
    display:block;
    background-color:#c00;
    padding:20px;
    color:#fff;
}

#settingscontent div.row-fluid.related{
    display:flex;
    flex-flow: row wrap;
    align-items: stretch;
}
#settingscontent div.row-fluid.related .span2{
    width:auto;
}



/* MOBILE */

tbody{
    height:100%;
}

.mobileitem{
    margin-top:20px;
}

.mobileitem > tbody > tr{
    position:relative;
}

.mobileitem td:first-child{
    font-size:15px;
    padding:10px;
}

.mobileitem img{
    margin-right:5px;
    vertical-align: text-bottom;
}

#dashcontent .mobileitem #status{
    display:table-cell;
    position:relative;
    top:0;
    left:0;
    font-size:100%!important;
    white-space: normal;
    width:40%;
}

.mobileitem #type{
    text-indent:0!important;
    font-size:0;
}

.mobileitem #type .selectorlevels{
    font-size:80%;
    text-indent:0!important;
}

.mobileitem #type .selectorlevels label,
.mobileitem #type .selectorlevels span{
    font-size:80%;
        text-indent:0!important;
}

.mobileitem #type .selectorlevels .ui-buttonset{height:50px;}

.mobileitem .btn-mini{margin-left:5px}

#dashcontent .mobileitem #img{
    position:initial;
}

#dashcontent .mobileitem td{
    height:auto!important;
}

#dashcontent .mobileitem .btn:last-of-type{margin-right:5px;}

#dashcontent .mobileitem #name{
    font-size:16px;
    display:table-cell;
    /*height:40px!important;*/
    position:relative;
    width:60%;
    padding:0 0 0 10px !important;
    border-style: ridge!important;
    border-width:1px!important;
    border-right-width: 0px!important;
    border-right-style: none!important;
}

#dashcontent .mobileitem td > div.dimslider{
    top: -5px!important;
    height: 20px;
    left:10px; 
    width:90%!important;
    width:90%!important;
    /*width: calc(100% - 20px);*/
    border: 5px solid white;
}

#dashcontent .mobileitem .ui-slider-range{
    height: 10px!important;
    top:0!important;
}

#dashcontent .mobileitem .ui-slider-handle{
    top:-7px;
}

#dashcontent .mobileitem .selectorlevels{
    display:initial!important;
    width: calc(100% - 20px)!important;
    left:0!important;
    height:35px;
    top:0;
    margin: 0 0 0 0px!important;
    text-indent: 0;
}

#dashcontent .mobileitem .selectorlevels  .ui-buttonset{
    height:auto;
}

#dashcontent .mobileitem td:last-of-type{
    top:0;
}



/* Media queries */

@media screen and (max-device-width: 361px){ /* for mobile phones, makes popups work better */
    
    .ui-dialog{
        width:90%!important;
        margin-left:4%!important;
    }
    
    .ui-dialog-content{
        height:auto!important
    }
    
    .ui-dialog td{
        display:block;
        text-align:left;
    }
    
    .ui-dialog td textarea,
    .ui-dialog td input{
        max-width: 80%!important;
    }
    
    input[type=checkbox] {
        transform: scale(1.5);
    }
    
}

/*
@media all and (min-width: 481px) and (max-width: 979px){
    
    .navbar .brand{
        margin-left:14px;
    }
    
    .navbar .nav {
        margin-right:20px
    }
}*/

@media all and (min-width: 1200px){
    
    input.text{min-width:210px;}
    
}  
