

.row-fluid .span12,
.row-fluid .span6 {
	padding: 10px;
	margin-bottom: 15px;
	margin-top: 5px
}

div.divider .span3,
div.divider .span4 {
	margin-bottom: 1em;
	padding: 0;
}

.row {
	clear: both;
}

.row-fluid [class^="span"] {
	background-color: #444141; /*!important;*/
	color: #fff !important;
}

.row-fluid .span2 {
	background-color: transparent;
}

#settingscontent input.text {
	width: calc(100% - 65px) !important;
}

#settingscontent .ui-widget-content,
#settingscontent input.text {
	padding: 3px;
}

#settingscontent .span6 .btn-info {
	line-height: 12px;
}

#settingscontent #ActiveTabs {
	padding-left: 20px;
}

#settingscontent {
	margin-bottom: 80px;
}

zwavesettingscontent .sub-tabs {
	border-bottom: 1px solid #fff;
}

#zwavesettingscontent .sub-tabs li.active a {
	background-color: #73b6ca;
	color: #fff;
	border: none;
	border-bottom: 4px solid #73b6ca;
}

#zwavesettingscontent .sub-tabs li:not(.active) {
	margin-bottom: 1px;
}

#zwavesettingscontent .sub-tabs li:not(.active) a {
	border-bottom: 2px solid transparent;
	margin-bottom: 1px;
}

#zwavesettingscontent .sub-tabs > li > a.btn-succes, .sub-tabs-apply, .btn-succes {
	color: #fff !important;
	text-shadow: none;
}

#zwavesettingscontent #ActiveTabs {
	padding-left: 20px;
}

.tab-content {
	overflow: visible;
}

