<div id="dialog-editthermostatmode" [title]="'Edit Device'| translate">
  <form>
    <table class="display" id="metertable" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td align="right" style="width:120px">
          <label>Idx: </label>
        </td>
        <td>
          <span id="deviceidx">{{item.idx}}</span>
        </td>
      </tr>
      <tr>
        <td align="right">
          <label for="devicename"><span>{{'Name'| translate}}</span>: </label>
        </td>
        <td>
          <input type="text" id="devicename" name="devicename" [(ngModel)]="item.Name"
                 style="width: 250px; padding: .4em;"
                 class="text ui-widget-content ui-corner-all"/>
        </td>
      </tr>
      <tr>
        <td align="right">
          <label for="devicedescription"><span>{{'Description'| translate}}</span>: </label>
        </td>
        <td>
          <textarea id="devicedescription" name="devicedescription" [(ngModel)]="item.Description" rows="4"
                    style="width: 356px; padding: .2em;"
                    class="text ui-widget-content ui-corner-all"></textarea>
        </td>
      </tr>
      <tr>
        <td align="right">
          <span>{{'Protected'| translate}}</span>:
        </td>
        <td>
          <input type="checkbox" id="protected" name="protected" [(ngModel)]="item.Protected"><label
          for="protected"></label>
        </td>
      </tr>
      <tr>
        <td align="right">
          <label><span>{{'Mode'| translate}}</span>: </label>
        </td>
        <td>
          <select id="combomode" name="combomode" [(ngModel)]="item.Mode" style="width:200px"
                  class="combobox ui-corner-all">
            <option *ngFor="let o of options;" [value]="o[0]">{{o[1]}}</option>
            <!-- <option value="0">Auto Changeover</option>
            <option value="1">Tuesday</option>
            <option value="2">Wednesday</option>
            <option value="3">Thursday</option>
            <option value="4">Friday</option>
            <option value="5">Saturday</option>
            <option value="6">Sunday</option> -->
          </select>
        </td>
      </tr>
    </table>
  </form>
</div>
