<div id="bstatus" [ngClass]="itemClasses">
  <table id="itemtablesmall" class="itemtablesmall" border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
      <td id="name" class="name">{{item.Name}}</td>
      <td id="bigtext" class="bigtext"><span class="wrapper" [innerHTML]="bigtexthtml"></span></td>
      <td id="img" class="img img1">
        <a [routerLink]="imageLink" *ngIf="imageLink.length > 0"><img src="images/{{imageSrc}}" class="lcursor" height="40"
            width="40"></a>
        <img *ngIf="imageLink.length == 0" src="images/{{imageSrc}}" (click)="onImageClick($event)" class="{{imageClass}}"
          height="40" width="40">
      </td>
      <td id="status" class="status"><span class="wrapper" [innerHTML]="statushtml"></span></td>
      <td id="lastupdate" class="lastupdate"><span>{{item.LastUpdate}}</span></td>
    </tr>
    </tbody>
  </table>
</div>

<dz-setpoint-popup (set)="onSetpointSet()"></dz-setpoint-popup>
