/* This is a sub-theme. It makes the most visible changes to the base.css file, such as changing colours or the position of certain elements. */


/*  general settings, like colors. */
body {
    color: #ddd; /*!important;*/
    background-color: #013!important;
    background-image: linear-gradient(to bottom, #001c38 0%,#0f0c2b 100%);
    background-attachment: fixed;
    
}
    
/* settings/hardware background color*/
.row-fluid [class^="span"]{
    background-color: #11213d; /*!important;*/
    color:#fff!important;
}
.row-fluid .span2{background-color:transparent}

/* hacking around all the parts that don't follow span convention*/
div.ui-popup,
#protectiontable, 
#loghistory table, 
#notifications>table, 
#metercounters table, 
#othersettings table, 
#floorplans table, 
#settingscontent #ActiveTabs,
#emailtable,
#hardwarecontent > div:not(.page-header-small):not(.bannav):not(#bannav), 
#hardwarecontent > table:not(.page-header-small):not(.bannav):not(#bannav),
#hardwarecontent #ipnodeparamstable,
#nodeparamstable,
#utilitycontent #notificationparamstable,
#plancontent #activeparamstable,
#usercontent #userparamstable, #cameracontent #activeparamstable, #hardwarecontent #hardwareparamstable, 
#lightcontent #paramstable:not(:nth-of-type(1)):not(:nth-of-type(2)), 
#scenecontent #paramstable:not(:nth-of-type(1)):not(:nth-of-type(2)), 
#weathercontent #notificationparamstable ,#lightcontent #timerparamstable, 
#tempnotifications #notificationparamstable, #lightcontent #notificationparamstable, 
#scenecontent #timerparamstable,
#notificationtable:not(.dataTable),
#notifications>table, 
#paramstable,#fibaromain #uservariablesedittable,
#customlog, #timerparamstable,
#linkparamstable, #influxremote,
#linkhttpparamstable, #httpremote,
#linkgooglepubsubparamstable, #googlepubsubremote,
#fibaromain #linkparamstable, #fibaromain #fibaroremote,
#userparamstable,#activeparamstable, #lightcontent paramstable, 
#scenecontent #paramstable, 
#notificationparamstable, #hardwareparamstable
{
    background-color: #11213d!important;
    color:#fff!important;
    border-color: #11213d!important;
}

/*  navigation  */
.navbar{
    background-color:#eee;
}

#beforebannav,
#timesun{
    color:#ddd;
}

#dashcontent h2, 
#settingscontent h1{
    font-size:140%;
    color:#fff;
    padding-bottom:10px;
    margin-top:30px /*!important*/;
    border-bottom:1px solid #fff;
}

.navbar .nav .current_page_item > a, 
.navbar .nav .current_page_item > a:hover{
    color:#fff!important;
}

body table#itemtablesmall tr td:first-child, /* #name */
body table#itemtablesmalldoubleicon tr td:first-child,
body table#itemtablesmalltrippleicon tr td:first-child,
body table#itemtablesmall tr td:first-child,
body table#itemtablenotype tr td:first-child{
    border-top-left-radius: 3px!important;
    border-top-right-radius:3px!important;
}

.sub-tabs-apply{
    position:inherit!important;
}


/* titles */

h1,h2,h3{color:#999}

.row-fluid h1,
.row-fluid h2,
.row-fluid h3 {
    color:#ddd!important;
    border-bottom: 1px dotted #666;
}

/* name */

#name{
    box-shadow: 2px 2px 18px 0px rgba(50, 50, 50, 0.2);
}

#dashcontent #name{
    border-top-left-radius: 3px!important;
    border-top-right-radius: 3px!important;
}


/* bigtext */

#dashcontent div[class^="span"] #bigtext > span {
    border-radius:3px;
    background-color: #D4E1EE;
}

#dashcontent div[class^="span"] #bigtext > span > span {
    border-radius:3px;
}


/*  icons images */

#img img, 
#img1 img,
#img2 img,    
#img3 img,
#img4 img{
    height:30px;
    box-sizing: border-box;
    cursor: pointer;
    padding:2px;
}


.span4 #img img:hover, 
.span4 #img1 img:hover,
.span4 #img2 img:hover,
.span4 #img3 img:hover,
#dashcontent #img img:hover, 
#dashcontent #img1 img:hover,
#dashcontent #img2 img:hover,
#dashcontent #img3 img:hover{
    background-color:#3d9cca;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius:3px;
}



/* item status*/

#status{color:#333;}

#dashcontent .item.withstatus #status > .wrapper > span{
    /*background-color:rgba(250,250,250,0.1)!important;*/
}

#dashcontent .item.withstatus #status > .wrapper > span{
    padding-left:10px;
    /*background-color:#D4E1EE;*/
}

/* item mini-options-menu*/

.options a.[class^="btnsmall"]{font-size:12px;}

.item .options {
    height: 30px;
    /*background-color: rgba(0,0,0,0.02);*/
}

.options a.[class^="btnsmall"]:hover{
    box-shadow:none;
    color:#fff!important;
}


/*  item lastupdate  */

.ui-draggable:not(.ui-dialog) #lastupdate{
    /*color:#ccc;*/
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}


/* item table */

.ui-draggable-dragging > div.item > table,
.ui-draggable-dragging > section > table{
    border-radius:3px;
}

/*
.ui-draggable:not(.ui-dialog) tr{*/
    /*background-color:#D4E1EE;*//*
    background: -moz-linear-gradient(to bottom, rgba(241,245,250,0.9) 0%, rgba(241,245,250,1) 100%,); 
    background: -webkit-linear-gradient(to bottom, rgba(241,245,250,1) 0% ,rgba(241,245,250,1) 55px, rgba(241,245,250,0.05) 55px, rgba(241,245,250,0.1) 60px,rgba(241,245,250,0.1) 100%);
    background: linear-gradient(to bottom, rgba(241,245,250,1) 0% ,rgba(241,245,250,1) 55px, rgba(241,245,250,0.05) 55px,rgba(241,245,250,0.1) 60px, rgba(241,245,250,0.1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e1ee', endColorstr='#cccccccc',GradientType=0 );
    box-shadow: 2px 2px 18px 0px rgba(50, 50, 50, 0.2);
}*/


body:not(.dashboard) .ui-draggable:not(.ui-dialog) tr {   
background: #bdd5ed;
background: -moz-linear-gradient(top, #d4e1ee 0%,#bdd5ed 100%); 
background: -webkit-linear-gradient(top, #d4e1ee 0%,#bdd5ed 100%);
background: linear-gradient(to bottom, #d4e1ee 0%,#bdd5ed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdd5ed', endColorstr='#d4e1ee',GradientType=0 );
}

body .span3,
body .span4{margin-bottom:1em}

body.frontStage .item table > tbody > tr, /* the new way*/
body .span3  table > tbody > tr,
body .span4  table > tbody > tr{
    border-radius:3px;
}

#dashcontent .ui-draggable tr{
    /*background-image: none!important;*/
    /*background-color: #D4E1EE;*/
   /* box-shadow: 2px 2px 18px 0px rgba(50, 50, 50, 0.3);*/
}

.ui-draggable:not(.ui-dialog) tr td{
    display:block;
}



/* item buttons and widgets  */

#dashcontent div[class^="span"] .selectorlevels {
    width:100%;
    height:25px;
    position:relative;
    left:0!important;
    margin-top:0!important
}

#dashcontent div[class^="span"] .selectorlevels .ui-buttonset .ui-button{height:25px}

body:not(.dashboard) .selectorlevels .ui-buttonset .ui-button{border-radius:3px!important}

#dashcontent div[class^="span"] .selectorlevels .ui-buttonset{
    height:30px;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    margin-right:0;
}



#dashcontent div[class^="span"] td > div.dimslider{
    left:0;
    top:0;
    width:100%!important;
    /*box-shadow: inset 0 -2px 20px 1px rgba(0, 0, 0, 0.5); /*, 0 1px 5px 5px rgba(250, 250, 250, 0.4)*/
    background: #bbc6d2;
    height:25px;
    border-bottom:1px solid #555;
    border-right: 10px solid #D4E1EE;
    border-left: 10px solid #D4E1EE;
    box-sizing: border-box;
}

#dashcontent div[class^="span"] .dimslider .ui-slider-handle{
    top:-9px;
}

.ui-corner-bottom, .ui-corner-br, .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-left, .ui-corner-tr{
    border-radius:0!important;
}

/* PRAGMATIC -  temporarily disabled to make everything look similar
.ui-draggable:not(.ui-dialog) tr td.options a[class^="btnsmall"]{
    color:#2e8ebc;
    background-color: #1f2e3e;
    margin-top:0px;
    margin-left:0px;
    padding:0px 15px;  
    background-image:none;
    border-radius:3px;
    position: relative;
    left: -28px;
}
*/

.ui-draggable:not(.ui-dialog) tr td.options a[class^="btnsmall"]:hover{
    background-image:none;
    box-shadow:none;
    color:#fff;
}

.ui-draggable:not(.ui-dialog) tr td.options a.btnsmall-sel{
    /*color:#af2aaf;*/ /* #446cce*/
    background-color:#af2aaf;
    color: #ddd;
    /*border-radius: 3px;*/
    /*padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
    height: 24px;
    display: inline-block;*/
}

/*
.ui-draggable:not(.ui-dialog) tr td:last-of-type a.btnsmall:first-of-type{
    margin-left:5px;
}*/


#dashcontent .selectorlevels label:not(.ui-state-active){
    background-color: #D4E1EE;
    box-shadow: -2px -1px 20px -1px rgba(50, 50, 50, 0.1)
}

#dashcontent .selectorlevels label:not(.ui-state-active):hover{
    background-color:#3d9cca;
    color:#fff;
}

/*  events  */

#IMain{
    /*background-color: transparent;*/
    background-color:#11213d;
    width: 100%!important;
    border:none;
    margin-top: 0!important;
    height:100%!important;
    top:0px;
}


/*  settings specific */

.relatedIcon{
vertical-align: text-bottom;
}

#dashcontent h2, #settingscontent h1{
    color:#bbb;
    margin-top:30px;
}

.related > .span2,
.related > .span3 {
    text-align: center;
}

#settingscontent .span6 tr{
    border-top: 1px dotted rgba(150,150,150,0.05);
}

select{background-color:#283750; color:#fff;border:0}


#settingscontent textarea,
#settingscontent textarea.ui-widget-content{
    /*background-color:rgba(255,255,255,0.2);*/
    border:none;
    color:#eee;
    background: #1c2b46;
    font-weight: normal;
    margin-bottom:5px;
}

#settingscontent textarea + span,
#settingscontent textarea + span + span,
#settingscontent textarea + span + span + span,
#settingscontent textarea + br + span,
#settingscontent textarea + br + span + span,
#settingscontent textarea + br + span + span + span{
    color:#ccc;
    font-size:10px
}


div:not(.ui-dialog) #settingscontent input.ui-widget-content,
textarea.ui-widget-content,
input.ui-widget-content{
    /*background-color: #11213d;*/
    padding: .2em;
    border: none;
    color: #eee;
    font-weight: bold;
    background-color: #1c2b46;
    border-bottom: 1px solid transparent;
}

/*
div[class*=dialog] input,
*/



input:focus{
    background-color:#404C63!important;
    color:#fff!important;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
}

textarea:focus{
    color:#fff;
    background-color:#404C63;
}

p.tip, p.inlinetip{
    color:#bbb;
}

.btn-success,
.btn-danger,
.btn-primary{
    text-transform: uppercase;
}

#settingscontent #Domoticz a.btn-info,
.related > div.span2 > a.btn-info{
    /*background-color:#ccc;*/
    background-color:#11213d;
    color:#ccc;
    background-image:none;
}

/*  data tables */

.dataTables_wrapper{
    /*border:10px solid #eee;*/
    margin-top:5px;
}

table.dataTable thead.ui-state-default{
    background-color: #292929;
    color: #ccc;
    border-color: #292929;
}

div.dataTables_wrapper .ui-toolbar, div.dataTables_wrapper .ui-widget-header{
    color: #ccc;
    background-color: #0e1b31;
    background: -moz-linear-gradient(top, rgba(21,39,69,1) 0%, rgba(21,39,69,1) 50%, rgba(14,27,49,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(21,39,69,1)), color-stop(50%, rgba(21,39,69,1)), color-stop(100%, rgba(14,27,49,1)));
    background: -webkit-linear-gradient(top, rgba(21,39,69,1) 0%, rgba(21,39,69,1) 50%, rgba(14,27,49,1) 100%);
    background: -o-linear-gradient(top, rgba(21,39,69,1) 0%, rgba(21,39,69,1) 50%, rgba(14,27,49,1) 100%);
    background: -ms-linear-gradient(top, rgba(21,39,69,1) 0%, rgba(21,39,69,1) 50%, rgba(14,27,49,1) 100%);
    background: linear-gradient(to bottom, rgba(21,39,69,1) 0%, rgba(21,39,69,1) 50%, rgba(14,27,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#152745', endColorstr='#0e1b31', GradientType=0 );    
}

.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_length, 
.dataTables_wrapper .dataTables_filter{
    color:#ccc;
}


/*  DIALOGS  */

body .ui-dialog, body .ui-dialog-content{
    color:#fff;
    background-color:#11213d;
}



/*  mobile  */

body.dashMobile #dashcontent #name,
body.dashMobile #dashcontent #status{box-shadow:none!important;}



/* PRAGMATIC - MAKING THE THEME WORK WITHOUT OTHER PROPOSED CHANGES TO DOMOTICZ */    


.item a.btnsmall{
    /*color: #53b4e3;*/
    padding:0 7px;
}

.item .btn-group{
    margin-left:15px;
    display:flex;
}

.item a.btnsmall-sel{
    margin-right:0;
    background: linear-gradient(to bottom, #d946d4 0%,#ad3dc9 50%,#9c2ebc 51%,#9e36ca 100%);
    }

#settingscontent .span4{
    padding: 20px;
    margin-bottom:15px;
}

#settingscontent .span4 label{
    white-space: normal;
}

#settingscontent .span6 textarea{
    width:100%!important;
}

/* JS mods make this unnecessary
#bigtext {
    color: rgba(255,255,255,0.8);
    background-image: none;
    background-color: transparent;
    font-size: 17px;
}
*/
#bigtext > span{color: rgba(255,255,255,0.8);}

#weathertophtm td{display:block; text-align:left}

/* doesnt work with log
#main-view > .container > table,
#main-view > .container > div > table{margin-bottom:10px}  
*/
#lightcontent #timesun,
#temptophtm #timesun,
#weathertophtm #timesun,
#utilitycontent > table{padding-bottom:10px}

.ui-draggable:not(.ui-dialog) tr{
    background-color: transparent;
    background-image:none;
    background: -moz-linear-gradient(top, rgba(125,185,232,0.2) 0%, rgba(89,203,234,0.1) 99%, rgba(89,203,234,0.1) 100%)!important; 
    background: -webkit-linear-gradient(top, rgba(125,185,232,0.2) 0%,rgba(89,203,234,0.1) 99%,rgba(89,203,234,0.1) 100%)!important;
    background: linear-gradient(to bottom, rgba(125,185,232,0.2) 0%,rgba(89,203,234,0.1) 99%,rgba(89,203,234,0.1) 100%)!important; 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#337db9e8', endColorstr='#1a59cbea',GradientType=1 );
}




@media all and (max-width: 600px){

    #dashcontent .item.withstatus #status .wrapper span{background-color:#D4E1EE!important}
    
}

/*  status indicators */


@media all and (max-width: 767px){
    
    div.item.statusNormal td#name{
        /*color:#333;*/
    }
    div.item.statusProtected #name span{
        /*color: #333;*/
    }
    div.item.statusProtected td#lastupdate{
        background-color: transparent;
        -moz-box-shadow: inset 0 -4px 8px -2px #A4B1EE;
        -webkit-box-shadow: inset 0 -4px 8px -2px #A4B1EE;
        box-shadow: inset 0 -4px 8px -2px #A4B1EE;
    }

    div.item.statusTimeout td#name{
        color: #fff;
        background-color: #DF2D3A; /* #d4741e;*/ /*#dcdf2d;*/
    }
    div.item.statusTimeout td#lastupdate{
        -moz-box-shadow: inset 0 -5px 8px -4px #DF2D3A;
        -webkit-box-shadow: inset 0 -5px 8px -4px #DF2D3A;
        box-shadow: inset 0 -5px 8px -4px #DF2D3A;
    }
    
    div.item.statusLowBattery td#name{
        color:#fff; 
        background-color:#df982d
    }    
    div.item.statusLowBattery td#lastupdate{
        -moz-box-shadow: inset 0 -1px 10px 0px #df982d;
        -webkit-box-shadow: inset 0 -1px 10px 0px #df982d;
        box-shadow: inset 0 -1px 10px 0px #df982d;
    }
    
    #someclouds #name span,#sunny #name span,
    #thunderstorm #name span,#unknown #name span,
    #stable #name span,#unstable #name span,#cloudy,
    #rain #name span{color:#fff;}
    
    #dashcontent .item.withstatus #status .wrapper{display: flex;height:auto;}
    /*
    #dashcontent .item.withstatus #status .wrapper{position:relative;top:20px!important};*/

}


@media all and (min-width: 768px){
    div.item.statusProtected td#name{
        color:#fff; 
        -moz-box-shadow: inset 0 -3px 0px 0px #A4B1EE;
        -webkit-box-shadow: inset 0 -3px 0px 0px #A4B1EE;
        box-shadow: inset 0 -3px 0px 0px #A4B1EE;        
        /*box-shadow: inset 0 -4px 8px -2px #A4B1EE;*/
    }

    div.item.statusTimeout td#name{
        color:#fff; 
        /*background-color: #DF2D3A;*/
        /*-moz-box-shadow: inset 0 -5px 8px -4px #DF2D3A;
        -webkit-box-shadow: inset 0 -5px 8px -4px #DF2D3A;
        box-shadow: inset 0 -10px 0px -4px #DF2D3A;*/
    }
    div.item.statusTimeout {
        /*border:5px solid #DF2D3A; */
        box-shadow: inset 0 0 0 3px #DF2D3A;
        height:100%;
    }
    
    
    div.item.statusLowBattery td#name{
        color:#fff; 
        -moz-box-shadow: inset 0 -1px 10px 0px #df982d;
        -webkit-box-shadow: inset 0 -1px 10px 0px #df982d;
        box-shadow: inset 0 -1px 10px 0px #df982d;
    }

    /*#dashcontent .withstatus #status .wrapper{background:linear-gradient(to bottom, rgba(0, 158, 255, 0.18) 0%,rgba(121, 54, 195, 0.1) 100%);}*/
    
    #dashcontent .item tr{background:linear-gradient(to bottom, rgba(0, 158, 255, 0.18) 0%,rgba(121, 54, 195, 0.1) 100%);

    }

    /*  footer  */

        /*html,body{height:calc(100% - 30px)!important;}*/
        /*#holder{min-height:calc(100% - 30px)!important;}*/
        #holder .container-fluid{padding-bottom:0;margin-top:0;padding-top:10px}

    #copyright{
        background-color:#013;
    }


    /* other final changes */

    .navbar .tooltip{padding:5px!important;top:-14px!important}

    div.divider .span3, 
    div.divider .span4{
        background-color: rgba(255,255,255,0.1);
    }

    div.divider .span3 .item, 
    div.divider .span4 .item{
        margin-bottom:0;
    }

    /*  EDIT SWITCH */

    .dd-options,
    .dd-select{background-color:#1c2b46!important}
    .dd-desc{color:#eee;}

}
    
/*  experiments  */

#dashcontent #dashSwitches div.item.offf .bigtext span{color:#bbb}


/* this allows subthemes to set the background color for the side-menu, without making it the background-color when the 
menu is on top. If it's on top, the background color is hidden behind a grey layer. The sidebar-menu turns that layer transparent.*/
@media only screen and (min-width: 480px){

    div.navbar{
        background-color:#11213d;/*#213152;*/
        background-image:none;
    }
    .navbar #appnavbar{
        background-image:none;
    }
    div.navbar .brand{background-color:transparent;}
    
    div.navbar:hover{background-color:#eee;}
    
    .navbar:hover #appnavbar{
        background-image:none;
        background: rgb(221,221,221);
        background: -moz-linear-gradient(left, rgba(221,221,221,1) 0%, rgba(229,229,229,1) 50%, rgba(221,221,221,1) 100%);
        background: -webkit-linear-gradient(left, rgba(221,221,221,1) 0%,rgba(229,229,229,1) 50%,rgba(221,221,221,1) 100%);
        background: linear-gradient(to right, rgba(221,221,221,1) 0%,rgba(229,229,229,1) 50%,rgba(221,221,221,1) 100%);
    }
    
}











