/* Fixes the settings tabs at the top of the screen. Only use this in combination with the main sidebar menu. */

@media all and (min-width: 1050px){
    
    #settingscontent .sub-tabs{
        position: fixed;
        width: calc(100% - 120px);
        background-color: #031935;
        padding-top: 21px;
        top: 0;
        left: 87px;
        z-index: 4;
        box-shadow: 0 5px 10px 0 #031935;
    }
    
    #settingscontent{margin-top:70px;}
    
}