<div id="dialog-editsetpointdevice" [title]="'Edit Device'| translate">
  <form>
    <table class="display" id="metertable" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td align="right" style="width:120px">
          <label>Idx: </label>
        </td>
        <td>
          <span id="deviceidx">{{item.idx}}</span>
        </td>
      </tr>
      <tr>
        <td align="right">
          <label for="devicename"><span>{{'Name'| translate}}</span>: </label>
        </td>
        <td>
          <input type="text" id="devicename" name="devicename" [(ngModel)]="item.Name"
                 style="width: 250px; padding: .4em;"
                 class="text ui-widget-content ui-corner-all"/>
        </td>
      </tr>
      <tr>
        <td align="right">
          <label for="devicedescription"><span>{{'Description'| translate}}</span>: </label>
        </td>
        <td>
          <textarea id="devicedescription" name="devicedescription" [(ngModel)]="item.Description" rows="4"
                    style="width: 356px; padding: .2em;"
                    class="text ui-widget-content ui-corner-all"></textarea>
        </td>
      </tr>
      <tr>
        <td align="right">
          <span>{{'Protected'| translate}}</span>:
        </td>
        <td>
          <input type="checkbox" id="protected" name="protected" [(ngModel)]="item.Protected"><label
          for="protected"></label>
        </td>
      </tr>
      <tr>
        <td align="right">
          <label><span>{{'Value'| translate}}</span>: </label>
        </td>
        <td>
          <input type="text" id="setpoint" name="setpoint" [(ngModel)]="item.SetPoint"
                 style="width: 50px; padding: .4em;" class="text ui-widget-content ui-corner-all"/>
          &deg; <span id="tempunit">{{tempsign}}</span>
        </td>
      </tr>
    </table>
  </form>
</div>
