<div class="container">
	<div id="iconsmain">
	<div class="page-header-small">
		<h1 data-i18n="Custom Icons">Custom Icons</h1><span></span>
	</div>
    <div class="page-content-container">
        <div class="row" style="margin: 0;">
            <div class="iconcell iconlist" style="margin: 0 10px; min-height: 200px; max-height: 400px;">
                <div class="iconlistitem" data-ng-repeat="icon in iconset | orderBy:['name']" ng-class="{iconlistitemselected: icon.selected }" ng-click="OnIconSelected(icon)">
                        <img ng-src="{{icon.IconFile48On}}">
                        <h3>{{icon.Title}}</h3>
                        <p>{{icon.Description}}</p>
                    </div>
                </div>
            </div>
            <br>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 0 10px;">
                <tr>
                    <td align="left" colspan="2">
                        <input name="fileupload" id="fileupload" maxlength="409600" value="" class="inputbox autowidth" file-model="myFile" type="file" accept=".zip">
                        <button class="btn btn-info" ng-click="UploadIconSet()" data-i18n="Upload">Upload</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="page-content-container" ng-hide="selectedIcon.length==0">
        <div class="iconedit" ng-hide="selectedIcon.length==0">
            <table id="customiconedittable" border="0" cellpadding="0" cellspacing="10" width="100%">
                <tr>
                    <td align="right" style="width:110px"><label for="iconname"><span data-i18n="Name"></span>:</label></td>
                    <td><input type="text" id="iconname" ng-model="selectedIcon.Title" style="width: 200px; padding: .2em;" class="text ui-widget-content ui-corner-all"></td>
                </tr>
                <tr>
                    <td align="right"><label for="icondescription"><span data-i18n="Description"></span>:</label></td>
                    <td><input type="text" id="icondescription" ng-model="selectedIcon.Description" style="width: 200px; padding: .2em;" class="text ui-widget-content ui-corner-all"></td>
                </tr>
                <tr>
                    <td align="right"><label><span data-i18n="Icons"></span>:</label></td>
                    <td>
                        <img ng-src="{{selectedIcon.IconFile16}}"> <img ng-src="{{selectedIcon.IconFile48On}}"> <img ng-src="{{selectedIcon.IconFile48Off}}">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <br>
                        <button class="btn btn-info" ng-click="UpdateIconTitleDescription()" data-i18n="Update">Update</button>&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger" ng-click="DeleteIcon()" ng-disabled="selectedIcon.length==0" data-i18n="Delete">Delete</button>
                    </td>
                </tr>
            </table>
            <br>
        </div>
    </div>

    <div id="iconlibrariesmain">
    <div class="page-header-small">
        <h1 data-i18n="Icon Libraries">Icon Libraries</h1><span></span>
    </div>
    <div class="page-content-container">
        <p style="margin: 0 10px;" data-i18n="Domoticz downloads the stylesheet and its fonts once and serves them itself, so nothing is fetched from the internet afterwards.">Domoticz downloads the stylesheet and its fonts once and serves them itself, so nothing is fetched from the internet afterwards.</p>
        <br>
        <table id="iconlibrarytable" border="0" cellpadding="4" cellspacing="0" width="100%" style="margin: 0 10px;">
            <tr>
                <th align="left" data-i18n="Name">Name</th>
                <th align="left" data-i18n="Prefix">Prefix</th>
                <th align="left" data-i18n="Source">Source</th>
                <th align="left" data-i18n="Last Update">Last Update</th>
                <th></th>
            </tr>
            <tr data-ng-repeat="library in iconlibraries">
                <td>{{library.name}}</td>
                <td>{{library.prefix}}</td>
                <td style="word-break: break-all;">{{library.SourceURL}}</td>
                <td>{{library.LastUpdate}}</td>
                <td align="right" style="white-space: nowrap;">
                    <button type="button" class="btn btn-xs btn-info" ng-click="RefreshLibrary(library)" data-i18n="Refresh">Refresh</button>
                    <button type="button" class="btn btn-xs btn-danger" ng-click="DeleteLibrary(library)" data-i18n="Remove">Remove</button>
                </td>
            </tr>
            <tr ng-if="iconlibraries.length == 0">
                <td colspan="5" data-i18n="No icon libraries installed">No icon libraries installed</td>
            </tr>
        </table>
        <br>
    </div>

    <div class="page-content-container">
        <table id="iconlibraryaddtable" border="0" cellpadding="0" cellspacing="10" width="100%">
            <tr>
                <td align="right" style="width:110px"><label for="iconliburl"><span data-i18n="URL"></span>:</label></td>
                <td><input type="text" id="iconliburl" ng-model="newLibrary.url" maxlength="500" style="width: 440px; padding: .2em;" class="text ui-widget-content ui-corner-all"></td>
            </tr>
            <tr>
                <td align="right"><label for="iconlibprefix"><span data-i18n="Prefix"></span>:</label></td>
                <td><input type="text" id="iconlibprefix" ng-model="newLibrary.prefix" maxlength="32" style="width: 120px; padding: .2em;" class="text ui-widget-content ui-corner-all"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="button" class="btn btn-info" ng-click="AddLibrary()" data-i18n="Add">Add</button>
                </td>
            </tr>
            <tr>
                <td align="right" valign="top"><label><span data-i18n="Suggestions"></span>:</label></td>
                <td>
                    <button type="button" class="btn btn-xs btn-default" style="margin: 0 4px 4px 0;" data-ng-repeat="suggestion in librarySuggestions" ng-click="PrefillLibrary(suggestion)">{{suggestion.name}}</button>
                    <p data-i18n="Choosing a suggestion only fills in the fields above, nothing is installed until you press Add.">Choosing a suggestion only fills in the fields above, nothing is installed until you press Add.</p>
                </td>
            </tr>
        </table>
    </div>
    </div>
</div>
