<div id="dialog-adddevice" title="Add Device">
    <form>
		<table border="0" cellpadding="0" cellspacing="4">
		<tr>
			<td align="right" style="width:80px"><label for="devicename"><span data-i18n="Name"></span>:</label></td>
			<td><input type="text" id="devicename" style="width: 250px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
		</tr>
		</table>
    </form>
</div>
<div id="dialog-renamedevice" title="Rename Device">
    <form>
		<table border="0" cellpadding="0" cellspacing="4">
		<tr>
			<td align="right" style="width:80px"><label for="devicename"><span data-i18n="Name"></span>:</label></td>
			<td><input type="text" id="devicename" style="width: 250px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
		</tr>
		</table>
    </form>
</div>
<div id="dialog-addlightdevicedev" title="Add Light/Switch Device">
    <form>
        <table class="display" id="lighttable" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="right" style="width:60px"><label for="devicename"><span data-i18n="Name"></span>: </label></td>
          <td><input type="text" id="devicename" style="width: 250px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
        <tr>
          <td align="right"><label><span data-i18n="As"></span>: </label></td>
          <td><input type="radio" name="how" id="how_1" value="New" checked>&nbsp;<span data-i18n="Main Device"></span>&nbsp;&nbsp;<input type="radio" name="how" id="how_2" value="Sub Device">&nbsp;<span data-i18n="Sub/Slave Device"></span></td>
        <tr>
				<tr id="subdevice" style="display:none">
					<td align="right" style="width:60px"><label><span data-i18n="Device"></span>: </label></td>
					<td>
						<select id="combosubdevice" style="width:250px" class="combobox ui-corner-all">
						</select>
					</td>
				</tr>
				</table>
    </form>
</div>
<div id="devicescontent">
</div>
<div id="devicestable" style="display:none;">
		<table class="bannav" id="bannav" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td align="Left" style="width:100px">
				<a id="mUsed" class="btnstyle3" onclick="ShowDevices('used');" data-i18n="Used">Used</a>
			</td>
			<td align="center">
				<a id="mAll" class="btnstyle3-sel" onclick="ShowDevices('all');" data-i18n="All Devices">All Devices</a>
			</td>
			<td align="right" style="width:100px">
				<a id="mUnknown" class="btnstyle3" onclick="ShowDevices('unknown');" data-i18n="Not Used">Not Used</a>
			</td>
		</tr>
		</table>
		<br>
		<table class="display" id="devices" border="0" cellpadding="0" cellspacing="0" width="100%">
				<thead>
						<tr valign="middle">
								<th width="90"><img src="images/switch.png" data-i18n="[title]Invert selection" onclick="InvertCheck()"/>&nbsp;<img src="images/delete.png" data-i18n="[title]Delete selected device(s)" onclick="DeleteMultipleDevices()"/></th>	
								<th width="30" align="left">Idx</th>
								<th width="100" align="left" data-i18n="Hardware">Hardware</th>
								<th width="70" align="left">ID</th>
								<th width="40" align="left">Unit</th>
								<th width="200" align="left" data-i18n="Name">Name</th>
								<th width="110" data-i18n="Type">Type</th>
								<th width="110" data-i18n="SubType">SubType</th>
								<th data-i18n="Data">Data</th>
								<th width="30"><img src="images/air_signal.png" data-i18n="[title]RF Signal Level"></th>
								<th width="30"><img src="images/battery.png" data-i18n="[title]Battery Level"></th>
								<th width="80"></th>
								<th width="150" align="left" data-i18n="Last Seen">Last Seen</th>
						</tr>
				</thead>
		</table>
</div>
