<div id="influxmain" class="container">
    <table class="display" id="iflinktable" border="0" cellpadding="0" cellspacing="0" width="100%">
        <thead>
            <tr>
				<th width="60" align="left">Idx</th>
				<th align="left" data-i18n="Device name">Device name</th>
				<th width="140" align="left" data-i18n="Value to send">Value to send</th>
				<th width="120" align="left" data-i18n="Target type">Target type</th>
				<th width="60" align="left" data-i18n="Enabled">Enabled</th>
            </tr>
        </thead>		
    </table>
	<p>
	<table width="100%">
	<tr>
	<td valign="top" >
	<h2 data-i18n="Edit link">Edit link</h2><br>
	<table class="display" id="linkparamstable" border="0" cellpadding="0" cellspacing="20">
		<tr id="targetdevicename">
			<td align="right" style="width:110px"><label for="devicename"><span data-i18n="Device name"></span>:</label></td>
			<td><select id="devicename" style="width:280px" class="combobox ui-corner-all" onchange="ValueSelectorUpdate();"></select></td>
		</tr>
		<tr id="variabletosend">
			<td align="right" style="width:110px"><label for="name"><span data-i18n="Value to send"></span>:</label></td>
			<!--<td><input type="text" id="valuetosend" value="0" style="width: 50px; padding: .2em;" class="text ui-widget-content ui-corner-all" /> (<span data-i18n="0 = nvalue, 1 = svalue field 1, 2 = svalue field 2, etc."></span>)</td>-->
			<td><select id="combosendvalue" style="width:160px" class="combobox ui-corner-all"></select>
		</tr>
		<tr>
			<td align="right" style="width:110px"><label for="combotargettype"><span data-i18n="Target type"></span>:</label></td>
			<td><select id="combotargettype" style="width:160px" class="combobox ui-corner-all">
					<option value="0" data-i18n="On Value Change">On Value Change</option>
					<option value="1" data-i18n="Direct">Direct</option>
					<!--<option value="2" data-i18n="On Interval">On Interval</option>-->
				</select>
			</td>
		</tr>
		<tr id="targetlinkenabled">
			<td align="right" style="width:80px"><label for="linkenabled"><span data-i18n="Link active"></span>:</label></td>
			<td><input type="checkbox" id="linkenabled" checked></td>
		</tr>
		<tr>
			<td colspan="2">
				<a class="btnstyle3" onclick="AddLink('a');" data-i18n="Add">Add</a>
				<a class="btnstyle3-dis" id="linkupdate" data-i18n="Update">Update</a>&nbsp;&nbsp;&nbsp;
				<a class="btnstyle3-dis" id="linkdelete" data-i18n="Delete">Delete</a>
			</td>
		</tr>	
	</table>
	</td>
	<td valign="top" >
	<h2 data-i18n="General settings">General settings</h2><br>
		<table class="display" id="influxremote" border="0" cellpadding="0" cellspacing="20">
		<tr>
			<td align="right" style="width:80px"><label><span data-i18n="Enabled"></span>:</label></td>
			<td><input type="checkbox" id="influxlinkenabled" checked></td>
		</tr>
		<tr>
			<td align="right" style="width:110px"><label><span data-i18n="Remote Address"></span>:</label></td>
			<td><input type="text" id="tcpaddress" style="width: 250px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
		</tr>
		<tr>
			<td align="right" style="width:110px"><label><span data-i18n="Port"></span>:</label></td>
			<td><input type="text" id="tcpport" style="width: 60px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
		</tr>
		<tr>
			<td align="right" style="width:110px"><label><span data-i18n="Database"></span>:</label></td>
			<td><input type="text" id="database" style="width: 150px; padding: .2em;" class="text ui-widget-content ui-corner-all" />
		</tr>
		<tr>
			<td align="right" style="width:80px"><label for="debugenabled"><span data-i18n="Debug to logfile"></span>:</label></td>
			<td><input type="checkbox" id="debugenabled" checked></td>
		</tr>
	</table>
	<a class="btnstyle3" onclick="SaveConfiguration();" data-i18n="Save">Save</a>
	</td>
	</tr>
</table>
</div>
