<style type="text/css">
	iframe { position:fixed; left:0; margin:0; padding:0; display:block; width:100%; height:100%; border:none; }
</style>

<iframe id="IMain" src="eventsframe.html"></iframe>

<script>
	$(window).resize(function() {
		ResizeEventsWindow();
	});

	function ResizeEventsWindow()
	{
		var pheight=$(window).innerHeight();
		var pwidth=$(window).innerWidth();
		$("#IMain").height(pheight-110);
		$("#IMain").width(pwidth-10);
	}

	function blocklyLoaded(blockly) {
	  // Called once Blockly is fully loaded.
	  window.Blockly = blockly;
	}
	jQuery(document).ready(function(){
		ResizeEventsWindow();
	});
</script>

