<div class="container">

	<div id="forecasttophtm">
		<table class="bannav" id="bannav" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td align="left" valign="top" id="timesun"></td>
				<td ng-show="config.Latitude!=''" style="width: 150px;" align="right">
					<a id="Back" class="btnstyle" onclick="goBack()" data-i18n="Back">Back</a>
				</td>
			</tr>
		</table>
	</div>

	<div id="fallback" align="center" ng-show="showFallback">
		<h2>No forecast information available. Please check settings.</h2>
	</div>

	<div id="openweathermap" ng-show="showOWM" class="ng-hide">Here the OpenWeatherMap widget of your location should be shown!</div>

</div>
