<div id="dialog-addlightdevice">
	<form>
		<table class="display" id="lighttable" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td align="right" style="width:120px"><label for="name">Name: </label></td>
			<td><input type="text" id="devicename" style="width: 244px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
		<tr>
			<td align="right"><label for="switchtype">Switch Type: </label></td>
			<td><select id="comboswitchtype" style="width:150px" class="combobox ui-corner-all">
				<!--#embed switchtypes -->
			</select></td>
		</tr>
		<br>
		<tr>
			<td align="right"><label>As: </label></td>
			<td><input type="radio" name="how" id="how_1" value="New" checked>&nbsp;Main Device&nbsp;&nbsp;<input type="radio" name="how" id="how_2" value="Sub Device">&nbsp;Sub/Slave Device</td>
		<tr>
		<tr id="subdevice" style="display:none">
			<td align="right"><label>Device: </label></td>
			<td>
				<select id="combosubdevice" style="width:244px" class="combobox ui-corner-all">
				</select>
			</td>
		</tr>
		</table>
	</form>
</div>
<div id="dialog-addmanuallightdevice">
	<form>
		<table class="display" id="lighttable" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td align="right" style="width:120px"><label for="combohardware"><span data-i18n="Hardware">Hardware</span>: </label></td>
			<td><select id="combohardware" style="width:260px" class="combobox ui-corner-all">
			</select></td>
		<tr>
		<tr>
			<td align="right"><label for="devicename"><span data-i18n="Device name">Device name</span>: </label></td>
			<td><input type="text" id="devicename" style="width: 250px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
		<tr>
			<td align="right"><label for="comboswitchtype"><span data-i18n="Switch Type">Switch Type</span>: </label></td>
			<td><select id="comboswitchtype" style="width:210px" class="combobox ui-corner-all">
				<!--#embed switchtypes -->
			</select></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td align="right"><label><span data-i18n="Type">Type</span>: </label></td>
			<td>
				<select id="combolighttype" style="width:210px" class="combobox ui-corner-all">
					<option value="0">X10</option>
					<option value="1">ARC</option>
					<option value="2">AB400D</option>
					<option value="3">Waveman</option>
					<option value="4">EMW200</option>
					<option value="5">Impuls</option>
					<option value="6">RisingSun</option>
					<option value="7">Philips SBC</option>
					<option value="8">Energenie</option>
					<option value="9">Energenie 5-gang</option>
					<option value="10">COCO GDR2</option>
					<option value="11">HQ COCO-20</option>
					<option value="20">AC</option>
					<option value="21">HE EU</option>
					<option value="22">ANSLUT</option>
					<option value="50">LightwaveRF</option>
					<option value="51">EMW100 GAO/Everflourish</option>
					<option value="53">MDRemote</option>
					<option value="55">Livolo</option>
					<option value="250">EV1527</option>
					<option value="226">Eurodomest</option>
					<option value="57">Aoke</option>
					<option value="62">MDRemote 107</option>
					<option value="65">IT</option>
					<option value="66">MDRemote 108</option>
					<option value="106">Blyss</option>
					<option value="70">EnOcean</option>
					<option value="68">GPIO</option>
					<option value="69">Sysfs GPIO</option>
					<option value="100">ByronSX</option>
					<option value="101">Harrison Curtain</option>
					<option value="102">RFY</option>
					<option value="107">RFY-2</option>
					<option value="105">ASA</option>
					<option value="103">Meiantech Security</option>
					<option value="104">HE105</option>
					<option value="205">Blinds T5 Media Mount</option>
					<option value="206">Blinds T6 DC106</option>
					<option value="207">Blinds T7 Forest</option>
					<option value="208">Blinds T8 Chamberlain</option>
					<option value="209">Blinds T9 Sunpery</option>
					<option value="210">Blinds T10 Dolat DLM-1</option>
					<option value="211">Blinds T11 ASP</option>
					<option value="212">Blinds T12 Confexx</option>
					<option value="213">Blinds T13 Screenline</option>
					<option value="214">Blinds T14 Hualite</option>
					<option value="215">Blinds T15 RFU</option>
					<option value="216">Blinds T16 Zemismart</option>
					<option value="301">Smartwares Radiator</option>
					<option value="302">Home Confort TEL-010</option>
					<option value="303">Selector Switch</option>
					<option value="304">Itho CVE RFT</option>
					<option value="305">Lucci Air</option>
					<option value="306">Lucci Air DC</option>
					<option value="307">Westinghouse</option>
					<option value="400">Blinds OpenWebNet Bus</option>
					<option value="401">Lights OpenWebNet Bus</option>
					<option value="402">Auxiliary OpenWebNet Bus</option>
					<option value="403">Blinds OpenWebNet Zigbee</option>
					<option value="404">Lights OpenWebNet Zigbee</option>
					<option value="405">Dry Contact OpenWebNet</option>
					<option value="406">IR Detection OpenWebNet</option>
					<option value="407">Custom OpenWebNet Bus</option>
				</select>
			</td>
		  </tr>
		</table>
		<div id="lighting1params">
			<table class="display" id="lightparams1" border="0" cellpadding="0" cellspacing="20">
				<tr>
					<td align="right" style="width:110px"><label><span data-i18n="House Code">House Code</span>:</label></td>
					<td><select id="combohousecode" style="width:60px" class="combobox ui-corner-all">
							</select>
					</td>
				</tr>
				<tr>
					<td align="right"><label><span data-i18n="Unit Code">Unit Code</span>:</label></td>
					<td><select id="combounitcode" style="width:60px" class="combobox ui-corner-all">
							</select>
					</td>
				</tr>
			</table>
		</div>
		<div id="lighting2params">
			<table class="display" id="lightparams2" border="0" cellpadding="0" cellspacing="20">
				<tr>
					<td align="right" style="width:110px"><label><span data-i18n="ID">ID</span>:</label></td>
					<td>
						<select id="combocmd1" style="width:60px" class="combobox ui-corner-all">
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
						</select>
						<select id="combocmd2" style="width:60px" class="combobox ui-corner-all"></select>
						<select id="combocmd3" style="width:60px" class="combobox ui-corner-all"></select>
						<select id="combocmd4" style="width:60px" class="combobox ui-corner-all"></select>
					</td>
				</tr>
				<tr id="lighting2paramsUnitCode">
					<td align="right"><label><span data-i18n="Unit Code">Unit Code</span>:</label></td>
					<td><select id="combounitcode" style="width:60px" class="combobox ui-corner-all">
							</select>
					</td>
				</tr>
			</table>
		</div>
		<div id="lighting3params">
			<table class="display" id="lightparams3" border="0" cellpadding="0" cellspacing="20">
				<tr>
					<td align="right" style="width:110px"><label><span data-i18n="ID">ID</span>:</label></td>
					<td>
						<select id="combocmd1" style="width:60px" class="combobox ui-corner-all"></select>
						<select id="combocmd2" style="width:60px" class="combobox ui-corner-all"></select>
					</td>
				</tr>
				<tr>
					<td align="right"><label><span data-i18n="Group Code">Group Code</span>:</label></td>
					<td>
						<select id="combogroupcode" style="width:60px" class="combobox ui-corner-all"></select>
					</td>
				</tr>
				<tr>
					<td align="right"><label><span data-i18n="Unit Code">Unit Code</span>:</label></td>
					<td>
						<select id="combounitcode" style="width:60px" class="combobox ui-corner-all"></select>
					</td>
				</tr>
			</table>
		</div>
		<div id="lightingparams_enocean">
			<table class="display" id="lightparams_enocean" border="0" cellpadding="0" cellspacing="20">
				<tr>
					<td align="right" style="width:110px"><label><span data-i18n="ID">ID</span>:</label></td>
					<td>
						<select id="comboid" style="width:60px" class="combobox ui-corner-all"></select>
					</td>
				</tr>
				<tr>
					<td align="right"><label>Rocker_ID:</label></td>
					<td>
						<select id="combounitcode" style="width:60px" class="combobox ui-corner-all"></select>
					</td>
				</tr>
			</table>
		</div>
		<div id="lightingparams_gpio">
			<table class="display" id="lightparams_gpio" border="0" cellpadding="0" cellspacing="20">
				<tr>
					<td align="right" style="width:110px"><label>GPIO:</label></td>
					<td>
						<select id="combogpio" style="width:220px" class="combobox ui-corner-all"><option value="-1">?</option></select>
					</td>
				</tr>
			</table>
		</div>
		<div id="lightingparams_sysfsgpio">
			<table class="display" id="lightparams_sysfsgpio" border="0" cellpadding="0" cellspacing="20">
				<tr>
					<td align="right" style="width:110px"><label>Sysfs GPIO:</label></td>
					<td>
						<select id="combosysfsgpio" style="width:220px" class="combobox ui-corner-all"><option value="-1">?</option></select>
					</td>
				</tr>				
			</table>
		</div>
		<div id="blindsparams">
			<table class="display" id="blindparams" border="0" cellpadding="0" cellspacing="20">
				<tr>
					<td align="right" style="width:110px"><label><span data-i18n="ID">ID</span>:</label></td>
					<td>
						<select id="combocmd1" style="width:60px" class="combobox ui-corner-all"></select>
						<select id="combocmd2" style="width:60px" class="combobox ui-corner-all"></select>
						<select id="combocmd3" style="width:60px" class="combobox ui-corner-all"></select>
						<select id="combocmd4" style="width:60px" class="combobox ui-corner-all"></select>
					</td>
				</tr>
				<tr id="blindparamsUnitCode">

					<td align="right"><label><span data-i18n="Unit Code">Unit Code</span>:</label></td>
					<td><select id="combounitcode" style="width:60px" class="combobox ui-corner-all"></select></td>
				</tr>
			</table>
		</div>
		<div id="he105params">
			<table class="display" border="0" cellpadding="0" cellspacing="20">
				<tr>
					<td align="right" style="width:110px"><label><span data-i18n="Unit Code">Unit Code</span>:</label></td>
					<td><select id="combounitcode" style="width:60px" class="combobox ui-corner-all"></select></td>
				</tr>
			</table>
		</div>
		<div id="homeconfortparams">
			<table class="display" border="0" cellpadding="0" cellspacing="20">
				<tr>
					<td align="right" style="width:110px"><label><span data-i18n="ID">ID</span>:</label></td>
					<td>
						<select id="combocmd1" style="width:60px" class="combobox ui-corner-all"></select>
						<select id="combocmd2" style="width:60px" class="combobox ui-corner-all"></select>
						<select id="combocmd3" style="width:60px" class="combobox ui-corner-all"></select>
					</td>
				</tr>
				<tr>
					<td align="right" style="width:110px"><label><span data-i18n="House Code">House Code</span>:</label></td>
					<td><select id="combohousecode" style="width:60px" class="combobox ui-corner-all">
							</select>
					</td>
				</tr>
				<tr id="blindparamsUnitCode">
					<td align="right"><label><span data-i18n="Unit Code">Unit Code</span>:</label></td>
					<td><select id="combounitcode" style="width:60px" class="combobox ui-corner-all"></select></td>
				</tr>
			</table>
		</div>
		<div id="fanparams">
			<table class="display" border="0" cellpadding="0" cellspacing="20">
				<tr>
					<td align="right" style="width:110px"><label><span data-i18n="ID">ID</span>:</label></td>
					<td>
						<select id="combocmd1" style="width:60px" class="combobox ui-corner-all"></select>
						<select id="combocmd2" style="width:60px" class="combobox ui-corner-all"></select>
						<select id="combocmd3" style="width:60px" class="combobox ui-corner-all"></select>
					</td>
				</tr>
			</table>
		</div>
		<div id="openwebnetparamsBus">
			<table class="display" border="0" cellpadding="0" cellspacing="20">
				<tr id="openwebnet_room">
					<td align="right"><label><span data-i18n="Room">Room</span>:</label></td>
					<td><select id="combocmd1" style="width:60px" class="combobox ui-corner-all"></select></td>
				</tr>
				<tr id="openwebnet_pl">
					<td align="right"><label><span data-i18n="Point of Load">Point of Load</span>:</label></td>
					<td><select id="combocmd2" style="width:60px" class="combobox ui-corner-all"></select></td>
				</tr>
				<tr id="openwebnet_bus">
					<td align="right"><label><span data-i18n="Bus">Bus</span>:</label></td>
					<td><select id="combocmd3" style="width:60px" class="combobox ui-corner-all"></select></td>
				</tr>
			</table>
		</div>
		<div id="openwebnetparamsAUX">
			<table class="display" border="0" cellpadding="0" cellspacing="20">
				<tr id="openwebnet_AUX">
					<td align="right"><label><span data-i18n="Auxiliary">Auxiliary</span>:</label></td>
					<td><select id="combocmd1" style="width:60px" class="combobox ui-corner-all"></select></td>
				</tr>
			</table>
		</div>
		<div id="openwebnetparamsCustom">
            <table class="display" border="0" cellpadding="0" cellspacing="20">
                <tr id="openwebnet_custom_id">
                    <td align="right"><label><span data-i18n="Custom Device">Custom Device</span>:</label></td>
                    <td><select id="combocmd1" style="width:60px" class="combobox ui-corner-all"></select></td>
                </tr>
                <tr id="openwebnet_custom_bus">
                    <td align="right"><label><span data-i18n="Bus">Bus</span>:</label></td>
                    <td><select id="combocmd2" style="width:60px" class="combobox ui-corner-all"></select></td>
                </tr>
                <tr id="openwebnet_custom_cmd">
                    <td align="right"><label><span data-i18n="OPEN Command">OPEN Command</span>:</label></td>
                    <td><input type="text" id="inputcmd1" style="width:150px" style="width: 250px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
                </tr>
            </table>
        </div>
		<div id="openwebnetparamsZigbee">
			<table class="display" border="0" cellpadding="0" cellspacing="20">
				<tr id="openwebnet_zigbeeid">
					<td align="right"><label><span data-i18n="ZigbeeId">Zigbee id (hexadecimal)</span>:</label></td>
					<td><input type="text" id="inputcmd1" style="width:60px" style="width: 250px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
				</tr>
				<tr id="openwebnet_unit">
					<td align="right"><label><span data-i18n="Unit">Unit</span>:</label></td>
					<td><select id="combocmd2" style="width:60px" class="combobox ui-corner-all"></select></td>
				</tr>
			</table>
		</div>
		<div id="openwebnetparamsDryContact">
			<table class="display" border="0" cellpadding="0" cellspacing="20">
				<tr id="openwebnet_drycontact">
					<td align="right"><label><span data-i18n="Zone">Zone</span>:</label></td>
					<td><select id="combocmd1" style="width:60px" class="combobox ui-corner-all"></select></td>
				</tr>
			</table>
		</div>
		<div id="openwebnetparamsIRdetec">
			<table class="display" border="0" cellpadding="0" cellspacing="20">
				<tr id="openwebnet_zoneIR">
					<td align="right"><label><span data-i18n="Zone">Zone</span>:</label></td>
					<td><select id="combocmd1" style="width:60px" class="combobox ui-corner-all"></select></td>
				</tr>
				<tr id="openwebnet_subzoneIR">
					<td align="right"><label><span data-i18n="SubZone">SubZone</span>:</label></td>
					<td><select id="combocmd2" style="width:60px" class="combobox ui-corner-all"></select></td>
				</tr>
			</table>
		</div>
		<br>
		<center><a class="btnstyle3" onclick="TestManualLight();" data-i18n="Test">Test</a></center>
		<br>
		<table class="display" id="howtable" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td align="right"><label><span data-i18n="As">As</span>: </label></td>
			<td><input type="radio" name="how" id="how_1" value="New" checked>&nbsp;<span data-i18n="Main Device">Main Device</span>&nbsp;&nbsp;<input type="radio" name="how" id="how_2" value="Sub Device">&nbsp;<span data-i18n="Sub/Slave Device">Sub/Slave Device</span></td>
		<tr>
		<tr id="subdevice" style="display:none">
			<td align="right" style="width:60px"><label><span data-i18n="Device">Device</span>: </label></td>
			<td>
				<select id="combosubdevice" style="width:250px" class="combobox ui-corner-all">
				</select>
			</td>
		</tr>
		</table>
	</form>
</div>
<div id="dialog-renameselectorlevel" title="Rename selector level" style="display: none;">
	<form>
		<input type="hidden" id="selectorlevelindex">
		<table border="0" cellpadding="0" cellspacing="4">
		<tr>
			<td align="right" style="width:80px"><label for="selectorlevelname"><span data-i18n="Name"></span>:</label></td>
			<td><input type="text" id="selectorlevelname" style="width: 250px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
		</tr>
		</table>
	</form>
</div>
<div id="dialog-editselectoraction" title="Edit selector action" style="display: none;">
	<form>
		<input type="hidden" id="selectorlevelindex">
		<table border="0" cellpadding="0" cellspacing="4">
		<tr>
			<td style="width:80px; text-align: right; vertical-align: baseline;"><label for="selectoraction"><span data-i18n="Action"></span>:</label></td>
			<td style="vertical-align: baseline;">
				<input type="text" id="selectoraction" style="width: 300px; padding: .2em;" class="text ui-widget-content ui-corner-all" />
				<br><span data-i18n="(Should start with http:// or script://)">(Should start with http://, https:// or script://)</span>
			</td>
		</table>
	</form>
</div>
<div class="container">
	<gz-back-to-top></gz-back-to-top>
	<div id="lightcontent"></div>
</div>
