<div id="logcontent" class="log-console-container force-select">
  <div class="log-toolbar">
    <div class="log-level-toggles">
      <a class="btnstyle3 log-filter-btn" ng-class="{'log-filter-btn-active': levelFilters.norm}" ng-click="levelFilters.norm = !levelFilters.norm">
        <span class="log-level-norm">Normal</span>
        <span class="log-toggle-count">{{counts.norm}}</span>
      </a>
      <a class="btnstyle3 log-filter-btn" ng-class="{'log-filter-btn-active': levelFilters.status}" ng-click="levelFilters.status = !levelFilters.status">
        <span class="log-level-status">Status</span>
        <span class="log-toggle-count">{{counts.status}}</span>
      </a>
      <a class="btnstyle3 log-filter-btn" ng-class="{'log-filter-btn-active': levelFilters.error}" ng-click="levelFilters.error = !levelFilters.error">
        <span class="log-level-error">Error</span>
        <span class="log-toggle-count">{{counts.error}}</span>
      </a>
    </div>
    <div class="log-search">
      <input type="text" class="log-search-input" ng-model="searchText" ng-model-options="{ debounce: 150 }" placeholder="Filter logs... (use /regex/ for regex)">
      <span class="log-search-count" ng-show="searchText">{{filteredItems.length}} matches</span>
      <a class="btnstyle3" ng-show="searchText" ng-click="searchText = ''">&times;</a>
    </div>
    <div class="log-actions">
      <a class="btnstyle3" ng-click="copyToClipboard()">
        <span ng-hide="copyFeedback" data-i18n="Copy">Copy</span>
        <span ng-show="copyFeedback" style="color: #4ec9b0;">Copied!</span>
      </a>
      <a class="btnstyle3" ng-click="downloadLog()" data-i18n="Download">Download</a>
    </div>
    <a class="btn btn-danger" ng-click="ClearLog()" data-i18n="Clear">Clear</a>
  </div>
  <div id="logdata" class="log-console">
    <div class="log-show-older" ng-show="hasOlderMessages" ng-click="showOlderMessages()">&#x25B2; Show older messages ({{filteredItems.length - renderItems.length}} hidden)</div>
    <div class="log-line" ng-class="::item.levelClass" ng-repeat="item in renderItems track by item.id">{{::item.raw}}</div>
  </div>
  <div class="log-scroll-indicator" ng-show="!autoScroll" ng-click="scrollToBottom()">
    &#x2193; New messages below
  </div>
  <div class="log-statusbar">
    <span>{{renderItems.length}} of {{filteredItems.length}} / {{logitems.length}} lines</span>
    <span ng-show="!autoScroll" class="log-statusbar-paused">PAUSED</span>
    <span ng-show="autoScroll" class="log-statusbar-following">Following</span>
  </div>
</div>
