<div id="mobilecontent" class="container">
</div>
<div id="userdevices" style="display:none;">
	<table id="userdevicestable" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td>
				<select id="devices" class="multiselect" multiple="multiple" name="devices[]">
				</select>
			</td>
		</tr>
		<tr>
			<td>
				<br>
				<a class="btnstyle3" onclick="SaveUserDevices();" data-i18n="Save">Save</a>
			</td>
		</tr>
	</table>
</div>
<div id="mobilemain" style="display:none;">
	<table class="display" id="mobiletable" border="0" cellpadding="0" cellspacing="0" width="100%">
		<thead>
			<tr valign="middle">
				<th width="30">Idx</th>
				<th width="60" align="left" data-i18n="Enabled">Enabled</th>
				<th align="left" data-i18n="Name">Name</th>
				<th width="260" align="left" data-i18n="UUID">UUID</th>
				<th width="110" data-i18n="Type">Type</th>
				<th width="180" align="left" data-i18n="Last Seen">Last Seen</th>
			</tr>
		</thead>
	</table>
	<table id="updelclr" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td>
				<a class="btnstyle3-dis" id="mobileupdate" data-i18n="Update">Update</a>&nbsp;&nbsp;&nbsp;
				<a class="btnstyle3-dis" id="mobiledelete" data-i18n="Delete">Delete</a>
			</td>
		</tr>
	</table>
	<br>
	<table class="display" id="mobileparamstable" border="0" cellpadding="0" cellspacing="20">
		<tr>
			<td align="right" style="width:80px"><span data-i18n="Enabled"></span>:</td>
			<td><input type="checkbox" id="enabled" checked><label for="enabled"/></td>
		</tr>
		<tr>
			<td align="right" style="width:110px"><label><span data-i18n="Name"></span>:</label></td>
			<td><input type="text" id="name" style="width: 200px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
		</tr>
	</table>
</div>
