<div class="container">
	<div class="row-fluid">
		<div class="span12">
			<div class="page-header-small related">
				<h1 data-i18n="Send a notification">Send a notification</h1>
				<p class="tip"><span data-i18n="Manually send a notification.">Manually send a notification.</span></p>
			</div>
			<table border="0" cellpadding="0" cellspacing="20" class="display" id="notificationtable">
				<tr>
					<td align="right" style="width:110px"><label><span data-i18n="Subject"></span>:</label></td>
					<td><input class="text ui-widget-content ui-corner-all" id="subject" style="width: 250px; padding: .2em;" type="text"></td>
				</tr>
				<tr>
					<td align="right" style="width:110px"><label><span data-i18n="Message"></span>:</label></td>
					<td>
					<textarea class="text ui-widget-content ui-corner-all" cols="50" id="body" name="body" rows="7" wrap="hard"></textarea></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<a class="btnstyle3" data-i18n="Send" onclick="SendNotification();">Send</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">

function GetNotificationSettings()
{
	var csettings = {};

	csettings.subject=$('#notificationtable #subject').val();
	csettings.body=$("#notificationtable #body").val().replace(/\n/gi,"<br>");
	if ((csettings.subject=="")||(csettings.body==""))
	{
		ShowNotify($.t('Please enter a Subject/Message!'), 2500, true);
		return;
	}
	return csettings;
}

function SendNotification()
{
	var csettings=GetNotificationSettings();
	if (typeof csettings == 'undefined') {
		return;
	}
	
	$.ajax({
		 url: "json.htm?type=command&param=sendnotification&subject=" + encodeURIComponent(csettings.subject) + "&body=" + encodeURIComponent(csettings.body),
		 async: false, 
		 dataType: 'json',
		 success: function(data) {
			ShowNotify($.t("Notification Send"),2500);
			return;
		 },
		 error: function(){
			ShowNotify($.t('Problem Sending Notification!'), 2500, true);
		 }     
	});		
}

$(document).ready(function() {
	$('html').i18n();
} );  
</script>
