<div id="mainrestoredatabase" class="container">
<div id="content">
<div class="tab-pane" id="tabrestoredatabase">
	<!-- Restore Database
	================================================== -->
	<section id="restoredatabase">
	<div class="page-header-small">
	<h1 data-i18n="Restore Database">Restore Database</h1>
</div>
<div id="maincontent" class="container">
<h1><font class="warning-text"><span data-i18n="A Database restore will overwrite the actual settings/logs.">A Database restore will overwrite the actual settings/logs</span><br><span data-i18n="Please be sure that this is what you want to do!">Please be sure that this is what you want to do!</span></font></h1>
<br>
<form ng-submit="onSubmit()">
	<label for="dbasefile"  data-i18n="Select Database File:">Select Database File:</label>
	<input type="file" file="file" name="dbasefile" accept=".db"/><br>
	<br>
	<input type="submit" value="Upload"/>
	<br><br>
	<span data-i18n="Upload might take some time, depending on your network connection.">Upload might take some time, depending on your network connection.</span><br>
	<font class="warning-text"><span data-i18n="Wait until you will see the dashboard again!">Wait until you will see the dashboard again!</span></font>
</form>
</div>
</section>
</div>
</div>
</div>