<div id="maincontent" class="container">
<h1><font class="warning-text"><span data-i18n="A Database restore will overwrite the actual settings/logs.">A Database restore will overwrite the actual settings/logs</span><br><span data-i18n="Please be sure that this is what you want to do!">Please be sure that this is what you want to do!</span></font></h1>
<br>
<form ng-submit="onSubmit()">
	<label for="dbasefile" data-i18n="Select Database File:">Select Database File:</label>
	<input type="file" file="file" name="dbasefile" accept=".db" ng-disabled="uploading"><br>
	<br>
	<input type="submit" value="Upload" data-i18n="[value]Upload" ng-disabled="uploading || !file">
	<br><br>
	<div ng-show="uploading && !restoring" style="margin-bottom: 10px;">
		<div class="progress" style="height: 20px; margin-bottom: 5px;">
			<div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" style="min-width: 2em; width: {{uploadProgress}}%;">
				{{uploadProgress}}%
			</div>
		</div>
		<span data-i18n="Uploading database...">Uploading database...</span>
	</div>
	<div ng-show="restoring" style="margin-bottom: 10px;">
		<div class="progress" style="height: 20px; margin-bottom: 5px;">
			<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" style="width: 100%;">
				<span data-i18n="Restoring...">Restoring...</span>
			</div>
		</div>
		<span data-i18n="Database uploaded. Restoring and restarting, please wait...">Database uploaded. Restoring and restarting, please wait...</span>
	</div>
	<div ng-show="errorMessage" class="alert alert-danger" style="margin-top: 10px;">
		{{errorMessage}}
	</div>
	<span ng-hide="uploading" data-i18n="Upload might take some time, depending on your network connection.">Upload might take some time, depending on your network connection.</span><br>
	<font class="warning-text" ng-hide="uploading"><span data-i18n="Wait until you will see the dashboard again!">Wait until you will see the dashboard again!</span></font>
</form>
</div>
