<div id="maincontent" class="container">
	<div id="divupload" ng-show="isUpdating==false">
		<form ng-submit="onSubmit()">
			<center>
			<label for="firmwarefile"  data-i18n="Select Firmware File:">Select Firmware File:</label>
			<input type="file" file="file" name="firmwarefile" accept=".hex"/><br>
			<br>
			<button id="addcode" class="btn btn-danger" type="button" ng-click="UpdateFirmware()" data-i18n="Update">Update</button><br>
			<br>
			<span data-i18n="Upgrading the firmware takes some time.">Upgrading the firmware takes some time.</span><br>
			<font class="warning-text"><span data-i18n="Wait until you will see the dashboard again!">Wait until you will see the dashboard again!</span></font>
			<br>
			<div class="page-header-small" />
			<span>
				<font class="warning-text">Important information about RFXtrx/rec firmware:</font><br>
				<br>
				RFXtrx315 firmware can only be used in the RFXtrx315.<br>
				<br>
				RFXrec433 firmware is only for the RFXrec433 receiver. <br>
				If you flash an RFXtrx433 or RFXtrx433E transceiver with this firmware you will disable all transmit functionality in the transceiver!<br>
				<br>
				RFXtrx433-Type1 and RFXtrx433-Type2 firmware will operate in the RFXtrx433 and RFXtrx433E.<br>
				<br>
				RFXtrx433-Ext firmware will only operate in the RFXtrx433E.<br>
				<br>
				<br>
				The firmware can be downloaded from:<br>
				<a class="btn btn-info" href="http://www.rfxcom.com/">RFXCom Website</a>
			</span>
			</center>
		</form>
	</div>
	<div id="divprogress" ng-show="isUpdating==true">
		<center>
		<div ang:round:progress data-round-progress-model="ProgressData"
								data-round-progress-width="340"
								data-round-progress-height="360"
								data-round-progress-outer-circle-width="35"
								data-round-progress-inner-circle-width="8"
								data-round-progress-outer-circle-radius="150"
								data-round-progress-inner-circle-radius="100"
								data-round-progress-label-font="100pt Arial"
								data-round-progress-outer-circle-background-color="#505769"
								data-round-progress-outer-circle-foreground-color="#12eeb9"
								data-round-progress-inner-circle-color="#505769"
								data-round-progress-label-color="#fff">
		</div>
		<br>
		<span ng-bind-html="bottomText"></span>
		</center>
	</div>
</div>
