<div id="plancontent" class="container">
</div>

<div id="dialog-add-edit-plan" style="display:none;">
	<table border="0" cellpadding="0" cellspacing="20" width="100%">
		<tr>
			<td align="right" style="width:60px"><label for="planname">Name:</label></td>
			<td><input type="text" id="planname" style="width: 200px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
		</tr>
	</table>
</div>
<div id="planmain" style="display:none;">
	<table class="bannav" id="bannav" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td align="left"></td>
		<td align="right"><a class="btnstyle" onclick="AddNewPlan();" data-i18n="Add Plan">Add Plan</a></td>
	</tr>
	</table>
	<br>
	<table class="display" id="plantable" border="0" cellpadding="0" cellspacing="0" width="100%">
		<thead>
			<tr valign="middle">
				<th width="40" align="center" data-i18n="Idx">Idx</th>
				<th align="left" data-i18n="Name">Name</th>
				<th width="60" align="center" data-i18n="Order">Order</th>
			</tr>
		</thead>
	</table>
	<table id="updelclr" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td>
				<a class="btnstyle3-dis" id="planedit" data-i18n="Edit">Edit</a>&nbsp;&nbsp;&nbsp;
				<a class="btnstyle3-dis" id="plandelete" data-i18n="Delete">Delete</a>
			</td>
		</tr>
	</table>
	<br>
	<h2 data-i18n="Devices">Devices:</h2><span data-i18n="(Select Plan first to Edit...)"></span><br>
	<br>
	<table class="display" id="activetable" border="0" cellpadding="0" cellspacing="0" width="100%">
		<thead>
				<tr valign="middle">
					<th width="40" align="center" data-i18n="Idx">Idx</th>
					<th align="left" data-i18n="Name">Name</th>
					<th width="60" align="center" data-i18n="Order">Order</th>
				</tr>
		</thead>
	</table>
    <table id="delclractive" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td>
				<a class="btnstyle3-dis" id="activedevicedelete" data-i18n="Delete">Delete</a>
			</td>
			<td align="right">
				<a class="btnstyle3-dis" id="activedeviceclear" onclick="ClearActiveDevices();" data-i18n="Clear">Clear</a>
			</td>
		</tr>
	</table>
	<br>
	<table class="display" id="activeparamstable" border="0" cellpadding="0" cellspacing="20">
		<tr>
			<td>
				<label><span data-i18n="Device"></span>: </label>
				<select id="comboactivedevice" style="width:500px" class="combobox ui-corner-all">
				</select>
				<a class="btnstyle3" onclick="AddActiveDevice();" data-i18n="Add">Add</a>
			</td>
		</tr>
	</table>
</div>
