<div id="dialog-edittempdevice" title="Edit Device">
    <form>
        <table class="display" id="edittable" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="right" style="width:60px"><label for="devicename"><span data-i18n="Name">Name</span>: </label></td>
          <td><input type="text" id="devicename" style="width: 250px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
        </tr>
		<tr>
			<td align="right" style="width:120px"><label for="devicedescription"><span data-i18n="Description"></span>: </label></td>
			<td><textarea id="devicedescription" name="devicedescription" rows="4" style="width: 356px; padding: .2em;" class="text ui-widget-content ui-corner-all"></textarea></td>
		</tr>
        <tr>
          <td align="right" style="width:60px"><label for="adjustment"><span data-i18n="Adjustment">Adjustment</span>: </label></td>
          <td><input type="text" id="adjustment" style="width: 40px; padding: .2em;" class="text ui-widget-content ui-corner-all" /> &deg; <span id="tempcf">C</span></td>
        </tr>
		</table>
    </form>
</div>
<div id="dialog-edittempdevicesmall">
    <form>
        <table class="display" id="edittable" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="right" style="width:60px"><label for="devicename"><span data-i18n="Name">Name</span>: </label></td>
          <td><input type="text" id="devicename" style="width: 250px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
        </tr>
		<tr>
			<td align="right" style="width:120px"><label for="devicedescription"><span data-i18n="Description"></span>: </label></td>
			<td><textarea id="devicedescription" name="devicedescription" rows="4" style="width: 356px; padding: .2em;" class="text ui-widget-content ui-corner-all"></textarea></td>
		</tr>
		</table>
    </form>
</div>
<div id="dialog-editsetpoint" title="Edit Set Point">
    <form>
        <table class="display" id="edittable" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="right" style="width:60px"><label for="devicename"><span data-i18n="Name">Name</span>: </label></td>
          <td><input type="text" id="devicename" style="width: 230px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
        </tr>
		<tr>
			<td align="right" style="width:120px"><label for="devicedescription"><span data-i18n="Description"></span>: </label></td>
			<td><textarea id="devicedescription" name="devicedescription" rows="4" style="width: 356px; padding: .2em;" class="text ui-widget-content ui-corner-all"></textarea></td>
		</tr>
        <tr>
          <td align="right" style="width:100px"><label for="setpoint"><span data-i18n="Set Point">Set Point</span>: </label></td>
          <td><input type="text" id="setpoint" style="width: 40px; padding: .2em;" class="text ui-widget-content ui-corner-all" /> &deg; <span id="tempcf">C</span></td>
        </tr>
        <tr>
          <td align="right" style="width:60px"><label for="until"><span data-i18n="Until">Until</span>: </label></td>
          <td><input type="text" id="until" style="width: 120px; padding: .2em;" class="text ui-widget-content ui-corner-all" />&nbsp;<a class="btnsmall" onclick="return MakePerm('#until');" data-i18n="Permanent">Permanent</a></td>
        </tr>
		</table>
    </form>
</div>
<div id="dialog-editstate" title="Edit State">
    <form>
        <table class="display" id="edittable" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="right" style="width:60px"><label for="devicename"><span data-i18n="Name">Name</span>: </label></td>
          <td><input type="text" id="devicename" style="width: 230px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
        </tr>
		<tr>
			<td align="right" style="width:120px"><label for="devicedescription"><span data-i18n="Description"></span>: </label></td>
			<td><textarea id="devicedescription" name="devicedescription" rows="4" style="width: 356px; padding: .2em;" class="text ui-widget-content ui-corner-all"></textarea></td>
		</tr>
        <tr>
          <td align="right" style="width:60px"><label for="state"><span data-i18n="State">State</span>: </label></td>
          <td><select id="state" style="width: 60px; padding: .2em;" class="text ui-widget-content ui-corner-all"><option value="On">On</option><option value="Off">Off</option></select></td>
        </tr>
        <tr>
          <td align="right" style="width:60px"><label for="until_state"><span data-i18n="Until">Until</span>: </label></td>
          <td><input type="text" id="until_state" style="width: 120px; padding: .2em;" class="text ui-widget-content ui-corner-all" />&nbsp;<a class="btnsmall" onclick="return MakePerm('#until_state');" data-i18n="Permanent">Permanent</a></td>
        </tr>
		</table>
    </form>
</div>

<div class="container">

	<div id="tempcontent"></div>

	<div id="temptophtm">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td align="left" valign="top" id="timesun"></td>
				<td align="right" valign="top">
					<div ng-show="ctrl.RoomPlans.length>0">
						<span data-i18n="Room">Room</span>:
						<select id="comboroom" style="width:160px" class="combobox ui-corner-all"
							ng-model="ctrl.roomSelected" ng-options="room.idx as room.name for room in ctrl.RoomPlans"
							ng-change="ctrl.changeRoom()">
						</select>
					</div>
				</td>
			</tr>
		</table>
		<table ng-show="ctrl.isNotMobile()" class="bannav" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td align="left"></td>
				<td align="right">
					<a href="#/Temperature/CustomTempLog" class="btnstyle" data-i18n="Custom Graph">Custom Graph</a>
					<a ng-show="config.Latitude!=''" id="Forecast" class="btnstyle" onclick="ShowForecast();" data-i18n="Forecast">Forecast</a>
				</td>
			</tr>
		</table>
	</div>

	<div id="tempwidgets" class="row divider">
		<h2 ng-show="ctrl.temperatures.length == 0" data-i18n="No Temperature sensors found or added in the system...">No Temperature sensors found or added in the system...</h2>
		<div ng-repeat-start="t in ctrl.temperatures" class="clearfix" ng-if="$index % 3 == 0 && !$first"></div>
		<dztemperaturewidget ng-repeat-end class="span4" id="{{t.idx}}" item="t" tempsign="config.TempSign" windsign="config.WindSign" ordering="config.AllowWidgetOrdering" dragwidget="DragWidget(idx)" dropwidget="DropWidget(idx)"></dztemperaturewidget>
	</div>

</div>

