<div id="timerplancontent" class="container">
</div>

<div id="dialog-add-edit-timerplan" style="display:none;">
	<table border="0" cellpadding="0" cellspacing="20" width="100%">
		<tr>
			<td align="right" style="width:60px"><label for="planname">Name:</label></td>
			<td><input type="text" id="planname" style="width: 200px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
		</tr>
	</table>
</div>
<div id="timerplanmain" style="display:none;">
	<table class="bannav" id="bannav" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td align="left"></td>
		<td align="right"><a class="btnstyle" onclick="AddNewTimerPlan();" data-i18n="Add Plan">Add Plan</a></td>
	</tr>
	</table>
	<br>
	<table class="display" id="timerplantable" border="0" cellpadding="0" cellspacing="0" width="100%">
		<thead>
			<tr valign="middle">
				<th width="40" align="center" data-i18n="Idx">Idx</th>
				<th align="left" data-i18n="Name">Name</th>
			</tr>
		</thead>
	</table>
	<table id="updelclr" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td>
				<a class="btnstyle3-dis" id="timerplanedit" data-i18n="Edit">Edit</a>&nbsp;&nbsp;&nbsp;
				<a class="btnstyle3-dis" id="timerplancopy" data-i18n="Duplicate">Duplicate</a>&nbsp;&nbsp;&nbsp;
				<a class="btnstyle3-dis" id="timerplandelete" data-i18n="Delete">Delete</a>
			</td>
		</tr>
	</table>
</div>
