<div id="updatecontent" class="container">
	<center>
	<h1 ng-bind-html="topText"></h1>
	<br>
	<div id="divprogress" style="display:none;">
		<div ang:round:progress data-round-progress-model="ProgressData"
								data-round-progress-width="340"
								data-round-progress-height="360"
								data-round-progress-outer-circle-width="35"
								data-round-progress-inner-circle-width="8"
								data-round-progress-outer-circle-radius="150"
								data-round-progress-inner-circle-radius="100"
								data-round-progress-label-font="100pt Arial"
								data-round-progress-outer-circle-background-color="#505769"
								data-round-progress-outer-circle-foreground-color="#12eeb9"
								data-round-progress-inner-circle-color="#505769"
								data-round-progress-label-color="#fff">
		</div>
		<br>
		<span ng-bind-html="bottomText"></span>
		</center>
	</div>
</div>
