<div id="dialog-editutilitydevice" title="Edit Device">
    <form>
        <table class="display" id="metertable" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="right" style="width:60px"><label for="devicename"><span data-i18n="Name">Name</span>: </label></td>
          <td><input type="text" id="devicename" style="width: 250px; padding: .4em;" class="text ui-widget-content ui-corner-all" /></td>
        </tr>
		<tr>
			<td align="right" style="width:120px"><label for="devicedescription"><span data-i18n="Description"></span>: </label></td>
			<td><textarea id="devicedescription" name="devicedescription" rows="4" style="width: 356px; padding: .2em;" class="text ui-widget-content ui-corner-all"></textarea></td>
		</tr>
		</table>
    </form>
</div>
<div id="dialog-editcustomsensordevice" title="Edit Device">
    <form>
        <table class="display" id="metertable" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="right" style="width:60px"><label for="devicename"><span data-i18n="Name">Name</span>: </label></td>
          <td><input type="text" id="devicename" style="width: 250px; padding: .4em;" class="text ui-widget-content ui-corner-all" /></td>
        </tr>
		<tr>
			<td align="right" style="width:200px"><label for="sensoraxis"><span data-i18n="Axis Label"></span>:</label></td>
			<td><input type="text" id="sensoraxis" style="width: 240px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
		</tr>
		<tr>
			<td align="right"><label for="combosensoricon"><span data-i18n="Sensor Icon"></span>: </label></td>
			<td>
				<select id="combosensoricon" style="width:200px" class="combobox ui-corner-all">
				</select>
			</td>
		</tr>
		<tr>
			<td align="right" style="width:120px"><label for="devicedescription"><span data-i18n="Description"></span>: </label></td>
			<td><textarea id="devicedescription" name="devicedescription" rows="4" style="width: 356px; padding: .2em;" class="text ui-widget-content ui-corner-all"></textarea></td>
		</tr>
		</table>
    </form>
</div>
<div id="dialog-editmeterdevice" title="Edit Device">
    <form>
        <table class="display" id="metertable" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="right" style="width:60px"><label for="devicename"><span data-i18n="Name">Name</span>: </label></td>
          <td><input type="text" id="devicename" style="width: 250px; padding: .4em;" class="text ui-widget-content ui-corner-all" /></td>
        </tr>
		<tr>
			<td align="right" style="width:120px"><label for="devicedescription"><span data-i18n="Description"></span>: </label></td>
			<td><textarea id="devicedescription" name="devicedescription" rows="4" style="width: 356px; padding: .2em;" class="text ui-widget-content ui-corner-all"></textarea></td>
		</tr>
        <tr>
          <td align="right"><label for="combometertype"><span data-i18n="Type">Type</span>: </label></td>
          <td><select id="combometertype" style="width:150px" class="combobox ui-corner-all">
            <!--#embed metertypes -->
          </select></td>
		</tr>
		<tr id="tdmeteroffset">
          <td align="right"><label for="meteroffset"><span data-i18n="Meter Offset">Meter Offset</span>: </label></td>
          <td><input type="text" id="meteroffset" style="width: 120px; padding: .4em;" class="text ui-widget-content ui-corner-all" /></td>
		</tr>
        <tr id="customcounter">
          <td align="right"><label for="valuequantity"><span data-i18n="Value Quantity (e.g. Weight)">Value Quantity (e.g. Weight)</span>: </label></td>
          <td><input type="text" id="valuequantity" style="width: 140px; padding: .4em;" class="text ui-widget-content ui-corner-all" /></td>
        </tr>
        <tr id="customcounter">
          <td align="right"><label for="valueunits"><span data-i18n="Value Units (e.g. Kg)">Value Units (e.g. Kg)</span>: </label></td>
          <td><input type="text" id="valueunits" style="width: 140px; padding: .4em;" class="text ui-widget-content ui-corner-all" /></td>
        </tr>
		</table>
    </form>
</div>
<div id="dialog-editenergydevice" title="Edit Device">
    <form>
        <table class="display" id="energytable" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="right" style="width:60px"><label for="devicename"><span data-i18n="Name">Name</span>: </label></td>
          <td><input type="text" id="devicename" style="width: 250px; padding: .4em;" class="text ui-widget-content ui-corner-all" /></td>
        </tr>
		<tr>
			<td align="right" style="width:120px"><label for="devicedescription"><span data-i18n="Description"></span>: </label></td>
			<td><textarea id="devicedescription" name="devicedescription" rows="4" style="width: 356px; padding: .2em;" class="text ui-widget-content ui-corner-all"></textarea></td>
		</tr>
        <tr>
          <td align="right"><label for="combometertype"><span data-i18n="Type">Type</span>: </label></td>
          <td><select id="combometertype" style="width:150px" class="combobox ui-corner-all">
            <option value="0" data-i18n="Usage">Usage</option>
            <option value="4" data-i18n="Return">Return</option>
          </select></td>
		</tr>
        <tr>
             <td align="right" style="width:120px"><label for="devoptions"><span data-i18n="Energy read">Energy read</span>: </label></td>          
             <td>
             <input type="radio" name="devoptions" id="devoptions2" value="1" >&nbsp;&nbsp;<span data-i18n="Computed">&nbsp;&nbsp;Computed</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|
             <input type="radio" name="devoptions" id="devoptions1" value="0" checked>&nbsp;&nbsp;<span data-i18n="From device">From device</span>
             </td>
        </tr>
		</table>
    </form>
</div>
<div id="dialog-editdistancedevice">
    <form>
        <table class="display" id="edittable" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="right" style="width:60px"><label><span data-i18n="Name">Name</span>: </label></td>
          <td><input type="text" id="devicename" style="width: 250px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
        </tr>
		<tr>
			<td align="right" style="width:120px"><label for="devicedescription"><span data-i18n="Description"></span>: </label></td>
			<td><textarea id="devicedescription" name="devicedescription" rows="4" style="width: 356px; padding: .2em;" class="text ui-widget-content ui-corner-all"></textarea></td>
		</tr>
        <tr>
          <td align="right" style="width:60px"><label><span data-i18n="Display">Display</span>: </label></td>
          <td>
			<select id="combometertype" style="width:150px" class="combobox ui-corner-all">
				<option value="0">Centimeters</option>
				<option value="1">Inches</option>
			</select>
		  </td>
        </tr>
		</table>
    </form>
</div>
<div id="dialog-editsetpointdevice" title="Edit Device">
    <form>
        <table class="display" id="metertable" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="right" style="width:60px"><label for="devicename"><span data-i18n="Name">Name</span>: </label></td>
          <td><input type="text" id="devicename" style="width: 250px; padding: .4em;" class="text ui-widget-content ui-corner-all" /></td>
        </tr>
		<tr>
			<td align="right" style="width:120px"><label for="devicedescription"><span data-i18n="Description"></span>: </label></td>
			<td><textarea id="devicedescription" name="devicedescription" rows="4" style="width: 356px; padding: .2em;" class="text ui-widget-content ui-corner-all"></textarea></td>
		</tr>
		<tr>
			<td align="right"><label for="protected"><span data-i18n="Protected">Protected</span>:</label></td>
			<td><input type="checkbox" id="protected"></td>
		</tr>
        <tr>
          <td align="right"><label><span data-i18n="Value">Value</span>: </label></td>
          <td><input type="text" id="setpoint" style="width: 50px; padding: .4em;" class="text ui-widget-content ui-corner-all" /> &deg; <span id="tempunit">C</span></td>
		</tr>
		</table>
    </form>
</div>
<div id="dialog-editthermostatclockdevice" title="Edit Device">
    <form>
        <table class="display" id="metertable" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="right" style="width:60px"><label for="devicename"><span data-i18n="Name">Name</span>: </label></td>
          <td><input type="text" id="devicename" style="width: 250px; padding: .4em;" class="text ui-widget-content ui-corner-all" /></td>
        </tr>
		<tr>
			<td align="right" style="width:120px"><label for="devicedescription"><span data-i18n="Description"></span>: </label></td>
			<td><textarea id="devicedescription" name="devicedescription" rows="4" style="width: 356px; padding: .2em;" class="text ui-widget-content ui-corner-all"></textarea></td>
		</tr>
		<tr>
			<td align="right"><label for="protected"><span data-i18n="Protected">Protected</span>:</label></td>
			<td><input type="checkbox" id="protected"></td>
		</tr>
		<tr>
			<td align="right"><label><span data-i18n="Day">Day</span>: </label></td>
            <td><select id="comboclockday" name="comboclockday" style="width:200px" class="combobox ui-corner-all">
                <option value="0" data-i18n="Monday">Monday</option>
                <option value="1" data-i18n="Tuesday">Tuesday</option>
                <option value="2" data-i18n="Wednesday">Wednesday</option>
                <option value="3" data-i18n="Thursday">Thursday</option>
                <option value="4" data-i18n="Friday">Friday</option>
                <option value="5" data-i18n="Saturday">Saturday</option>
                <option value="6" data-i18n="Sunday">Sunday</option>
            </select></td>
		</tr>
        <tr>
          <td align="right"><label><span data-i18n="Hour">Hour</span>: </label></td>
          <td><input type="text" id="clockhour" style="width: 50px; padding: .4em;" class="text ui-widget-content ui-corner-all" /></td>
		</tr>
        <tr>
          <td align="right"><label><span data-i18n="Minute">Minute</span>: </label></td>
          <td><input type="text" id="clockminute" style="width: 50px; padding: .4em;" class="text ui-widget-content ui-corner-all" /></td>
		</tr>
		</table>
    </form>
</div>
<div id="dialog-editthermostatmode" title="Edit Device">
    <form>
        <table class="display" id="metertable" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="right" style="width:60px"><label for="devicename"><span data-i18n="Name">Name</span>: </label></td>
          <td><input type="text" id="devicename" style="width: 250px; padding: .4em;" class="text ui-widget-content ui-corner-all" /></td>
        </tr>
		<tr>
			<td align="right" style="width:120px"><label for="devicedescription"><span data-i18n="Description"></span>: </label></td>
			<td><textarea id="devicedescription" name="devicedescription" rows="4" style="width: 356px; padding: .2em;" class="text ui-widget-content ui-corner-all"></textarea></td>
		</tr>
		<tr>
			<td align="right"><label for="protected"><span data-i18n="Protected">Protected</span>:</label></td>
			<td><input type="checkbox" id="protected"></td>
		</tr>
		<tr>
			<td align="right"><label><span data-i18n="Mode">Mode</span>: </label></td>
            <td><select id="combomode" name="combomode" style="width:200px" class="combobox ui-corner-all">
                <option value="0" data-i18n="0">Auto Changeover</option>
                <option value="1" data-i18n="1">Tuesday</option>
                <option value="2" data-i18n="2">Wednesday</option>
                <option value="3" data-i18n="3">Thursday</option>
                <option value="4" data-i18n="4">Friday</option>
                <option value="5" data-i18n="5">Saturday</option>
                <option value="6" data-i18n="6">Sunday</option>
            </select></td>
		</tr>
		</table>
    </form>
</div>
<div id="editsetpointtimers" style="display:none;">
    <table class="display" id="setpointtimertable" border="0" cellpadding="0" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th width="40" align="center" data-i18n="Active">Active</th>
                <th width="150" align="center" data-i18n="Type">Type</th>
                <th width="80" align="center" data-i18n="Date">Date</th>
                <th width="60" align="center" data-i18n="Time">Time</th>
                <th width="80" align="center" data-i18n="Value">Value</th>
                <th align="left" data-i18n="Days">Days</th>
            </tr>
        </thead>
    </table>
    <table id="updelclr" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td>
					<a class="btnstyle3-dis" id="timerupdate" data-i18n="Update">Update</a>&nbsp;&nbsp;&nbsp;
					<a class="btnstyle3-dis" id="timerdelete" data-i18n="Delete">Delete</a>
				</td>
				<td align="right">
					<a class="btnstyle3" onclick="ClearSetpointTimers();" data-i18n="Clear">Clear</a>
				</td>
			</tr>
		</table>
		<br>
		<table class="display" id="timerparamstable" border="0" cellpadding="0" cellspacing="20">
			<tr>
				<td align="right" style="width:80px"><label for="enabled"><span data-i18n="Enabled"></span>:</label></td>
				<td><input type="checkbox" id="enabled" checked></td>
			</tr>
			<tr>
				<td align="right" style="width:80px"><label for="combotype"><span data-i18n="Type"></span>:</label></td>
				<td><select id="combotype" style="width:180px" class="combobox ui-corner-all">
						<!--#embed timertypes -->
						</select>
				</td>
			</tr>
			<tr id="rdate">
				<td align="right" style="width:80px"><label for="ssdate"><span data-i18n="Date"></span>:</label></td>
				<td><input type="text" class="datepick" id="ssdate" style="width: 100px; padding: .2em;" class="text ui-widget-content ui-corner-all"></td>
			</tr>
			<tr>
				<td align="right" style="width:80px"><label for="combotimehour"><span data-i18n="Time"></span>:</label></td>
				<td><select id="combotimehour" style="width:50px" class="combobox ui-corner-all"></select>
						:
						<select id="combotimemin" style="width:50px" class="combobox ui-corner-all"></select>
						<span data-i18n="(hour/minute)"></span>
				</td>
			</tr>
			<tr>
				<td align="right" style="width:80px"><label for="tvalue"><span data-i18n="Value"></span>:</label></td>
				<td><input type="text" id="tvalue" style="width: 60px; padding: .2em;" class="text ui-widget-content ui-corner-all"></td>
			</tr>
			<tr id="rnorm"><td></td></tr>
			<tr id="rnorm">
				<td align="right" style="width:80px"><label><span data-i18n="When"></span>:</label></td>
				<td>
					<input type="radio" name="when" id="when_1" value="Everyday" checked>&nbsp;<span data-i18n="Everyday"></span><br><br>
					<input type="radio" name="when" id="when_2" value="Weekdays">&nbsp;<span data-i18n="Weekdays"></span><br><br>
					<input type="radio" name="when" id="when_3" value="Weekends">&nbsp;<span data-i18n="Weekends"></span><br><br>
					<input type="radio" name="when" id="when_4" value="SelectedDays">&nbsp;<span data-i18n="Selected Days"></span><br><br>
				</td>
			</tr>
			<tr id="rnorm"><td></td></tr>
			<tr id="rnorm">
				<td align="right" style="width:80px"><label><span data-i18n="Days"></span>:</label></td>
				<td>
					<input type="checkbox" id="ChkMon" checked/>&nbsp;<span data-i18n="Monday"></span>&nbsp;
					<input type="checkbox" id="ChkTue" checked/>&nbsp;<span data-i18n="Tuesday"></span>&nbsp;
					<input type="checkbox" id="ChkWed" checked/>&nbsp;<span data-i18n="Wednesday"></span>&nbsp;
					<input type="checkbox" id="ChkThu" checked/>&nbsp;<span data-i18n="Thursday"></span>&nbsp;
					<input type="checkbox" id="ChkFri" checked/>&nbsp;<span data-i18n="Friday"></span>&nbsp;
					<input type="checkbox" id="ChkSat" checked/>&nbsp;<span data-i18n="Saturday"></span>&nbsp;
					<input type="checkbox" id="ChkSun" checked/>&nbsp;<span data-i18n="Sunday"></span>&nbsp;
				</td>
			</tr>
			<tr id="rdays"><td></td></tr>
			<tr id="rdays">
				<td align="right" style="width:80px"><label for="days"><span data-i18n="Day"></span>:</label></td>
				<td>
					<select id="days" style="width:50px" class="combobox ui-corner-all"></select>
				</td>
			</tr>
			<tr id="roccurence"><td></td></tr>
			<tr id="roccurence">
				<td align="right" style="width:80px"><label for="occurence"><span data-i18n="Day"></span>:</label></td>
				<td>
					<select id="occurence" style="width:90px" class="combobox ui-corner-all">
					<option value="1" data-i18n="First">First</option>
					<option value="2" data-i18n="2nd">2nd</option>
					<option value="3" data-i18n="3rd">3rd</option>
					<option value="4" data-i18n="4th">4th</option>
					<option value="5" data-i18n="Last">Last</option>
					</select>
					<select id="weekdays" style="width:100px" class="combobox ui-corner-all">
					<option value="0" data-i18n="Monday">Monday</option>
					<option value="1" data-i18n="Tuesday">Tuesday</option>
					<option value="2" data-i18n="Wednesday">Wednesday</option>
					<option value="3" data-i18n="Thursday">Thursday</option>
					<option value="4" data-i18n="Friday">Friday</option>
					<option value="5" data-i18n="Saturday">Saturday</option>
					<option value="6" data-i18n="Sunday">Sunday</option>
					</select>
				</td>
			</tr>
			<tr id="rmonths"><td></td></tr>
			<tr id="rmonths">
				<td align="right" style="width:80px"><label for="months"><span data-i18n="Month"></span>:</label></td>
				<td>
					<select id="months" style="width:90px" class="combobox ui-corner-all">
					<option value="1" data-i18n="January">January</option>
					<option value="2" data-i18n="February">February</option>
					<option value="3" data-i18n="March">March</option>
					<option value="4" data-i18n="April">April</option>
					<option value="5" data-i18n="May">May</option>
					<option value="6" data-i18n="June">June</option>
					<option value="7" data-i18n="July">July</option>
					<option value="8" data-i18n="August">August</option>
					<option value="9" data-i18n="September">September</option>
					<option value="10" data-i18n="October">October</option>
					<option value="11" data-i18n="November">November</option>
					<option value="12" data-i18n="December">December</option>
					</select>
				</td>
			</tr>
		</table>
		<br>
    <a class="btnstyle3" onclick="AddSetpointTimer();" data-i18n="Add">Add</a>
</div>

<div id="utilitycontent" class="container">
</div>

<div id="percentagelog" style="display:none;">
  <h2 data-i18n="Day">Day</h2>
  <div id="percentagedaygraph" style="height: 300px;"></div>
  <br>
  <h2 data-i18n="Month">Month</h2>
  <div id="percentagemonthgraph" style="height: 300px;"></div>
  <br>
  <h2 data-i18n="Year">Year</h2>
  <div id="percentageyeargraph" style="height: 300px;"></div>
</div>

<div id="fanlog" style="display:none;">
  <h2 data-i18n="Day">Day</h2>
  <div id="fandaygraph" style="height: 300px;"></div>
  <br>
  <h2 data-i18n="Month">Month</h2>
  <div id="fanmonthgraph" style="height: 300px;"></div>
  <br>
  <h2 data-i18n="Year">Year</h2>
  <div id="fanyeargraph" style="height: 300px;"></div>
</div>
