<div id="dialog-editweatherdevice">
    <form>
        <table class="display" id="edittable" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="right" style="width:60px"><label><span data-i18n="Name">Name</span>: </label></td>
          <td><input type="text" id="devicename" style="width: 250px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
        </tr>
		<tr>
			<td align="right" style="width:120px"><label for="devicedescription"><span data-i18n="Description"></span>: </label></td>
			<td><textarea id="devicedescription" name="devicedescription" rows="4" style="width: 356px; padding: .2em;" class="text ui-widget-content ui-corner-all"></textarea></td>
		</tr>
		</table>
    </form>
</div>
<div style="display:none">
	<!-- Source: http://or.water.usgs.gov/cgi-bin/grapher/graph_windrose.pl -->
	<table id="freq" border="0" cellspacing="0" cellpadding="0">
		<tr nowrap bgcolor="#CCCCFF">
			<th colspan="9" class="hdr">Table of Frequencies (percent)</th>
		</tr>
		<tr nowrap bgcolor="#CCCCFF">
			<th class="freq">Direction</th>
			<th class="freq">&lt; 0.5 m/s</th>
			<th class="freq">0.5-2 m/s</th>
			<th class="freq">2-4 m/s</th>
			<th class="freq">4-6 m/s</th>
			<th class="freq">6-8 m/s</th>
			<th class="freq">8-10 m/s</th>
			<th class="freq">&gt; 10 m/s</th>
			<th class="freq">Total</th>
		</tr>
		<tr nowrap>
			<td class="dir">N</td>
			<td class="data">1.81</td>
			<td class="data">1.78</td>
			<td class="data">0.16</td>
			<td class="data">0.00</td>
			<td class="data">0.00</td>
			<td class="data">0.00</td>
			<td class="data">0.00</td>
			<td class="data">3.75</td>
		</tr>		
		<tr nowrap bgcolor="#DDDDDD">
			<td class="dir">NNE</td>
			<td class="data">0.62</td>
			<td class="data">1.09</td>
			<td class="data">0.00</td>
			<td class="data">0.00</td>
			<td class="data">0.00</td>
			<td class="data">0.00</td>
			<td class="data">0.00</td>
			<td class="data">1.71</td>
		</tr>
		<tr nowrap>
			<td class="dir">NE</td>
			<td class="data">0.82</td>
			<td class="data">0.82</td>
			<td class="data">0.07</td>
			<td class="data">0.00</td>
			<td class="data">0.00</td>
			<td class="data">0.00</td>
			<td class="data">0.00</td>
			<td class="data">1.71</td>
		</tr>
		<tr nowrap bgcolor="#DDDDDD">
			<td class="dir">ENE</td>
			<td class="data">0.59</td>
			<td class="data">1.22</td>
			<td class="data">0.07</td>
			<td class="data">0.00</td>
			<td class="data">0.00</td>
			<td class="data">0.00</td>
			<td class="data">0.00</td>
			<td class="data">1.88</td>
		</tr>
		<tr nowrap>
			<td class="dir">E</td>
			<td class="data">0.62</td>
			<td class="data">2.20</td>
			<td class="data">0.49</td>
			<td class="data">0.00</td>
			<td class="data">0.00</td>
			<td class="data">0.00</td>
			<td class="data">0.00</td>
			<td class="data">3.32</td>
		</tr>
		<tr nowrap bgcolor="#DDDDDD">
			<td class="dir">ESE</td>
			<td class="data">1.22</td>
			<td class="data">2.01</td>
			<td class="data">1.55</td>
			<td class="data">0.30</td>
			<td class="data">0.13</td>
			<td class="data">0.00</td>
			<td class="data">0.00</td>
			<td class="data">5.20</td>
		</tr>
		<tr nowrap>
			<td class="dir">SE</td>
			<td class="data">1.61</td>
			<td class="data">3.06</td>
			<td class="data">2.37</td>
			<td class="data">2.14</td>
			<td class="data">1.74</td>
			<td class="data">0.39</td>
			<td class="data">0.13</td>
			<td class="data">11.45</td>
		</tr>
		<tr nowrap bgcolor="#DDDDDD">
			<td class="dir">SSE</td>
			<td class="data">2.04</td>
			<td class="data">3.42</td>
			<td class="data">1.97</td>
			<td class="data">0.86</td>
			<td class="data">0.53</td>
			<td class="data">0.49</td>
			<td class="data">0.00</td>
			<td class="data">9.31</td>
		</tr>
		<tr nowrap>
			<td class="dir">S</td>
			<td class="data">2.66</td>
			<td class="data">4.74</td>
			<td class="data">0.43</td>
			<td class="data">0.00</td>
			<td class="data">0.00</td>
			<td class="data">0.00</td>
			<td class="data">0.00</td>
			<td class="data">7.83</td>
		</tr>
		<tr nowrap bgcolor="#DDDDDD">
			<td class="dir">SSW</td>
			<td class="data">2.96</td>
			<td class="data">4.14</td>
			<td class="data">0.26</td>
			<td class="data">0.00</td>
			<td class="data">0.00</td>
			<td class="data">0.00</td>
			<td class="data">0.00</td>
			<td class="data">7.37</td>
		</tr>
		<tr nowrap>
			<td class="dir">SW</td>
			<td class="data">2.53</td>
			<td class="data">4.01</td>
			<td class="data">1.22</td>
			<td class="data">0.49</td>
			<td class="data">0.13</td>
			<td class="data">0.00</td>
			<td class="data">0.00</td>
			<td class="data">8.39</td>
		</tr>
		<tr nowrap bgcolor="#DDDDDD">
			<td class="dir">WSW</td>
			<td class="data">1.97</td>
			<td class="data">2.66</td>
			<td class="data">1.97</td>
			<td class="data">0.79</td>
			<td class="data">0.30</td>
			<td class="data">0.00</td>
			<td class="data">0.00</td>
			<td class="data">7.70</td>
		</tr>
		<tr nowrap>
			<td class="dir">W</td>
			<td class="data">1.64</td>
			<td class="data">1.71</td>
			<td class="data">0.92</td>
			<td class="data">1.45</td>
			<td class="data">0.26</td>
			<td class="data">0.10</td>
			<td class="data">0.00</td>
			<td class="data">6.09</td>
		</tr>
		<tr nowrap bgcolor="#DDDDDD">
			<td class="dir">WNW</td>
			<td class="data">1.32</td>
			<td class="data">2.40</td>
			<td class="data">0.99</td>
			<td class="data">1.61</td>
			<td class="data">0.33</td>
			<td class="data">0.00</td>
			<td class="data">0.00</td>
			<td class="data">6.64</td>
		</tr>
		<tr nowrap>
			<td class="dir">NW</td>
			<td class="data">1.58</td>
			<td class="data">4.28</td>
			<td class="data">1.28</td>
			<td class="data">0.76</td>
			<td class="data">0.66</td>
			<td class="data">0.69</td>
			<td class="data">0.03</td>
			<td class="data">9.28</td>
		</tr>		
		<tr nowrap bgcolor="#DDDDDD">
			<td class="dir">NNW</td>
			<td class="data">1.51</td>
			<td class="data">5.00</td>
			<td class="data">1.32</td>
			<td class="data">0.13</td>
			<td class="data">0.23</td>
			<td class="data">0.13</td>
			<td class="data">0.07</td>
			<td class="data">8.39</td>
		</tr>
		<tr nowrap>
			<td class="totals">Total</td>
			<td class="totals">25.53</td>
			<td class="totals">44.54</td>
			<td class="totals">15.07</td>
			<td class="totals">8.52</td>
			<td class="totals">4.31</td>
			<td class="totals">1.81</td>
			<td class="totals">0.23</td>
			<td class="totals">&nbsp;</td>
		</tr>
	</table>
</div>	
<div id="dialog-editvisibilitydevice">
    <form>
        <table class="display" id="edittable" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="right" style="width:60px"><label><span data-i18n="Name">Name</span>: </label></td>
          <td><input type="text" id="devicename" style="width: 250px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
        </tr>
		<tr>
			<td align="right" style="width:120px"><label for="devicedescription"><span data-i18n="Description"></span>: </label></td>
			<td><textarea id="devicedescription" name="devicedescription" rows="4" style="width: 356px; padding: .2em;" class="text ui-widget-content ui-corner-all"></textarea></td>
		</tr>
        <tr>
          <td align="right" style="width:60px"><label><span data-i18n="Display">Display</span>: </label></td>
          <td>
			<select id="combometertype" style="width:150px" class="combobox ui-corner-all">
				<option value="0">Kilometers</option>
				<option value="1">Miles</option>
			</select>
		  </td>
        </tr>
		</table>
    </form>
</div>
<div id="dialog-editraindevice">
    <form>
        <table class="display" id="edittable" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="right" style="width:60px"><label for="devicename"><span data-i18n="Name">Name</span>: </label></td>
          <td><input type="text" id="devicename" style="width: 250px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
        </tr>
		<tr>
			<td align="right" style="width:120px"><label for="devicedescription"><span data-i18n="Description"></span>: </label></td>
			<td><textarea id="devicedescription" name="devicedescription" rows="4" style="width: 356px; padding: .2em;" class="text ui-widget-content ui-corner-all"></textarea></td>
		</tr>
        <tr>
          <td align="right" style="width:60px"><label for="multiply"><span data-i18n="Multiply">Multiply</span>: </label></td>
          <td><input type="text" id="multiply" style="width: 60px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
        </tr>
		</table>
    </form>
</div>
<div id="dialog-editbarodevice">
    <form>
        <table class="display" id="edittable" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="right" style="width:60px"><label for="devicename"><span data-i18n="Name">Name</span>: </label></td>
          <td><input type="text" id="devicename" style="width: 250px; padding: .2em;" class="text ui-widget-content ui-corner-all" /></td>
        </tr>
		<tr>
			<td align="right" style="width:120px"><label for="devicedescription"><span data-i18n="Description"></span>: </label></td>
			<td><textarea id="devicedescription" name="devicedescription" rows="4" style="width: 356px; padding: .2em;" class="text ui-widget-content ui-corner-all"></textarea></td>
		</tr>
        <tr>
          <td align="right" style="width:60px"><label for="adjustment"><span data-i18n="Adjustment">Adjustment</span>: </label></td>
          <td><input type="text" id="adjustment" style="width: 60px; padding: .2em;" class="text ui-widget-content ui-corner-all" /> hPa</td>
        </tr>
		</table>
    </form>
</div>
<div class="container">

	<div id="weathercontent"></div>

	<div id="weathertophtm">
		<table class="bannav" id="bannav" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td align="left" valign="top" id="timesun"></td>
				<td ng-show="config.Latitude!=''" style="width: 150px;" align="right">
					<a id="Forecast" class="btnstyle" onclick="ShowForecast();" data-i18n="Forecast">Forecast</a>
				</td>
			</tr>
		</table>
	</div>

	<div id="weatherwidgets" class="row divider">
		<h2 ng-show="ctrl.items.length == 0" data-i18n="No Weather sensors found or added in the system...">No Weather sensors found or added in the system...</h2>
		<div ng-repeat-start="t in ctrl.items" class="clearfix" ng-if="$index % 3 == 0 && !$first"></div>
		<dzweatherwidget ng-repeat-end class="span4" id="{{t.idx}}" item="t" tempsign="config.TempSign" windsign="config.WindSign" ordering="config.AllowWidgetOrdering" dragwidget="DragWidget(idx)" dropwidget="DropWidget(idx)"></dzweatherwidget>
	</div>

</div>
