<div id="images"></div>
<div id="cnt">
  <div style="margin-bottom:5px;">
    <div>
      <div>
        <div id="frame">
          <div id="ihum" style="color:lightblue;font-size:50px;">--</div>
          <div id="label_lg">Humidity (%)</div>
          <div id="ilow" style="font-size:35px;">--</div>
          <div id="label_lg">Lamp State</div>
        </div>
        <div id="frame">
          <div id="itemp">--</div>
          <div id="label_lg" style="font-size:25px;margin-top:-30px;">Livingroom Temp (º<span class="degsign">{{degsign}}</span>)
          </div>
        </div>
        <div id="frame">
          <div id="ihi" style="color:teal;font-size:50px;">--</div>
          <div id="label_lg">Temp Set (º<span class="degsign">{{degsign}}</span>)</div>
          <div id="ctemp" style="color:#6666FF;font-size:50px;">--</div>
          <div id="label_lg">Temp Cellar (º<span class="degsign">{{degsign}}</span>)</div>
        </div>
      </div>

      <div>
        <div id="frame">
          <div id="cycb" style="font-size:40px;">--</div>
          <div id="label_lg">Temp Floorheat In</div>
        </div>
        <div id="frame">
          <div id="cyce" style="font-size:40px;">--</div>
          <div id="label_lg">Temp Floorheat Out</div>
        </div>
        <div id="frame">
          <div id="state" style="font-size:40px;">--</div>
          <div id="label_lg">Hvac State</div>
        </div>
        <div id="frame">
          <div id="tmpb" style="font-size:40px;">--</div>
          <div id="label_lg">Temp Hot Water</div>
        </div>
        <div id="frame">
          <div id="tmpe" style="font-size:40px;">--</div>
          <div id="label_lg">Pump Floorheating</div>
        </div>
      </div>

      <div>
        <div id="frame">
          <div id="mode" style="font-size:40px;;color:#3333cc;">--</div>
          <div id="label_lg">Water Today (ltr)</div>
        </div>
        <div id="frame">
          <div id="sgas" style="font-size:40px;color:#009933;">--</div>
          <div id="label_lg">Gas Today (m³)</div>
        </div>
        <div id="frame">
          <div id="estate" style="font-size:40px;color:#ff3333;">--</div>
          <div id="label_lg">Energy Today (kW)</div>
        </div>
        <div id="frame">
          <div id="ctmep" style="font-size:40px;color:#ff3333;">--</div>
          <div id="label_lg">Current Energy (watt)</div>
        </div>
        <div id="frame">
          <div id="ctme" style="font-size:40px;color:#ff3333;">--</div>
          <div id="label_lg">Highest Consumer</div>
        </div>
      </div>

      <div>
        <div id="frame">
          <div id="rain" style="font-size:40px;">--</div>
          <div id="label_lg">Daily Rain (MM)</div>
        </div>
        <div id="frame">
          <div id="ohi" style="font-size:40px;color:#C34A2C;">--</div>
          <div id="label_lg">UV Sensor</div>
        </div>
        <div id="frame">
          <div id="wind" style="font-size:40px;">--</div>
          <div id="label_lg">Wind Velocity (<span class="windsign">{{windsign}}</span>)</div>
        </div>
        <div id="frame">
          <div id="otemp" style="font-size:40px;color:darkorange;">--</div>
          <div id="label_lg">Outdoor Temp (º<span class="degsign">{{degsign}}</span>)</div>
        </div>
        <div id="frame">
          <div id="ohum" style="font-size:40px;color:teal;">--</div>
          <div id="label_lg">Outdoor Humidity (%)</div>
        </div>
      </div>

      <div>
        <div id="frame">
          <div id="astat" style="font-size:40px;">--</div>
          <div id="label_lg">Hvac Watt</div>
        </div>
        <div id="frame">
          <div id="otxt">--</div>
          <div id="label_lg">Weather Forecast at Hilversum Netherlands</div>
        </div>
        <div id="frame">
          <div id="astatw" style="font-size:40px;">--</div>
          <div id="label_lg">Baro</div>
        </div>
      </div>

    </div>
    <div id="all"></div>
    <br>
  </div>
</div>
