<h3>Custom Icons</h3>
<div class="iconcell iconlist" style="height: 270px; width: 604px; display:none;">
	<div class="iconlistitem">
		<img src="http://lorempixum.com/48/48/nature/1">
		 <h3>The Grasslands</h3>
		 <p>Lorem ipsum dolor sit amet.</p>
	</div>
	<div class="iconlistitem iconlistitemselected">
		<img src="http://lorempixum.com/48/48/nature/2">
		 <h3>Paradise Found</h3>
		<p>Lorem ipsum dolor sit amet en nog een lange text.</p>
	</div>
	<div class="iconlistitem">
		<img src="http://lorempixum.com/48/48/nature/2">
		 <h3>Smoke On The Water at the lake</h3>
		<p>Lorem ipsum dolor sit amet.</p>
	</div>
	<div class="iconlistitem">
		<img src="http://lorempixum.com/48/48/nature/4">
		 <h3>Headline</h3>
		<p>Lorem ipsum dolor sit amet.</p>
	</div>
	<div class="iconlistitem">
		<img src="http://lorempixum.com/48/48/nature/5">
		 <h3>Headline</h3>
		<p>Lorem ipsum dolor sit amet.</p>
	</div>
	<div class="iconlistitem">
		<img src="http://lorempixum.com/48/48/nature/6">
		 <h3>Headline</h3>
		<p>Lorem ipsum dolor sit amet.</p>
	</div>
	<div class="iconlistitem">
		<img src="http://lorempixum.com/48/48/nature/1">
		 <h3>The Grasslands</h3>
		 <p>Lorem ipsum dolor sit amet.</p>
	</div>
	<div class="iconlistitem">
		<img src="http://lorempixum.com/48/48/nature/2">
		 <h3>Paradise Found</h3>
		<p>Lorem ipsum dolor sit amet en nog een lange text.</p>
	</div>
	<div class="iconlistitem">
		<img src="http://lorempixum.com/48/48/nature/2">
		 <h3>Smoke On The Water at the lake</h3>
		<p>Lorem ipsum dolor sit amet.</p>
	</div>
	<div class="iconlistitem">
		<img src="http://lorempixum.com/48/48/nature/4">
		 <h3>Headline</h3>
		<p>Lorem ipsum dolor sit amet.</p>
	</div>
	<div class="iconlistitem">
		<img src="http://lorempixum.com/48/48/nature/5">
		 <h3>Headline</h3>
		<p>Lorem ipsum dolor sit amet.</p>
	</div>
	<div class="iconlistitem">
		<img src="http://lorempixum.com/48/48/nature/6">
		 <h3>Headline</h3>
		<p>Lorem ipsum dolor sit amet.</p>
	</div>
</div>
<br>
<form id="uploadform" method="POST" enctype="multipart/form-data" action="uploadcustomicon.webem">
	<dl>
	<dt><label for="fileupload">Add New Icon Set:</label></dt>
	<dd>
		<input name="fileupload" id="fileupload" maxlength="409600" value="" class="inputbox autowidth" type="file" accept=".zip" >
		<input type="submit" class="btn btn-info" value="Upload"/>
	</dd>
	</dl>
</form>
