div, ul, li, p {
	margin: 0;
	padding: 0;
	border: 0;
}

@font-face {
    font-family: 'Digital';
    src: url('../../default/font/Digital.eot');
    src: url('../../default/font/Digital.eot?#iefix') format('embedded-opentype'),
         url('../../default/font/Digital.woff') format('woff'),
         url('../../default/font/Digital.ttf') format('truetype'),
         url('../../default/font/Digital.svg#../font/Digital-7Italic') format('svg');
}
@font-face {
    font-family: 'Audiowide';
    src: url('../../default/font/Audiowide.eot');
    src: url('../../default/font/Audiowide.eot?#iefix') format('embedded-opentype'),
         url('../../default/font/Audiowide.woff') format('woff'),
         url('../../default/font/Audiowide.ttf') format('truetype'),
         url('../../default/font/Audiowide.svg#../font/Audiowide-7Italic') format('svg');
}

body { 
	background: #FCFCFC;
	width: 100%;
	min-width: 550px;
}

.clear { clear: both; height: 0 }

.main-border {
	width: 468px;
	margin-top: 14px;
	margin-left: auto;
	margin-right: auto;
}

#keypad {
	border-radius: 3px;
	padding: 15px;
}

.title { 
	margin-bottom: 30px;
	color: #F5F7F9;
	font: 24px 'Audiowide';
	text-align: center;
    text-transform: uppercase;
	text-shadow: -1px -1px 1px #C0C1C2, 0 0 0 #F0F1F3;
}

input[type="text"] {
	background: #F0F3F6;
	border-radius: 5px;
	padding: 2px 10px 0px;
	width: 418px;
	height: 92px;
	margin-bottom: 20px;
	font: 64px 'Digital', sans-serif;
	color: rgba(128, 196, 255, .95);
	text-align: center;
	border: 0;
	box-shadow: inset 1px 1px 2px #D0D1D2;
}
.keypad-keys {
	overflow: hidden;
}
.keypad-keys	li {
	display: block;
	float: left;
	cursor: pointer;
	width: 32px;
	background: #F0F0F0;
	text-align: center;
	white-space: nowrap;
	margin: 0 15px 15px 0;
	border-radius: 5px;
	font: 32px/32px 'Audiowide';
	color: #626364;
	padding: 20px;
	box-shadow: inset 1px 1px 2px #C0C1C2;
}
.keypad-keys	li:hover {
	background: #D0D1D2;
}
.keypad-keys	li:nth-child(4n+4) { 
	margin-right: 0;
}
.keypad-keys	li.arm {
	width: 137px;
	font-size: 26px;
	background: rgba(255,128,128,0.4);
	box-shadow: inset 1px 1px 2px #909192;
}
.keypad-keys	li.arm:hover {
	background: rgba(255,128,128,0.6);
}
.keypad-keys li.disarm {
	background: rgba(128,255,128,0.4);
	box-shadow: inset 1px 1px 2px #B0B1B2;
}
.keypad-keys	li.disarm:hover {
	background: rgba(128,255,128,0.6);
}
.keypad-keys	li.disabled {
	background: rgba(128,128,128,0.75);
}
.keypad-keys li.cancel {
	background: rgba(180,180,180,0.4);
}
.keypad-keys li.cancel:hover {
	background: rgba(180,180,180,0.9);
}