<div id="maincontent" class="container">
	<div id="divupload" ng-show="isUpdating==false">
		<form ng-submit="onSubmit()">
			<label for="firmwarefile"  data-i18n="Select Firmware File:">Select Firmware File:</label>
			<input type="file" file="file" name="firmwarefile" accept=".hex"/><br>
			<br>
			<input type="submit" value="Upload"/>
			<br><br>
			<span data-i18n="Upgrading the firmware takes some time.">Upgrading the firmware takes some time.</span><br>
			<font class="warning-text"><span data-i18n="Wait until you will see the dashboard again!">Wait until you will see the dashboard again!</span></font>
			<br><br>
			<center>
			<span>
<font class="warning-text">Important information about RFXtrx/rec firmware:</font><br>
<br>
RFXtrx315 firmware can only be used in the RFXtrx315.<br>
<br>
RFXrec433 firmware is only for the RFXrec433 receiver. <br>
If you flash an RFXtrx433 or RFXtrx433E transceiver with this firmware you will disable all transmit functionality in the transceiver!<br>
<br>
RFXtrx433-Type1 and RFXtrx433-Type2 firmware will operate in the RFXtrx433 and RFXtrx433E.<br>
<br>
RFXtrx433-Ext firmware will only operate in the RFXtrx433E.<br>
<br>
<br>
The firmware can be downloaded from:<br>
<a href="http://www.rfxcom.com/">RFXCom Website</a>
			</span>
			</center>
		</form>
	</div>

	<div id="divprogress" ng-show="isUpdating==true">
		<h1 ng-bind-html="topText"></h1>
		<br>
		<div id="progressbar"><div id="proglabel" class="progress-label"></div></div>
		<center><span ng-bind-html="bottomText"></span></center>
	</div>
</div>
