<div class="events-editor-file__header events-editor-file__header--script">
    <form class="form-inline">
        <input id="eventName"
               class="events-editor-file__name"
               ng-model="$ctrl.eventData.name"
               ng-change="$ctrl.markEventAsUpdated()"
        >

        <div class="btn-group" style="margin-left: 8px;" ng-if="$ctrl.eventData">
            <button type="button" class="btn btn-default"
                    ng-class="{active: $ctrl.eventData.eventstatus == '0'}"
                    ng-click="$ctrl.setEventState(false)"
            >
                {{:: 'Disabled' | translate }}
            </button>

            <button type="button" class="btn btn-default"
                    ng-class="{active: $ctrl.eventData.eventstatus == '1'}"
                    ng-click="$ctrl.setEventState(true)"
            >
                {{:: 'Enabled' | translate }}
            </button>
        </div>

        <div class="pull-right">
            <div class="ace-settings" ng-if="$ctrl.eventData.interpreter !== 'Blockly'">
                <select class="ace-settings__theme"
                        ng-model="$ctrl.aceSettings.theme"
                        ng-options="t.id as ((t.dark ? '● ' : '○ ') + t.name) for t in $ctrl.themes"
                        ng-change="$ctrl.setTheme($ctrl.aceSettings.theme)"
                        title="Theme">
                </select>

                <button class="btn btn-default btn-xs" type="button"
                        ng-click="$ctrl.decreaseFontSize()"
                        title="Decrease font size">
                    <b>A</b><small>-</small>
                </button>
                <span class="ace-settings__font-size">{{$ctrl.aceSettings.fontSize}}</span>
                <button class="btn btn-default btn-xs" type="button"
                        ng-click="$ctrl.increaseFontSize()"
                        title="Increase font size">
                    <b>A</b><small>+</small>
                </button>

                <button class="btn btn-default btn-xs" type="button"
                        ng-class="{'active': $ctrl.aceSettings.wordWrap}"
                        ng-click="$ctrl.toggleWordWrap()"
                        title="Word wrap">
                    <i class="icon-align-justify"></i>
                </button>

            </div>

            <div class="events-editor-file__type input-prepend" ng-show="$ctrl.isTriggerAvailable()">
                <label class="add-on" for="trigger">{{:: 'Trigger' | translate }}</label>
                <select id="trigger"
                        ng-model="$ctrl.eventData.type"
                        ng-options="item.value as item.label for item in ::$ctrl.eventTypes"
                        ng-change="$ctrl.markEventAsUpdated()">
                </select>
            </div>

            <div class="btn-group" ng-if="$ctrl.eventData.interpreter === 'Blockly'">
                <button class="btn btn-default"
                        type="button"
                        ng-click="$ctrl.importEvent()"
                >
                    {{:: 'Import' | translate}}
                </button>
                <button class="btn btn-default"
                        type="button"
                        ng-click="$ctrl.exportEvent()"
                >
                    {{:: 'Export' | translate}}
                </button>
            </div>

            <a class="btn btn-default"
               href="https://wiki.domoticz.com/DzVents:_next_generation_Lua_scripting"
               target="_blank"
               title="{{:: 'dzVents Documentation' | translate}}"
               ng-if="$ctrl.eventData.interpreter === 'dzVents'"
            >
               <i class="icon-question-sign"></i> {{:: 'Help' | translate }}
            </a>

            <div class="btn-group">
                <button class="btn btn-primary"
                        type="button"
                        ng-click="$ctrl.saveEvent()"
                        ng-disabled="!$ctrl.event.isChanged"
                        title="{{:: 'Save' | translate}} (Ctrl + S)"
                >
                    {{:: 'Save' | translate}}
                </button>

                <button class="btn btn-danger"
                        type="button"
                        ng-click="$ctrl.deleteEvent()"
                >
                    {{:: 'Delete' | translate}}
                </button>
            </div>
        </div>
    </form>
</div>

<div class="events-editor-file__content events-editor-file__content--script js-script-content"></div>

<script type="text/ng-template" id="app/events/exportEventModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{:: 'Export' | translate }}</h3>
    </div>
    <div class="modal-body">
        <form class="form" name="modalForm">
            <p>{{:: 'Copy the script body from the field below to share it:' | translate }}</p>
            <div class="control-group">
                <div class="controls">
                    <textarea
                            autofocus
                            name="script-data"
                            class="form-control"
                            readonly
                            rows="12"
                            style="width: 100%"
                            ng-model="scriptData"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="$close()">{{:: 'Ok' | translate }}</button>
    </div>
</script>

<script type="text/ng-template" id="app/events/importEventModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{:: 'Import' | translate }}</h3>
    </div>
    <div class="modal-body">
        <form class="form" name="modalForm">
            <p>{{:: 'Please, insert the script body into the field below:' | translate }}</p>
            <div class="control-group">
                <div class="controls">
                    <textarea
                            autofocus
                            name="script-data"
                            class="form-control"
                            rows="12"
                            style="width: 100%"
                            ng-model="scriptData"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$close(scriptData)">{{:: 'Import' | translate }}</button>
        <button class="btn btn-default" type="button" ng-click="$dismiss()">{{:: 'Cancel' | translate }}</button>
    </div>
</script>
