<h2>{{'Day'| translate}}</h2>
<dz-counter-spline-day-graph [idx]="device.idx" [switchtype]="device.SwitchTypeVal"></dz-counter-spline-day-graph>
<br>
<h2>{{'Week'| translate}}</h2>
<dz-counter-spline-week-graph [idx]="device.idx" [switchtype]="device.SwitchTypeVal"></dz-counter-spline-week-graph>
<br>
<h2>{{'Month'| translate}}</h2>
<dz-counter-spline-month-graph [idx]="device.idx" [switchtype]="device.SwitchTypeVal"></dz-counter-spline-month-graph>
<br>
<h2>{{'Year'| translate}}</h2>
<dz-counter-spline-year-graph [idx]="device.idx" [switchtype]="device.SwitchTypeVal"></dz-counter-spline-year-graph>
