@import url("../../css/legacy.css"); /* Don't remove this line! */
@import url("common.css");

/*
Default Simple Blue theme for Domoticz
*/
body {
background-image: linear-gradient(to bottom, #120B8F 0%, #4E89E6 50%, #120B8F 100%);
background-attachment: fixed;
}

.warning-text {
	color: yellow;
}