<div id="openzwave">
  <div id="zwavenodesqueried" class="alert alert-error" *ngIf="displayzwavenodesqueried">
    <strong><span>{{'Not all Nodes have been Queried yet, OpenZWave not fully initialized yet!'| translate}}</span></strong>
  </div>
  <div id="zwavesettingscontent">
    <ul id="tabs" class="nav nav-tabs sub-tabs" data-tabs="tabs">
      <li class="active"><a data-target="#tabnodes" data-toggle="tab">{{'Nodes'| translate}}</a></li>
      <li><a data-target="#tabgroups" data-toggle="tab">{{'Groups'| translate}}</a></li>
      <li><a data-target="#tabneighbours" data-toggle="tab">{{'Neighbours'| translate}}</a></li>
      <li class="pull-right">
        <div class="dropdown">
          <button class="btn sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown">
            <span>{{'Node management'| translate}}</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right text-right" role="menu" aria-labelledby="dropdownMenu1">
            <li>
              <a (click)="ZWaveIncludeNode(false)">
                <button type="button" class="btn btn-primary">{{'Include Node'| translate}}</button>
              </a>
            </li>
            <li>
              <a (click)="ZWaveIncludeNode(true)">
                <button type="button" class="btn btn-primary">{{'Include Node Secure'| translate}}</button>
              </a>
            </li>
            <li>
              <a (click)="ZWaveExcludeNode()">
                <button type="button" class="btn btn-primary">{{'Exclude Node'| translate}}</button>
              </a>
            </li>
            <li>
              <a (click)="ZWaveHealNetwork()">
                <button type="button" class="btn btn-warning">{{'Heal network'| translate}}</button>
              </a>
            </li>
            <li role="presentation" class="divider">
            </li>
            <li>
              <a (click)="ZWaveSoftResetNode()">
                <button type="button" class="btn btn-danger">{{'Soft reset controller'| translate}}</button>
              </a>
            </li>
            <li>
              <a (click)="ZWaveHardResetNode()">
                <button type="button" class="btn btn-danger">{{'Hard reset controller'| translate}}</button>
              </a>
            </li>
            <li>
              <a (click)="ZWaveReceiveConfiguration()">
                <button type="button"
                        class="btn btn-primary">{{'Receive configuration from other controller'| translate}}</button>
              </a>
            </li>
            <li>
              <a (click)="ZWaveSendConfiguration()">
                <button type="button"
                        class="btn btn-primary">{{'Send configuration to other controller'| translate}}</button>
              </a>
            </li>
            <li>
              <a (click)="ZWaveTransferPrimaryRole()">
                <button type="button" class="btn btn-danger">{{'Transfer primary role'| translate}}</button>
              </a>
            </li>
            <li id="usercodegrp" role="presentation" class="divider" *ngIf="displayusercodegrp">
            </li>
            <li id="usercodegrp" *ngIf="displayusercodegrp">
              <a (click)="ZWaveStartUserCodeEnrollment()">
                <button type="button" class="btn btn-primary">{{'Start User Code Enrollment'| translate}}</button>
              </a>
            </li>
            <li id="usercodegrp" *ngIf="displayusercodegrp">
              <a id="zwavecodemanagement"
                 (click)="selectedData ? ZWaveUserCodeManagement(selectedData.DT_RowId) : null">
                <button type="button" class="btn btn-primary">{{'User Code Management'| translate}}</button>
              </a>
            </li>
            <li role="presentation" class="divider">
            </li>
            <li>
              <a id="zwave_configdownload" [href]="'zwavegetconfig.php?idx=' + hardware.idx">
                <button type="button" class="btn btn-primary">{{'Download Configuration File'| translate}}</button>
              </a>
            </li>
            <li>
              <a id="zwave_controlpabel" href="./ozwcp/cp.html">
                <button type="button" class="btn btn-primary">{{'Control Panel'| translate}}</button>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div id="my-tab-content" class="tab-content">
      <div class="tab-pane active" id="tabnodes">
        <!-- ============= Nodes ============= -->
        <section id="nodes">
          <div class="page-header-small">
            <h1>{{'Nodes'| translate}}</h1>
          </div>
          <div class="row-fluid">
            <div class="span12">
              <table class="display" id="nodestable" border="0" cellpadding="0" cellspacing="0" width="100%">
                <thead>
                <tr style="height: 35px;">
                  <th width="80" align="center">{{'NodeID'| translate}}</th>
                  <th width="150" align="left">{{'Name'| translate}}</th>
                  <th align="left">{{'Description'| translate}}</th>
                  <th width="120" align="center">{{'Manufacturer'| translate}}</th>
                  <th width="70" align="center">{{'ID'| translate}}</th>
                  <th width="70" align="center">{{'Type'| translate}}</th>
                  <th width="150" align="left">{{'Last Seen'| translate}}</th>
                  <th width="50" align="left">{{'EnablePolling'| translate}}</th>
                  <th width="30" align="left">
                    <img src="images/battery.png" style="transform: rotate(180deg);"
                         title="{{'Battery Level'| translate}}">
                  </th>
                  <th width="50" align="left">{{'Status'| translate}}</th>
                </tr>
                </thead>
              </table>
              <input type="hidden" id="idx" name="idx" [value]="hardware.idx">
              <table id="updelclr" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td>
                    <a id="nodeupdate"
                       (click)="selectedData ? UpdateNode(selectedData.DT_RowId) : null"
                       [ngClass]="{'btnstyle3-dis': !nodeupdateenabled, 'btnstyle3': nodeupdateenabled}">{{'Update'| translate}}</a>&nbsp;&nbsp;&nbsp;
                    <a id="nodedelete"
                       (click)="selectedData && selectedData.NodeID.toString() !== ownNodeId ? DeleteNode(selectedData.DT_RowId) : null"
                       [ngClass]="{'btnstyle3-dis': !nodedeleteenabled, 'btnstyle3': nodedeleteenabled}">{{'Delete'| translate}}</a>
                  </td>
                  <td>
                    <a id="noderefresh"
                       (click)="selectedData ? RefreshNode(selectedData.DT_RowId) : null"
                       [ngClass]="{'btnstyle3-dis': !noderefreshenabled, 'btnstyle3': noderefreshenabled}">{{'Refresh Node Info'| translate}}</a>
                  </td>
                  <td align="right">
                    <a class="btnstyle3" id="nodelistrefresh"
                       (click)="RefreshOpenZWaveNodeTable()">{{'Refresh'| translate}}</a>
                  </td>
                </tr>
              </table>
              <br>
              <input type="hidden" id="ownNodeId" name="ownNodeId" [value]="ownNodeId">
              <table class="display" id="nodeparamstable" border="0" cellpadding="0" cellspacing="20">
                <tr>
                  <td align="right" style="width:110px">
                    <label for="nodename"><span>{{'Name'| translate}}</span>:</label>
                  </td>
                  <td>
                    <input type="text" id="nodename" name="nodename" [(ngModel)]="nodename"
                           style="width: 250px; padding: .2em;" class="text ui-widget-content ui-corner-all"/>
                  </td>
                </tr>
                <tr id="trEnablePolling" *ngIf="displaytrEnablePolling">
                  <td align="right" style="width:80px"><label
                    for="EnablePolling"><span>{{'EnablePolling'| translate}}</span></label>:
                  </td>
                  <td><input type="checkbox" id="EnablePolling" [(ngModel)]="EnablePolling"></td>
                </tr>
              </table>
              <br>
              <h2>{{'Configuration'| translate}}</h2>
              <br>
              <div id="configuration">
                <ng-container *ngIf="selectedData">
                  <a class="btnstyle3" id="noderequeststoredvalues"
                     (click)="RequestZWaveConfiguration(selectedData.DT_RowId)">{{'RequestConfiguration'| translate}}</a>
                  <br/><br/>
                  <ng-container *ngFor="let item of selectedData.Config;">
                    <span class="zwave_label">{{item.index}}. {{item.label}}:</span>
                    <ng-container *ngIf="item.type == 'list'">
                      &nbsp;<select style="width:auto" class="combobox ui-corner-all" [id]="item.index">
                      <option *ngFor="let ilistitem of item.listitem; index as i" [value]="i"
                              [selected]="item.value == ilistitem">{{ilistitem}}</option>
                    </select>
                      <span *ngIf="item.units != ''"> ({{item.units}})</span>
                    </ng-container>
                    <ng-container *ngIf="item.type == 'bool'">
                      <br><select style="width:100%" class="combobox ui-corner-all" [id]="item.index">
                      <option value="False" [selected]="item.value == 'False'">False</option>
                      <option value="True" [selected]="item.value == 'True'">True</option>
                    </select>
                      <span *ngIf="item.units != ''"> ({{item.units}})</span>
                    </ng-container>
                    <ng-container *ngIf="item.type == 'string'">
                      <br><input type="text" [id]="item.index" [value]="item.value" style="width: 600px; padding: .2em;"
                                 class="text ui-widget-content ui-corner-all"/><br>
                      <span *ngIf="item.units != ''"> ({{item.units}})</span>
                      ({{'actual'| translate}}: {{item.value}})
                    </ng-container>
                    <ng-container *ngIf="item.type != 'list' && item.type != 'bool' && item.type != 'string'">
                      &nbsp;<input type="text" [id]="item.index" [value]="item.value"
                                   style="width: 50px; padding: .2em;" class="text ui-widget-content ui-corner-all"/>
                      <span *ngIf="item.units != ''"> ({{item.units}})</span>
                      ({{'actual'| translate}}: {{item.value}})
                    </ng-container>
                    <br/><br/>
                    <span class="zwave_help" *ngIf="item.help">{{item.help}}</span><br *ngIf="item.help">
                    <span class="zwave_last_update" *ngIf="item.LastUpdate.length > 1">Last Update:
                      {{item.LastUpdate}}</span><br *ngIf="item.LastUpdate.length > 1"/>
                    <br/>
                  </ng-container>
                  <ng-container *ngIf="selectedData.Config && selectedData.Config.length > 0">
                    <a class="btnstyle3" id="nodeapplyconfiguration"
                       (click)="ApplyZWaveConfiguration(selectedData.DT_RowId)">{{'ApplyConfiguration'| translate}}</a><br/>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="tab-pane" id="tabgroups">
        <!-- ============= Groups ============= -->
        <section id="groups">
          <div class="page-header-small">
            <h1>{{'Groups'| translate}}</h1>
          </div>
          <div class="row-fluid">
            <div class="span12">
              <table class="display" id="grouptable"></table>
              <table id="updelclrgroup" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td align="right">
                    <a class="btnstyle3" id="grouprefresh" (click)="RefreshGroupTable()">{{'Refresh'| translate}}</a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </section>
      </div>
      <div class="tab-pane" id="tabneighbours">
        <!-- ============= Neighbours ============= -->
        <section id="neighbours">
          <div class="page-header-small">
            <h1>{{'Neighbours'| translate}}</h1>
          </div>
          <div class="row-fluid">
            <div class="span12">
              <div align="center" id="networkchart" #networkChart></div>
            </div>
          </div>
        </section>
      </div>
    </div>

  </div>
</div>

<dz-z-wave-include-modal (abort)="OnZWaveAbortInclude()" (close)="OnZWaveCloseInclude()"></dz-z-wave-include-modal>
<dz-z-wave-exclude-modal (abort)="OnZWaveAbortExclude()" (close)="OnZWaveCloseExclude()"></dz-z-wave-exclude-modal>
