<div id="floorplaneditcontent" class="container">

  <br>
  <h2>{{'Floorplan'| translate}}</h2><br>
  <table class="display" id="floorplantable" border="0" cellpadding="0" cellspacing="0" width="100%" #floorplantable>
    <thead>
    <tr valign="middle">
      <th width="60" align="center"></th>
      <th align="left">{{'Name'| translate}}</th>
      <th align="center" width="100">{{'Plans'| translate}}</th>
      <th align="left" width="100">{{'Icon Scale'| translate}}</th>
      <th width="60" align="center">{{'Order'| translate}}</th>
    </tr>
    </thead>
  </table>
  <table id="updelclr" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td>
        <a class="btnstyle3" id="floorplanadd" (click)="AddNewFloorplan()">{{'Add'| translate}}</a>&nbsp;&nbsp;&nbsp;
        <a class="btnstyle3-dis" id="floorplanedit"
           (click)="selectedFloorPlan ? EditFloorplan() : undefined">{{'Edit'| translate}}</a>&nbsp;&nbsp;&nbsp;
        <a class="btnstyle3-dis" id="floorplandelete"
           (click)="selectedFloorPlan ? DeleteFloorplan() : undefined">{{'Delete'| translate}}</a>
      </td>
    </tr>
  </table>
  <br>
  <h2>{{'Room Plans'| translate}}</h2>(<span>{{'Select Floorplan first to Edit...'| translate}}</span>)<br>
  <br>
  <table class="display" id="plantable2" border="0" cellpadding="0" cellspacing="0" width="100%" #plantable2>
    <thead>
    <tr valign="middle">
      <th align="left">{{'Name'| translate}}</th>
      <th width="160" align="left">{{'Room Area Defined'| translate}}</th>
    </tr>
    </thead>
  </table>
  <table id="delclractive" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td align="left" width="100">
        <label align="center" style="width: 30px; padding: .2em;"
               class="ui-widget-content ui-corner-all">{{ MouseX }}</label>
        /
        <label align="center" style="width: 30px; padding: .2em;"
               class="ui-widget-content ui-corner-all">{{ MouseY }}</label>
      </td>
      <td align="center">
        <label><span>{{'Plan'| translate}}</span></label>
        <select id="comboactiveplan" name="comboactiveplan" [(ngModel)]="activeplan" style="width:300px" class="combobox ui-corner-all">
          <option *ngFor="let p of UnusedDevices;" [value]="p.idx">{{p.name}}</option>
        </select>
        <a class="btnstyle3-dis" id="activeplanadd" (click)="AddUnusedPlan()">{{'Add'| translate}}</a>
      </td>
      <td>
        <a class="btnstyle3-dis" id="activeplandelete"
           (click)="selectedPlan ? DeleteFloorplanPlan() : undefined">{{'Delete'| translate}}</a>
      </td>
      <td align="center">
        <a class="btnstyle3-dis" id="activeplanupdate"
           (click)="selectedPlan ? UpdateFloorplanPlan(false) : undefined">{{'Update'| translate}}</a>
      </td>
      <td align="right">
        <a class="btnstyle3-dis" id="activeplanclear"
           (click)="selectedPlan ? UpdateFloorplanPlan(true) : undefined">{{'Clear'| translate}}</a>
      </td>
    </tr>
  </table>
  <div id="floorplaneditor" class="imageparent" width="100%" height="100%">
    <span id="helptext">{{'Click on the image below to define room area, drag and drop devices'| translate}}</span>
    <img id="floorplanimagesize" (click)="FloorplanClick($event)" width="100%" height="100%" src="" style="display:none"
         (load)="ImageLoaded()">
    <svg id="svgcontainer"
         (mousemove)="SVGContainerMouseMove($event)"
         (mouseleave)="SVGContainerMouseLeave()"
         width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMinYMin meet" style="display:none">
      <g id="floorplangroup" zoomed="false">
        <!--<rect width="100%" height="100%" fill="white"/>-->
        <image id="floorplanimage" width="100%" height="100%" xlink:href="" style="cursor:crosshair;"/>
        <g id="guidelines" (click)="FloorplanClick($event)"/>
        <g id="roomplangroup"/>
        <polygon id="roompolyarea" class="hoverable" (click)="PolyClick($event)">
          <title>{{'Click room to test'| translate}}</title>
        </polygon>
      </g>
    </svg>
  </div>
  <br>

</div>
