<h2>{{ ::'Day' | translate }}</h2>
<temperature-log-chart
        device-idx="::$ctrl.deviceIdx"
        device-type="::$ctrl.deviceType"
        degree-type="::$ctrl.degreeType"
        range="day">
</temperature-log-chart>
<br>

<h2>{{ ::'Month' | translate }}</h2>
<temperature-log-chart
        device-idx="::$ctrl.deviceIdx"
        device-type="::$ctrl.deviceType"
        degree-type="::$ctrl.degreeType"
        range="month">
</temperature-log-chart>
<br>

<h2>{{ ::'Year' | translate }}</h2>
<temperature-log-chart
        device-idx="::$ctrl.deviceIdx"
        device-type="::$ctrl.deviceType"
        degree-type="::$ctrl.degreeType"
        range="year">
</temperature-log-chart>