<div class="container js-report">
    <table class="display" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <a id="backbutton" class="btnstylerev" back-button>{{ :: 'Back'|translate }}</a>&nbsp;
            <h1 id="theader">{{ ::vm.title }}</h1>
            
            <td align="right" ng-if="::!vm.isMonthView">
                <label for="comboyear">{{ :: 'Year' | translate }}: </label>
                <select 
                    id="comboyear" 
                    class="combobox ui-corner-all"
                    style="width:64px"
                    ng-model="vm.selectedYear"
                    ng-change="vm.selectYear()"
                    ng-options="year for year in ::vm.getYearsOptions()">
                </select>
            </td>
        </tr>
    </table>
    <br>
    <div ng-if="::vm.max">
        <span>{{ ::'Hottest Day' | translate }}:</span>
        <span>{{ ::vm.max.date }}, {{ ::vm.max.value }} °{{ ::vm.degreeType}}</span>
    </div>
    <div ng-if="::vm.min">
        <span>{{ ::'Coldest Day' | translate }}:</span>
        <span>{{ ::vm.min.date }}, {{ ::vm.min.value }} °{{ ::vm.degreeType}}</span>
    </div>
    <div ng-if="::vm.degreeDays">
        <span data-i18n="Degree Days">{{ ::'Degree Days' | translate }}:</span>
        <span id="mddays">{{ ::vm.degreeDays }}</span>
        <br>
    </div>
    <br>
    <div ng-if="::vm.noDataAvailable">
        {{ ::'No data available' | translate}}
    </div>
    <table class="display myrighttable" id="reporttable">

    </table>
    <br>

    <div id="usagegraph" style="height: 300px;"></div>
    <br>
    <div id="variation-graph" style="height: 400px;"></div>
</div>