/* This is a sub-theme. It makes the most visible changes to the base.css file, such as changing colours or the position of certain elements. */

body {
    color: #0D161F; /*!important;*/
}
    
.row-fluid [class^="span"]{
    background-color: #555; /*!important;*/
    color:#fff!important;
}

/* hacking around all the parts that don't follow span convention*/
#protectiontable, 
#loghistory table, 
#notifications>table, 
#metercounters table, 
#othersettings table, 
#floorplans table, 
#settingscontent #ActiveTabs,
#emailtable,
#hardwarecontent > div:not(.page-header-small):not(.bannav):not(#bannav), 
#hardwarecontent > table:not(.page-header-small):not(.bannav):not(#bannav),
#hardwarecontent #ipnodeparamstable,
#nodeparamstable,
#utilitycontent #notificationparamstable,
#plancontent #activeparamstable,
#usercontent #userparamstable, #cameracontent #activeparamstable, #hardwarecontent #hardwareparamstable, 
#lightcontent #paramstable:not(:nth-of-type(1)):not(:nth-of-type(2)), 
#scenecontent #paramstable:not(:nth-of-type(1)):not(:nth-of-type(2)), 
#weathercontent #notificationparamstable ,#lightcontent #timerparamstable, 
#tempnotifications #notificationparamstable, #lightcontent #notificationparamstable, 
#scenecontent #timerparamstable,
#notificationtable:not(.dataTable),
#notifications>table, 
#paramstable,#fibaromain #uservariablesedittable,
#customlog, #timerparamstable,
#linkparamstable, #influxremote,
#linkhttpparamstable, #httpremote,
#linkgooglepubsubparamstable, #googlepubsubremote,
#fibaromain #linkparamstable, #fibaromain #fibaroremote,
#userparamstable,#activeparamstable, #lightcontent paramstable, 
#scenecontent #paramstable, 
#notificationparamstable, #hardwareparamstable
{
    background-color: #555!important;
    color:#fff!important;
    border-color: #555!important;
}


h1,h2,h3{color:#999}
    
.navbar{
    background-color:#eee;
}

#dashcontent h2, #settingscontent h1{
    font-size:160%;
    color:#fff;
    padding-bottom:10px;
    margin-top:30px!important;
    border-bottom:1px solid #fff;
}

tr, #name{
    border-radius: 0!important;
}


#dashcontent .ui-draggable:not(.ui-dialog) tr{
    background-color:transparent!important;
    background: -moz-linear-gradient(to bottom, rgba(241,245,250,1) 0% ,rgba(241,245,250,1) 55px, rgba(241,245,250,0.05) 55px, rgba(241,245,250,0.1) 60px,rgba(241,245,250,0.1) 100%); 
    background: -webkit-linear-gradient(to bottom, rgba(241,245,250,1) 0% ,rgba(241,245,250,1) 55px, rgba(241,245,250,0.05) 55px, rgba(241,245,250,0.1) 60px,rgba(241,245,250,0.1) 100%);
    background: linear-gradient(to bottom, rgba(241,245,250,1) 0% ,rgba(241,245,250,1) 55px, rgba(241,245,250,0.05) 55px,rgba(241,245,250,0.1) 60px, rgba(241,245,250,0.1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e1ee', endColorstr='#cccccccc',GradientType=0 );
    box-shadow: 2px 2px 18px 0px rgba(50, 50, 50, 0.2);
}

#dashcontent .ui-draggable tr{
    /*background-image: none!important;*/
    /*background-color: #D4E1EE;*/
    box-shadow: 2px 2px 18px 0px rgba(50, 50, 50, 0.3);
}

.ui-draggable:not(.ui-dialog) tr td{
    display:block;
}

#dashcontent #bigtext span {
    border-radius:3px;
}

#dashcontent .selectorlevels {
    width:100%;
    height:25px;
    position:relative;
    left:0!important;
    margin-top:0!important
}

#dashcontent .selectorlevels .ui-buttonset .ui-button{height:25px}

#dashcontent .selectorlevels .ui-buttonset{
    height:25px;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    margin-right:0;
}

#dashcontent td > div.dimslider{
    left:0;
    top:0;
    width:100%!important;
    /*box-shadow: inset 0 -2px 20px 1px rgba(0, 0, 0, 0.5); /*, 0 1px 5px 5px rgba(250, 250, 250, 0.4)*/
    background: rgba(50,50,50,0.5);
    height:25px;
    border-bottom:1px solid #555;
    border-right: 10px solid #D4E1EE;
    border-left: 10px solid #D4E1EE;
    box-sizing: border-box;
}

#dashcontent .dimslider .ui-slider-handle{
    top:-9px;
}

.ui-corner-bottom, .ui-corner-br, .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-left, .ui-corner-tr{
    border-radius:0!important;
}

.ui-draggable:not(.ui-dialog) tr td:last-of-type a.btnsmall{
    color:#fff;
    background-color:#999;
    margin-top:6px;
    margin-left:5px;
    padding:2px 5px;
    background: -moz-linear-gradient(top, #46b1d9 0%, #3d9bc9 50%, #2e8cbc 51%, #2571ab 100%);
    background: -webkit-linear-gradient(top, #46b1d9 0%,#3d9bc9 50%,#2e8cbc 51%,#2571ab 100%);
    background: linear-gradient(to bottom, #46b1d9 0%,#3d9bc9 50%,#2e8cbc 51%,#2571ab 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46b1d9', endColorstr='#2571ab',GradientType=0 );      
}

.sub-tabs-apply{
    position:inherit!important;
}

#dashcontent .selectorlevels .ui-state-default{
    background-color: #D4E1EE;
    box-shadow: -2px -1px 20px -1px rgba(50, 50, 50, 0.1)
}

#appversion {
    display: visible!important;
}

.navbar{
    background-color: #eee;
}

.ui-draggable:not(.ui-dialog) #lastupdate{
    /*color:#ccc;*/
}

#dashcontent h2, #settingscontent h1{
    color:#bbb;
    margin-top:30px;
}

.related > .span2,
.related > .span3 {
    text-align: center;
}

/*
.ui-draggable:not(.ui-dialog) tr {   
    background: -moz-linear-gradient(top, rgba(212,225,238,1) 0%, rgba(212,225,238,1) 42px, rgba(234,234,234,0.5) 42px, rgba(234,234,234,0.5) 100%);
    background: -webkit-linear-gradient(top, rgba(212,225,238,1) 0%,rgba(212,225,238,1) 42px,rgba(234,234,234,0.5) 42px,rgba(234,234,234,0.5) 100%);
    background: linear-gradient(to bottom, rgba(212,225,238,1) 0%,rgba(212,225,238,1) 42px,rgba(234,234,234,0.5) 42px,rgba(234,234,234,0.5) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e1ee', endColorstr='#d4e1ee',GradientType=0 );
}
*/

.row-fluid h1,
.row-fluid h2,
.row-fluid h3 {
    color:#ddd!important;
    border-bottom: 1px dotted #666;
}

#settingscontent .span6 tr{
    border-top: 1px solid #666;
}

textarea, input, select {
    background-color:#fff;
}

.relatedIcon{
vertical-align: text-bottom;
}


table.dataTable {
    background-color: #292929!important;
    color: #fff!important;
    border-color: #292929!important;
}



#img img, 
#img1 img,
#img2 img,    
#img3 img,
#img4 img{
    height:30px;    
    border-radius: 50%;
    box-sizing: border-box;
    padding:4px;
    box-shadow: -2px 0px 5px 1px rgba(50, 50, 50, 0.05);
    cursor: pointer;
}

.span4 #img img:hover, 
.span4 #img1 img:hover,
.span4 #img2 img:hover,
.span4 #img3 img:hover,
.span4 #img4 img:hover,
#dashcontent #img img:hover, 
#dashcontent #img1 img:hover,
#dashcontent #img2 img:hover,
#dashcontent #img3 img:hover,
#dashcontent #img4 img:hover{
    background-color:#3d9cca;
    cursor: pointer;
    -webkit-transition: .3s; /* Safari */
    transition: .3s;
}

#copyright{
    background-color:#222;
}