/* THIS MAKES 3 ITEMS AT THE TOP OF EACH CATEGORY TWICE AS BIG  */

@media all and (min-width: 768px){

    #dashcontent h2 + div.divider:nth-child(-n+2) .span4:nth-child(-n+3){
        height:143px!important;
        padding:0;
        /*margin-bottom: 20px;*/
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr{
        height:143px;
        /*background: rgba(203,96,179,1);
        background: rgba(196,225,238,1);*/
        background: -moz-linear-gradient(top, rgba(196,225,238,1) 0%, rgba(196,209,238,1) 27%, rgba(212,225,238,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(196,225,238,1)), color-stop(27%, rgba(196,209,238,1)), color-stop(100%, rgba(212,225,238,1)));
        background: -webkit-linear-gradient(top, rgba(196,225,238,1) 0%, rgba(196,209,238,1) 27%, rgba(212,225,238,1) 100%);
        background: -o-linear-gradient(top, rgba(196,225,238,1) 0%, rgba(196,209,238,1) 27%, rgba(212,225,238,1) 100%);
        background: -ms-linear-gradient(top, rgba(196,225,238,1) 0%, rgba(196,209,238,1) 27%, rgba(212,225,238,1) 100%);
        background: linear-gradient(to bottom, rgba(196,225,238,1) 0%, rgba(196,209,238,1) 27%, rgba(212,225,238,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4e1ee', endColorstr='#d4e1ee', GradientType=0 );
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr #name{
        padding:10px!important;
        height:35px!important;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmall tr #bigtext{
        font-family: "Lato", sans-serif;
        float: left;
        font-size: 25px;
        text-align: left;
        width: 65%;
        top: 36px;
        left:35%
    }
    
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmall tr #bigtext span{
        width:100%;
        overflow-x:hidden;
        display:inline-block;
        height:50px;
        line-height: 30px;
        font-size: 30px;
        background-color: transparent;  
    }    

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr #img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr #img1,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr #img2,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr #img3{
        border-radius:2px;
        overflow:visible;        
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr #img img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr #img1 img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr #img2 img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr #img3 img{
        /*width:60px;
        height:60px;*/
        width:100%;        
        height:auto;
        box-shadow: none;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmall tr #img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmall tr #img1{
        float: left!important;
        width: 30%;
        /*top: 14px;*/
        position: relative;        
        left: 5%;
        top: 35%;        
        border-bottom: 2px solid red;
        /*height: 1px;*/
        display: flex;
        align-items: center;
        flex-direction: row;
    }


    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmall tr #img img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmall tr #img1 img{
        width: 100%;
        height: auto;
        max-width: 80px;
        box-shadow: none;
        margin-left: auto;      
    }
    
    
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalltrippleicon tr #img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalltrippleicon tr #img1{
        top:14px;
        right:10%;  
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalltrippleicon tr #img2{
        top:14px;
        right:50%;
        margin-right:-30px!important;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalltrippleicon tr #img3{
        float:left!important;
        top:14px;
        left:10%;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalltrippleicon tr #img img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalltrippleicon tr #img1 img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalltrippleicon tr #img2 img{
        width:20%;
        height:20%;
        max-width:60px!important;
        max-height:60px!important;
        margin: 0 auto;(
          
        
    }
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalltrippleicon tr #bigtext{
        right:10px; 
        top:-26px
    }


    
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalldoubleicon tr #img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalldoubleicon tr #img1{
        float:left!important;
        width:35%;
        max-width:80px;
        top:14px; /* 24 after the JS fix? */
        left:10%;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalldoubleicon tr #img2{
        width:35%;
        max-width:80px;
        top:14px; /* 24 after the JS fix? */
        right:10%;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalldoubleicon tr #img img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalldoubleicon tr #img1 img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalldoubleicon tr #img2 img{
        width:100%;
        height:auto;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) td > div.dimslider {
        top: 110px;
        border:0;
        height:0;
        box-shadow:none;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) td > div.dimslider .ui-slider-handle{
        top: -23px;
        width: 40px;
        height: 40px;
        background-size: 80% 80%;
        left: 10px;
        margin-left: -20px;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) .dimslider .ui-slider-range {
        height: 108px;
        top: -110px;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) .selectorlevels {
        left:0;
        top:0;
        width:100%;
        margin:0!important;
        font-size:150%;
        border-radius:3px;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) .selectorlevels .ui-buttonset .ui-button{
        font-size:130%;
        height: auto;     
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) .selectorlevels  .ui-buttonset{
        height:108px;
        z-index:3;
        top:0px;
        display: flex;
        flex-flow: row wrap; 
        align-items: stretch; 
        margin-right:0;           
    }
    
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) .selectorlevels .ui-selectmenu-button{
        left: 35%;
        width: 65%!important;
        top: 30px;
        height: 60px;
        box-shadow:none;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) .selectorlevels .ui-selectmenu-button .ui-selectmenu-text{
        height:100%;
        padding: 15px 0 15px 10px!important;
        background-color: rgba(196,209,238,1);
        text-align: left;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) .selectorlevels .ui-selectmenu-button .ui-icon ui-icon-triangle-1-s{
        height:55px;
        padding:20px 0 0 0;
    }

    .ui-draggable-dragging{
        z-index:4;
    }
 

    /*  adds little icons to show current status of items, instead of the default box-shadow solution. */

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr.statusProtected,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr.statusProtected #name{
        box-shadow: none; 
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr.statusProtected:after {
        content : "";
        display: block;
        position: relative;
        top: -32px;
        right: 3px;
        float:right;
        background: url(/images/lock_closed.png) no-repeat center center; 
        -webkit-background-size: 16px;
        -moz-background-size: 16px;
        -o-background-size: 16px;
        background-size: 16px;
        width: 32px;
        height: 32px;
        opacity : 0.6;
        z-index: 1;
        cursor:pointer;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr.statusTimeout,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr.statusTimeout #name{
        box-shadow: none;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr.statusTimeout:after{
        content : "";
        display: block;
        position: relative;
        top: -32px;
        right: 5px;
        float:right;
        background: url(/images/Alert48_2.png) no-repeat center center; 
        -webkit-background-size: 16px;
        -moz-background-size: 16px
        -o-background-size: 16px;
        background-size: 16px;
        width: 32px;
        height: 32px;
        opacity : 0.8;
        z-index: 1;
        cursor:pointer;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr.statusLowBattery,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr.statusLowBattery #name{
        box-shadow: none;   
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr.statusLowBattery:after {
        content : "";
        display: block;
        position: relative;
        top: -32px;
        right: 5px;
        float:right;
        background: url(/images/battery-low.png) no-repeat center center; 
        -webkit-background-size: 20px;
        -moz-background-size: 20px;
        -o-background-size: 20px;
        background-size: 20px;
        width: 32px;
        height: 32px;
        opacity : 0.5;
        z-index: 1;
        cursor:pointer;
    }

}   /* closing of the media query */






    






