/* THIS MAKES 3 ITEMS AT THE TOP OF EACH CATEGORY TWICE AS BIG  */

@media all and (min-width: 768px){

    #dashcontent h2 + div.divider:nth-child(-n+2) .span4:nth-child(-n+3){
        height:143px!important;
        padding:0;
        /*margin-bottom: 20px;*/
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr{
        height:143px;
        background: rgba(203,96,179,1);
        background: rgba(196,225,238,1);
        background: -moz-linear-gradient(top, rgba(196,225,238,1) 0%, rgba(196,209,238,1) 27%, rgba(212,225,238,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(196,225,238,1)), color-stop(27%, rgba(196,209,238,1)), color-stop(100%, rgba(212,225,238,1)));
        background: -webkit-linear-gradient(top, rgba(196,225,238,1) 0%, rgba(196,209,238,1) 27%, rgba(212,225,238,1) 100%);
        background: -o-linear-gradient(top, rgba(196,225,238,1) 0%, rgba(196,209,238,1) 27%, rgba(212,225,238,1) 100%);
        background: -ms-linear-gradient(top, rgba(196,225,238,1) 0%, rgba(196,209,238,1) 27%, rgba(212,225,238,1) 100%);
        background: linear-gradient(to bottom, rgba(196,225,238,1) 0%, rgba(196,209,238,1) 27%, rgba(212,225,238,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4e1ee', endColorstr='#d4e1ee', GradientType=0 );
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr #name{
        padding:10px!important;
        height:35px!important;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmall tr #bigtext{
        font-family: "Lato", sans-serif;
        float: left;
        font-size: 25px;
        text-align: left;
        width: calc(100% - 105px);
        top: 36px;
        font-size: 30px;
        left:100px;
    }
    
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmall tr #bigtext span{
        width:100%;
        overflow-x:hidden;
    }    

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr #img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr #img1,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr #img2,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr #img3{
        border-radius:2px;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr #img img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr #img1 img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr #img2 img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr #img3 img{
        width:60px;
        height:60px;
        box-shadow: none;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmall tr #img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmall tr #img1{
        float: left!important;
        width: 60px;
        top: 24px;
        left: 15px;
    }


    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalltrippleicon tr #img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalltrippleicon tr #img1{
        top:24px;
        right:10%;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalltrippleicon tr #img2{
        top:24px;
        right:50%;
        margin-right:-30px!important;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalltrippleicon tr #img3{
        float:left!important;
        top:24px;
        left:10%;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalltrippleicon tr #img img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalltrippleicon tr #img1 img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalltrippleicon tr #img2 img{
        width:60px!important;
        height:60px!important;
        margin: 0 auto;
    }
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalltrippleicon tr #bigtext{
        right:10px; 
        top:-26px
    }


    
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalldoubleicon tr #img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalldoubleicon tr #img1{
        float:left!important;
        width:80px;
        top:14px; /* 24 na de JS fix? */
        left:10%;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalldoubleicon tr #img2{
        width:80px;
        top:14px; /* 24 na de JS fix? */
        right:10%;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalldoubleicon tr #img img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalldoubleicon tr #img1 img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalldoubleicon tr #img2 img{
        width:80px;
        height:80px;
    }    
    

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) td > div.dimslider {
        top: 110px;
        border:0;
        height:0;
        box-shadow:none;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) td > div.dimslider .ui-slider-handle{
        top: -23px;
        width: 40px;
        height: 40px;
        background-size: 80% 80%;
        left: 10px;
        margin-left: -20px;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) .dimslider .ui-slider-range {
        height: 108px;
        top: -110px;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) .selectorlevels {
        left:0;
        top:0;
        width:100%;
        margin:0!important;
        font-size:150%;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) .selectorlevels .ui-buttonset .ui-button{
        font-size:130%;
        height: auto;     
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) .selectorlevels  .ui-buttonset{
        height:108px;
        z-index:3;
        top:0px;
        display: flex;
        flex-flow: row wrap; 
        align-items: stretch; 
        margin-right:0;           
    }
    
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) .selectorlevels .ui-selectmenu-button{
        left: 115px;
        width: 50%!important;
        width: calc(100% - 115px)!important;
        top: 30px;
        width: 75%;
        height: 60px;
        box-shadow:none;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) .selectorlevels .ui-selectmenu-button .ui-selectmenu-text{
        height:100%;
        padding: 15px 0 15px 10px!important;
        background-color: rgba(196,209,238,1);
        text-align: left;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) .selectorlevels .ui-selectmenu-button .ui-icon ui-icon-triangle-1-s{
        height:55px;
        padding:20px 0 0 0;
    }

    .ui-draggable-dragging{
        z-index:4;
    }
    
}  


@media all and (min-width: 1200px){

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmall tr #bigtext{
        left: 110px;
        top: 32px;
        width: calc(100% - 110px);
        padding:0;
        background-color: transparent;
        line-height:40px;
    }
    
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmall tr #bigtext span{
        font-size: 40px;
        background-color: transparent;
        width:100%;
        overflow:hidden;
    }
    
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr #img img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr #img1 img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr #img2 img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) tr #img3 img{
        width:80px;
        height:80px;
        box-shadow: none;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmall tr #img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmall tr #img1{
        float: left!important;
        width: 80px!important;
        top: 14px;
        left: 25px;
    }


    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalldoubleicon tr #img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalldoubleicon tr #img1{
        float:left!important;
        width:80px;
        height:80px;
        top:14px;
        left:20%;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalldoubleicon tr #img2{
        width:80px;
        top:14px;
        right:20%;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalldoubleicon tr #img img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalldoubleicon tr #img1 img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalldoubleicon tr #img2 img{
        width:80px!important;
        height:80px!important;
        margin: 0 auto;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalltrippleicon tr #img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalltrippleicon tr #img1{
        top:14px;
        right:10%;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalltrippleicon tr #img2{
        top:14px;
        right:50%;
        margin-right:-40px!important;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalltrippleicon tr #img3{
        float:left!important;
        top:14px;
        left:10%;
    }

    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalltrippleicon tr #img img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalltrippleicon tr #img1 img,
    #dashcontent h2 + div.divider .span4:nth-child(-n+3) #itemtablesmalltrippleicon tr #img2 img{
        width:80px!important;
        height:80px!important;
        margin: 0 auto;
    }



    
    
    
    
}  