<div id="hardwarecontent" class="container">

  <table class="bannav" id="bannav" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
      <tr>
        <td>
          <a class="btnstylerev" routerLink="/Hardware">{{'Back'| translate}}</a>
        </td>
      </tr>
    </tbody>
  </table>

  <div style="text-align:center;">
    <h2><span>{{'Device'| translate}}</span>: {{hardware?.Name}}</h2>
  </div>

  <div id="ccusbeedit" style="text-align:center;" *ngIf="hardware">
    <form id="ccusbtype">
      <br>
      <h2><span>{{'Hardware'| translate}}</span>:</h2>
      <table>
        <tr>
          <td align="right" style="width:60px">
            <label><span>{{'Baudrate'| translate}}</span>: </label>
          </td>
          <td>
            <select id="CCBaudrate" name="CCBaudrate" [(ngModel)]="CCBaudrate" style="width:100px" class="combobox ui-corner-all">
              <option value="0">9600</option>
              <option value="1">57600</option>
            </select>
          </td>
        </tr>
      </table>
      <br>
      <br>
      <input type="hidden" id="idx" name="idx" [value]="hardware.idx">
      <button class="btn btn-danger" id="submitbuttonccusb" (click)="SetCCUSBType()">Set Mode</button>
    </form>
  </div>

</div>
