.dz-chrome-icon {
	display: inline-block;
	width: 1.25em;
	font-size: 16px;
	line-height: 1;
	text-align: center;
	vertical-align: middle;
}

.dz-chrome-icon-12 {
	font-size: 12px;
}

.dz-chrome-icon-14 {
	font-size: 14px;
}

.dz-chrome-icon-24 {
	font-size: 24px;
}

.dz-chrome-icon-32 {
	font-size: 32px;
}

.dz-chrome-icon-36 {
	font-size: 36px;
}

.btn.btn-icon > .dz-chrome-icon {
	line-height: 1;
	vertical-align: middle;
}

.nav li a > i {
	font-size: 16px;
	vertical-align: text-bottom;
}
