/*  This file helps older themes to still look the same  */

.brand h1 {
	float: left;
	margin-left: 36px;
	margin-top: -51px;
	text-decoration: none;
}

.brand h2 {
	float: left;
	margin-left: 38px;
	margin-top: -17px;
}

.brand img {
	width: 42px;
	height: 42px;
	margin-left: -10px;
	margin-top: -10px;
}

@media (min-width: 768px) and (max-width: 1200px) {
	.navbar .nav li a {
		padding: 10px 5px 10px 5px !important;
	}
}

.ui-btn:hover {
	background-color: rgba(255,255,255,.3) !important;
}

.sub-tabs-apply {
	color: #fff !important;
	border: 1px solid #ff0000 !important;
}

/* I am using the :first-child as a way to style each column by itself*/
/* First column */
body table#itemtable tr td:first-child {
	height: 1.2em;
	padding: 0 .5em 0 .5em;
	margin-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	white-space: nowrap;
	border-width: 1px 1px 1px 1px;
	border-color: #2B5074;
	border-style: solid;
	border-radius: 5px;
	color: #0D161F;
	background-color: #D4E1EE;
}

	/* Second column */
	body table#itemtable tr td:first-child + td {
		float: right;
		margin: -27px 3px 0px 0px;
		font-size: 140%;
		font-weight: bold;
		white-space: nowrap;
		color: #000000;
	}

		/* Third column */
		body table#itemtable tr td:first-child + td + td {
			border-color: #2B5074;
			border-style: none;
			border-width: 1px;
			float: left;
			margin: 0 10px 10px 0;
		}

			body table#itemtable tr td:first-child + td + td img {
				display: block;
			}

			/* Fourth column */
			body table#itemtable tr td:first-child + td + td + td {
				font-size: 90%;
				font-weight: bold;
			}

				/* Fifth column */
				body table#itemtable tr td:first-child + td + td + td + td {
					font-size: 80%;
				}

					body table#itemtable tr td:first-child + td + td + td + td:before {
						content: "Last Seen: ";
						font-style: italic;
					}

					/* Sixth column */
					body table#itemtable tr td:first-child + td + td + td + td + td {
						font-size: 80%;
					}

						body table#itemtable tr td:first-child + td + td + td + td + td:before {
							content: "Type: ";
							font-style: italic;
						}

						/* Seventh column (bottom text)*/
						body table#itemtable tr td:first-child + td + td + td + td + td + td {
							font-size: 90%;
							clear: both;
							padding: 0 5% 0 5%;
							line-height: 130%;
						}

/* Hover state*/
body table#itemtable tbody tr:hover {
	border-color: #2B2C74;
	background-color: #F2F1FA;
}

body table#itemtable tr:hover td:first-child {
	border-color: #2B2C74;
	color: #0D0D1F;
	background-color: #D4D5EE;
}

body table#itemtablenotype,
body table#itemtablenotype tbody {
display: block;
width: 100%;
}

body table#itemtablenotype tbody tr {
	display: block;
	width: 98%;
	padding: 5px 5px 5px 5px;
	margin: 2px 100% 5px 0;
	border-style: none;
	border-radius: 5px;
	color: #0D161F;
	background-color: #F1F5FA;
	font-family: Arial, Helvetica, sans-serif;
}


body table#itemtablenotype thead {
	display: none;
}

body table#itemtablenotype tr > * {
	display: block;
	padding: 0;
	margin: 0;
}

/* I am using the :first-child as a way to style each column by itself*/
/* First column */
body table#itemtablenotype tr td:first-child {
	height: 1.2em;
	padding: 0 .5em 0 .5em;
	margin-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	white-space: nowrap;
	border-width: 1px 1px 1px 1px;
	border-color: #2B5074;
	border-style: solid;
	border-radius: 5px;
	color: #0D161F;
	background-color: #D4E1EE;
}

	/* Second column */
	body table#itemtablenotype tr td:first-child + td {
		float: right;
		margin: -27px 3px 0px 0px;
		font-size: 140%;
		font-weight: bold;
		white-space: nowrap;
		color: #000000;
	}

		/* Third column */
		body table#itemtablenotype tr td:first-child + td + td {
			border-color: #2B5074;
			border-style: none;
			border-width: 1px;
			float: left;
			margin: 0 10px 10px 0;
		}

			body table#itemtablenotype tr td:first-child + td + td img {
				display: block;
			}

			/* Fourth column */
			body table#itemtablenotype tr td:first-child + td + td + td {
				font-size: 90%;
				font-weight: bold;
			}

				/* Fifth column */
				body table#itemtablenotype tr td:first-child + td + td + td + td {
					font-size: 80%;
				}

					body table#itemtablenotype tr td:first-child + td + td + td + td:before {
						content: "Last Seen: ";
						font-style: italic;
					}

					/* Sixth column (bottom text)*/
					body table#itemtablenotype tr td:first-child + td + td + td + td + td {
						font-size: 90%;
						clear: both;
						padding: 0 5% 0 5%;
						line-height: 130%;
					}

/* Hover state*/
body table#itemtablenotype tbody tr:hover {
	border-color: #2B2C74;
	background-color: #F2F1FA;
}

body table#itemtablenotype tr:hover td:first-child {
	border-color: #2B2C74;
	color: #0D0D1F;
	background-color: #D4D5EE;
}

/* Itemtable no status: line */
body table#itemtablenostatus,
body table#itemtablenostatus tbody {
display: block;
width: 100%;
}

body table#itemtablenostatus tbody tr {
	display: block;
	width: 98%;
	padding: 5px 5px 5px 5px;
	margin: 2px 100% 5px 0;
	border-style: none;
	border-radius: 5px;
	color: #0D161F;
	background-color: #F1F5FA;
	font-family: Arial, Helvetica, sans-serif;
}


body table#itemtablenostatus thead {
	display: none;
}

body table#itemtablenostatus tr > * {
	display: block;
	padding: 0;
	margin: 0;
}

/* I am using the :first-child as a way to style each column by itself*/
/* First column */
body table#itemtablenostatus tr td:first-child {
	height: 1.2em;
	padding: 0 .5em 0 .5em;
	margin-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	white-space: nowrap;
	border-width: 1px 1px 1px 1px;
	border-color: #2B5074;
	border-style: solid;
	border-radius: 5px;
	color: #0D161F;
	background-color: #D4E1EE;
}

	/* Second column */
	body table#itemtablenostatus tr td:first-child + td {
		float: right;
		margin: -27px 3px 0px 0px;
		font-size: 140%;
		font-weight: bold;
		white-space: nowrap;
		color: #000000;
	}

		/* Third column */
		body table#itemtablenostatus tr td:first-child + td + td {
			border-color: #2B5074;
			border-style: none;
			border-width: 1px;
			float: left;
			margin: 0 10px 10px 0;
		}

			body table#itemtablenostatus tr td:first-child + td + td img {
				display: block;
			}

			/* Fourth column */
			body table#itemtablenostatus tr td:first-child + td + td + td {
				font-size: 90%;
				font-weight: bold;
			}

				body table#itemtablenostatus tr td:first-child + td + td + td:before {
					font-style: italic;
					font-size: 90%;
				}

				/* Fifth column */
				body table#itemtablenostatus tr td:first-child + td + td + td + td {
					font-size: 80%;
				}

					body table#itemtablenostatus tr td:first-child + td + td + td + td:before {
						content: "Last Seen: ";
						font-style: italic;
					}

					/* Sixth column */
					body table#itemtablenostatus tr td:first-child + td + td + td + td + td {
						font-size: 80%;
					}

						body table#itemtablenostatus tr td:first-child + td + td + td + td + td:before {
							content: "Type: ";
							font-style: italic;
						}

						/* Seventh column (bottom text)*/
						body table#itemtablenostatus tr td:first-child + td + td + td + td + td + td {
							font-size: 90%;
							clear: both;
							padding: 0 5% 0 5%;
							line-height: 130%;
						}

/* Hover state*/
body table#itemtablenostatus tbody tr:hover {
	border-color: #2B2C74;
	background-color: #F2F1FA;
}

body table#itemtablenostatus tr:hover td:first-child {
	border-color: #2B2C74;
	color: #0D0D1F;
	background-color: #D4D5EE;
}

/* Item Table Small */
body table#itemtablesmall,
body table#itemtablesmall tbody {
display: block;
width: 100%;
}

body table#itemtablesmall tbody tr {
	display: block;
	width: 98%;
	min-height: 66px;
	padding: 5px 5px 5px 5px;
	margin: 2px 100% 5px 0;
	border-style: none;
	border-radius: 5px;
	color: #0D161F;
	background-color: #F1F5FA;
	font-family: Arial, Helvetica, sans-serif;
}

body table#itemtablesmall thead {
	display: none;
}

body table#itemtablesmall tr > * {
	display: block;
	padding: 0;
	margin: 0;
}

/* I am using the :first-child as a way to style each column by itself*/
/* First column */
body table#itemtablesmall tr td:first-child {
	height: 1.2em;
	padding: 0 .5em 0 .5em;
	margin-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	white-space: nowrap;
	border-width: 1px 1px 1px 1px;
	border-color: #2B5074;
	border-style: solid;
	border-radius: 5px;
	color: #0D161F;
	background-color: #D4E1EE;
}

	/* Second column */
	body table#itemtablesmall tr td:first-child + td {
		float: right;
		margin: -27px 3px 0px 0px;
		font-size: 140%;
		font-weight: bold;
		white-space: nowrap;
		color: #000000;
	}

		/* Third column */
		body table#itemtablesmall tr td:first-child + td + td {
			border-color: #2B5074;
			border-style: none;
			border-width: 1px;
			float: left;
			margin: 0 10px 10px 0;
		}

			body table#itemtablesmall tr td:first-child + td + td img {
				display: block;
			}

			/* Fourth column */
			body table#itemtablesmall tr td:first-child + td + td + td {
				font-size: 90%;
				font-weight: bold;
				line-height: 86%;
			}

				body table#itemtablesmall tr td:first-child + td + td + td:before {
					content: "";
					font-style: italic;
					font-size: 90%;
				}

				/* Fifth column */
				body table#itemtablesmall tr td:first-child + td + td + td + td {
					margin-top: 2px;
					font-size: 80%;
					line-height: 86%;
				}

					body table#itemtablesmall tr td:first-child + td + td + td + td:before {
						content: "Last Seen: ";
						font-style: italic;
					}

/* Hover state*/
body table#itemtablesmall tbody tr:hover {
	border-color: #2B2C74;
	background-color: #F2F1FA;
}

body table#itemtablesmall tr:hover td:first-child {
	border-color: #2B2C74;
	color: #0D0D1F;
	background-color: #D4D5EE;
}

/* Item Table Double Icon */
body table#itemtabledoubleicon,
body table#itemtabledoubleicon tbody {
display: block;
width: 100%;
}

body table#itemtabledoubleicon tbody tr {
	display: block;
	width: 98%;
	padding: 5px 5px 5px 5px;
	margin: 2px 100% 5px 0;
	border-style: none;
	border-radius: 5px;
	color: #0D161F;
	background-color: #F1F5FA;
	font-family: Arial, Helvetica, sans-serif;
}


body table#itemtabledoubleicon thead {
	display: none;
}

body table#itemtabledoubleicon tr > * {
	display: block;
	padding: 0;
	margin: 0;
}

/* I am using the :first-child as a way to style each column by itself*/
/* First column */
body table#itemtabledoubleicon tr td:first-child {
	height: 1.2em;
	padding: 0 .5em 0 .5em;
	margin-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	white-space: nowrap;
	border-width: 1px 1px 1px 1px;
	border-color: #2B5074;
	border-style: solid;
	border-radius: 5px;
	color: #0D161F;
	background-color: #D4E1EE;
}

	/* Second column */
	body table#itemtabledoubleicon tr td:first-child + td {
		float: right;
		margin: -27px 3px 0px 0px;
		font-size: 140%;
		font-weight: bold;
		white-space: nowrap;
		color: #000000;
	}

		/* Third column */
		body table#itemtabledoubleicon tr td:first-child + td + td {
			border-style: none;
			float: left;
			margin: 0 5px 10px 0;
		}

			body table#itemtabledoubleicon tr td:first-child + td + td img {
				display: block;
			}

			/* Fourth column */
			body table#itemtabledoubleicon tr td:first-child + td + td + td {
				border-style: none;
				float: left;
				margin: 0 10px 10px 0;
			}

				body table#itemtabledoubleicon tr td:first-child + td + td + td img {
					display: block;
				}

				/* Fifth column */
				body table#itemtabledoubleicon tr td:first-child + td + td + td + td {
					font-size: 90%;
					font-weight: bold;
				}

					/* Sixth column */
					body table#itemtabledoubleicon tr td:first-child + td + td + td + td + td {
						font-size: 80%;
					}

						body table#itemtabledoubleicon tr td:first-child + td + td + td + td + td:before {
							content: "Last Seen: ";
							font-style: italic;
						}

						/* Seventh column */
						body table#itemtabledoubleicon tr td:first-child + td + td + td + td + td + td {
							font-size: 80%;
						}

							body table#itemtabledoubleicon tr td:first-child + td + td + td + td + td + td:before {
								content: "Type: ";
								font-style: italic;
							}

							/* Eighth column (bottom text)*/
							body table#itemtabledoubleicon tr td:first-child + td + td + td + td + td + td + td {
								font-size: 90%;
								margin-top: 16px;
								clear: both;
								padding: 0 5% 0 5%;
								line-height: 130%;
							}

/* Hover state*/
body table#itemtabledoubleicon tbody tr:hover {
	border-color: #2B2C74;
	background-color: #F2F1FA;
}

body table#itemtabledoubleicon tr:hover td:first-child {
	border-color: #2B2C74;
	color: #0D0D1F;
	background-color: #D4D5EE;
}

/* Item Table Tripple Icon */
body table#itemtabletrippleicon,
body table#itemtabletrippleicon tbody {
display: block;
width: 100%;
}

body table#itemtabletrippleicon tbody tr {
	display: block;
	width: 98%;
	padding: 5px 5px 5px 5px;
	margin: 2px 100% 5px 0;
	border-style: none;
	border-radius: 5px;
	color: #0D161F;
	background-color: #F1F5FA;
	font-family: Arial, Helvetica, sans-serif;
}


body table#itemtabletrippleicon thead {
	display: none;
}

body table#itemtabletrippleicon tr > * {
	display: block;
	padding: 0;
	margin: 0;
}

/* I am using the :first-child as a way to style each column by itself*/
/* First column */
body table#itemtabletrippleicon tr td:first-child {
	height: 1.2em;
	padding: 0 .5em 0 .5em;
	margin-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	white-space: nowrap;
	border-width: 1px 1px 1px 1px;
	border-color: #2B5074;
	border-style: solid;
	border-radius: 5px;
	color: #0D161F;
	background-color: #D4E1EE;
}

	/* Second column */
	body table#itemtabletrippleicon tr td:first-child + td {
		float: right;
		margin: -27px 3px 0px 0px;
		font-size: 140%;
		font-weight: bold;
		white-space: nowrap;
		color: #000000;
	}

		/* Third column */
		body table#itemtabletrippleicon tr td:first-child + td + td {
			border-style: none;
			float: left;
			margin: 0 4px 10px 0;
		}

			body table#itemtabletrippleicon tr td:first-child + td + td img {
				display: block;
			}

			/* Fourth column */
			body table#itemtabletrippleicon tr td:first-child + td + td + td {
				border-style: none;
				float: left;
				margin: 0 4px 10px 0;
			}

				body table#itemtabletrippleicon tr td:first-child + td + td + td img {
					display: block;
				}

				/* Fifth column */
				body table#itemtabletrippleicon tr td:first-child + td + td + td + td {
					border-style: none;
					float: left;
					margin: 0 5px 10px 0;
				}

					body table#itemtabletrippleicon tr td:first-child + td + td + td + td img {
						display: block;
					}

					/* Sixt column */
					body table#itemtabletrippleicon tr td:first-child + td + td + td + td + td {
						font-size: 90%;
						font-weight: bold;
					}

						/* Seventh column */
						body table#itemtabletrippleicon tr td:first-child + td + td + td + td + td + td {
							font-size: 80%;
						}

							body table#itemtabletrippleicon tr td:first-child + td + td + td + td + td + td:before {
								content: "Last Seen: ";
								font-style: italic;
							}

							/* Eighth column */
							body table#itemtabletrippleicon tr td:first-child + td + td + td + td + td + td + td {
								font-size: 80%;
							}

								body table#itemtabletrippleicon tr td:first-child + td + td + td + td + td + td + td:before {
									content: "Type: ";
									font-style: italic;
								}

								/* Nineth column (bottom text)*/
								body table#itemtabletrippleicon tr td:first-child + td + td + td + td + td + td + td + td {
									font-size: 90%;
									clear: both;
									padding: 0 5% 0 5%;
									line-height: 130%;
								}

/* Hover state*/
body table#itemtabletrippleicon tbody tr:hover {
	border-color: #2B2C74;
	background-color: #F2F1FA;
}

body table#itemtabletrippleicon tr:hover td:first-child {
	border-color: #2B2C74;
	color: #0D0D1F;
	background-color: #D4D5EE;
}

/* Item Table Small Double Icon */
body table#itemtablesmalldoubleicon,
body table#itemtablesmalldoubleicon tbody {
display: block;
width: 100%;
}

body table#itemtablesmalldoubleicon tbody tr {
	display: block;
	width: 98%;
	height: 66px;
	padding: 5px 5px 5px 5px;
	margin: 2px 100% 5px 0;
	border-style: none;
	border-radius: 5px;
	color: #0D161F;
	background-color: #F1F5FA;
	font-family: Arial, Helvetica, sans-serif;
}

body table#itemtablesmalldoubleicon thead {
	display: none;
}

body table#itemtablesmalldoubleicon tr > * {
	display: block;
	padding: 0;
	margin: 0;
}

/* I am using the :first-child as a way to style each column by itself*/
/* First column */
body table#itemtablesmalldoubleicon tr td:first-child {
	height: 1.2em;
	padding: 0 .5em 0 .5em;
	margin-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	white-space: nowrap;
	border-width: 1px 1px 1px 1px;
	border-color: #2B5074;
	border-style: solid;
	border-radius: 5px;
	color: #0D161F;
	background-color: #D4E1EE;
}

	/* Second column */
	body table#itemtablesmalldoubleicon tr td:first-child + td {
		float: right;
		margin: -27px 3px 0px 0px;
		font-size: 140%;
		font-weight: bold;
		white-space: nowrap;
		color: #000000;
	}

		/* Third column */
		body table#itemtablesmalldoubleicon tr td:first-child + td + td {
			border-style: none;
			float: left;
			margin: 0 5px 10px 0;
		}

			body table#itemtablesmalldoubleicon tr td:first-child + td + td img {
				display: block;
			}

			/* Fourth column */
			body table#itemtablesmalldoubleicon tr td:first-child + td + td + td {
				border-style: none;
				float: left;
				margin: 0 10px 10px 0;
			}

				body table#itemtablesmalldoubleicon tr td:first-child + td + td + td img {
					display: block;
				}

				/* Fifth column */
				body table#itemtablesmalldoubleicon tr td:first-child + td + td + td + td {
					font-size: 90%;
					font-weight: bold;
					line-height: 86%;
				}

					body table#itemtablesmalldoubleicon tr td:first-child + td + td + td + td:before {
						content: "";
						font-style: italic;
						font-size: 90%;
					}

					/* Sixth column */
					body table#itemtablesmalldoubleicon tr td:first-child + td + td + td + td + td {
						margin-top: 2px;
						font-size: 80%;
						line-height: 86%;
					}

						body table#itemtablesmalldoubleicon tr td:first-child + td + td + td + td + td:before {
							content: "Last Seen: ";
							font-style: italic;
						}

/* Hover state*/
body table#itemtablesmalldoubleicon tbody tr:hover {
	border-color: #2B2C74;
	background-color: #F2F1FA;
}

body table#itemtablesmalldoubleicon tr:hover td:first-child {
	border-color: #2B2C74;
	color: #0D0D1F;
	background-color: #D4D5EE;
}

/* Item Table Small Tripple Icon */
body table#itemtablesmalltrippleicon,
body table#itemtablesmalltrippleicon tbody {
display: block;
width: 100%;
}

body table#itemtablesmalltrippleicon tbody tr {
	display: block;
	width: 98%;
	height: 66px;
	padding: 5px 5px 5px 5px;
	margin: 2px 100% 5px 0;
	border-style: none;
	border-radius: 5px;
	color: #0D161F;
	background-color: #F1F5FA;
	font-family: Arial, Helvetica, sans-serif;
}

body table#itemtablesmalltrippleicon thead {
	display: none;
}

body table#itemtablesmalltrippleicon tr > * {
	display: block;
	padding: 0;
	margin: 0;
}

/* I am using the :first-child as a way to style each column by itself*/
/* First column */
body table#itemtablesmalltrippleicon tr td:first-child {
	height: 1.2em;
	padding: 0 .5em 0 .5em;
	margin-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	white-space: nowrap;
	border-width: 1px 1px 1px 1px;
	border-color: #2B5074;
	border-style: solid;
	border-radius: 5px;
	color: #0D161F;
	background-color: #D4E1EE;
}

	/* Second column */
	body table#itemtablesmalltrippleicon tr td:first-child + td {
		float: right;
		margin: -27px 3px 0px 0px;
		font-size: 140%;
		font-weight: bold;
		white-space: nowrap;
		color: #000000;
	}

		/* Third column */
		body table#itemtablesmalltrippleicon tr td:first-child + td + td {
			border-style: none;
			float: left;
			margin: 0 5px 10px 0;
		}

			body table#itemtablesmalltrippleicon tr td:first-child + td + td img {
				display: block;
			}

			/* Fourth column */
			body table#itemtablesmalltrippleicon tr td:first-child + td + td + td {
				border-style: none;
				float: left;
				margin: 0 5px 5px 0;
			}

				body table#itemtablesmalltrippleicon tr td:first-child + td + td + td img {
					display: block;
				}

				/* Fifth column */
				body table#itemtablesmalltrippleicon tr td:first-child + td + td + td + td {
					border-style: none;
					float: left;
					margin: 0 10px 10px 0;
				}

					body table#itemtablesmalltrippleicon tr td:first-child + td + td + td + td img {
						display: block;
					}

					/* Sixth column */
					body table#itemtablesmalltrippleicon tr td:first-child + td + td + td + td + td {
						font-size: 90%;
						font-weight: bold;
						line-height: 86%;
					}

						body table#itemtablesmalltrippleicon tr td:first-child + td + td + td + td + td:before {
							content: "";
							font-style: italic;
							font-size: 90%;
						}

						/* Seventh column */
						body table#itemtablesmalltrippleicon tr td:first-child + td + td + td + td + td + td {
							margin-top: 2px;
							font-size: 80%;
							line-height: 86%;
						}

							body table#itemtablesmalltrippleicon tr td:first-child + td + td + td + td + td + td:before {
								content: "Last Seen: ";
								font-style: italic;
							}

/* Hover state*/
body table#itemtablesmalltrippleicon tbody tr:hover {
	border-color: #2B2C74;
	background-color: #F2F1FA;
}

body table#itemtablesmalltrippleicon tr:hover td:first-child {
	border-color: #2B2C74;
	color: #0D0D1F;
	background-color: #D4D5EE;
}

div.item.statusNormal td#name{
    background-color: #D4E1EE;
}
div.item.statusProtected td#name{
    background-color: #A4B1EE;
}
div.item.statusTimeout td#name{
    background-color:#DF2D3A;
}
div.item.statusLowBattery td#name{
    background-color:#DDDF2D;
}
div.item.statusDisabled td#name{
    background-color:#A6A8AA;
}
div.item.statusDisabled{
   	opacity: 0.5;
}
div.item.statusEvoSetPointOff td#name{
    background-color:#9b9b9b;
}
div.item.statusEvoSetPoint25 td#name{
    background-color:#ff0302;
}
div.item.statusEvoSetPoint22 td#name{
    background-color:#ff6a2a;
}
div.item.statusEvoSetPoint19 td#name{
    background-color:#fe9b2d;
}
div.item.statusEvoSetPoint16 td#name{
    background-color:#79bc5c;
}
div.item.statusEvoSetPointMin td#name{
    background-color:#6ca5fd;
}

.selectorlevels {
	font-size: 1em;
}

#dashcontent .selectorlevels {
	font-size: 0.9em;
}

.selectorlevels .ui-button-text-only .ui-button-text {
	padding: .3em 0.7em;
}

.selectorlevels .ui-selectmenu-button.ui-widget {
	font-size: 1.1em;
}

.zwave_label {
	font-style: normal;
	font-weight: bold;
	color: #fff;
}
.zwave_no_info {
	font-style: italic;
	color: #ff5050;
}
.zwave_help {
	font-style: normal;
	color: #bbd;
}
.zwave_help div {
	padding-left: 2em;
}
.zwave_last_update {
	font-style: italic;
	font-size: smaller;
	color: #e0c0ff;
}

#highcharts-menu #hr {
	margin: 120px 0;
}
#highcharts-menu-item {
	padding: 100px 100px;
}
