/*  This file helps older themes to still look the same  */
@import url("variables.css");

.brand h1 {
	float: left;
	margin-left: 36px;
	margin-top: -51px;
	text-decoration: none;
}

.brand h2 {
	float: left;
	margin-left: 38px;
	margin-top: -17px;
}

.brand img {
	width: 42px;
	height: 42px;
	margin-left: -10px;
	margin-top: -10px;
}

@media (min-width: 768px) and (max-width: 1200px) {
	.navbar .nav li a {
		padding: 9px !important;
	}
}

@media (min-width: 360px) and (max-width: 400px) {
	.navbar .nav li a {
		padding: 7px !important;
	}
}

@media (min-width: 260px) and (max-width: 300px) {
	.navbar .nav li a {
		padding: 3px !important;
	}
}

@media (min-width: 260px) and (max-width: 978px) {
	#holder > .container-fluid {
		padding-top: 0px;
		padding-bottom: 4px;
	}
}

.ui-btn:hover {
	background-color: rgba(255,255,255,.3) !important;
}

.sub-tabs-apply {
	color: #fff !important;
	border: 1px solid #ff0000 !important;
}

.zwave_label {
	font-style: normal;
	font-weight: bold;
	color: #fff;
}
.zwave_no_info {
	font-style: italic;
	color: #ff5050;
}
.zwave_help {
	font-style: normal;
	color: #bbd;
}
.zwave_help div {
	padding-left: 2em;
}
.zwave_last_update {
	font-style: italic;
	font-size: smaller;
	color: #e0c0ff;
}
#highcharts-menu #hr {
	margin: 120px 0;
}
#highcharts-menu-item {
	padding: 100px 100px;
}
